<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP2. SGE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>APP2. SGE</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/714214ff-c925-4446-b605-5fc60046e263.png" alt="APP2. SGE" usemap="#714214ff-c925-4446-b605-5fc60046e263map">
			<map name="714214ff-c925-4446-b605-5fc60046e263map">
						<area shape="rect" coords="1074,514,1205,569" href="../elements/e714cb3d-8725-4e00-97d5-21c0934b46d1.html"  target="element">
						<area shape="rect" coords="1073,574,1204,629" href="../elements/4b29832a-0055-4a5c-b315-2b9a9349ba58.html"  target="element">
						<area shape="rect" coords="1234,538,1354,593" href="../elements/5283ac67-ec41-470d-9016-120c1550b585.html"  target="element">
						<area shape="rect" coords="1074,274,1222,329" href="../elements/64ca0e3e-e654-4c48-85dc-15fe44dff6fa.html"  target="element">
						<area shape="rect" coords="1074,874,1205,929" href="../elements/bd6a43e4-0415-4bcc-9ef9-5b7333ed5a0f.html"  target="element">
						<area shape="rect" coords="1074,934,1207,989" href="../elements/1962985e-5834-4dc7-99fa-41e4d96e7db2.html"  target="element">
						<area shape="rect" coords="1073,1054,1205,1109" href="../elements/63a722ea-9785-4e81-95b9-bbd11d833b09.html"  target="element">
						<area shape="rect" coords="1073,334,1221,389" href="../elements/1fe3d17c-39d7-44ce-8200-f830f476fb72.html"  target="element">
						<area shape="rect" coords="1073,394,1221,449" href="../elements/5de2dca3-0c07-48db-94f4-8708b7ad64aa.html"  target="element">
						<area shape="rect" coords="1074,634,1205,689" href="../elements/3728187e-81e9-473a-b914-7c67a97ddb51.html"  target="element">
						<area shape="rect" coords="1073,1114,1205,1169" href="../elements/f3dc5e03-dc72-4891-9855-89ea4c9650ff.html"  target="element">
						<area shape="rect" coords="1074,994,1204,1049" href="../elements/6465dfc5-421d-4d2e-a495-8834b8385995.html"  target="element">
						<area shape="rect" coords="1222,910,1352,965" href="../elements/9e3fb03a-d59d-49b4-b939-127c97159b09.html"  target="element">
						<area shape="rect" coords="370,862,527,917" href="../elements/ea9ee90c-de64-48d0-b126-07e290e9bbe1.html"  target="element">
						<area shape="rect" coords="370,513,527,568" href="../elements/929a66a2-11a3-4883-9ef8-e53b2cf5b94c.html"  target="element">
								<area shape="rect" coords="646,269,838,324" href="../elements/32501d01-10b3-430e-a6b4-380829f7b217.html"  target="element">
								<area shape="rect" coords="694,509,886,564" href="../elements/0adb8dcf-d3fc-424a-9bea-2f7bf937e9b1.html"  target="element">
								<area shape="rect" coords="646,869,838,924" href="../elements/b2849d99-5b11-444f-9044-e88728f35255.html"  target="element">
								<area shape="rect" coords="790,749,947,804" href="../elements/9b83d9ec-d0fd-447b-8e80-9bf55e685327.html"  target="element">

						<area shape="rect" coords="370,585,527,640" href="../elements/6728a6a1-7861-4473-afb5-09c0ddedac2a.html"  target="element">
						<area shape="rect" coords="370,274,527,329" href="../elements/8f3c3428-62f8-4099-82cd-b0be133c4875.html"  target="element">
						<area shape="rect" coords="1074,754,1206,809" href="../elements/c1d1b66e-e9ba-4cc4-8597-f37758649fc6.html"  target="element">
						<area shape="rect" coords="1234,288,1354,343" href="../elements/b50d54d8-292d-42fb-83f3-5e3758601416.html"  target="element">
						<area shape="rect" coords="586,1270,986,1325" href="../elements/0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html"  target="element">
						<area shape="rect" coords="1075,1174,1207,1229" href="../elements/cb96bdab-142a-45aa-b7df-823945e0b43f.html"  target="element">
						<area shape="rect" coords="1234,604,1354,659" href="../elements/0e6caf76-1aff-40ad-b6be-1d6daeaf06fa.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El sistema de información gerencial centraliza y procesa información administrativa para generar reportes, analítica y visualizaciones que informen frente a la política de empleo y de formación para el trabajo.


Objetivo
--Realizar seguimiento y monitoreo de resultados de las políticas de empleo para trazar la obtención de servicios de empleo a nivel individual y los resultados en empleo formal
--Recoger y procesar información sobre la oferta y demanda de cualificaciones


Components
Análisis de Intervención y Cumplimiento de Empleo
Seguimiento Políticas Públicas de Empleo
Alertas de Seguimiento
Recolección de fuentes información sobre la oferta y demanda de las políticas


</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/e714cb3d-8725-4e00-97d5-21c0934b46d1.html" target="element"> Reglas Pol&#237;tica activa </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/4b29832a-0055-4a5c-b315-2b9a9349ba58.html" target="element"> Reglas Pol&#237;tica pasiva </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/5283ac67-ec41-470d-9016-120c1550b585.html" target="element"> Reglas de Ocupaci&#243;n Laboral </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/64ca0e3e-e654-4c48-85dc-15fe44dff6fa.html" target="element"> Lineamientos de Cumplimiento </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/bd6a43e4-0415-4bcc-9ef9-5b7333ed5a0f.html" target="element"> Recolecci&#243;n Oferta y Demanda (SNC) </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element"> Recolecci&#243;n Intermediaci&#243;n laboral (SPE) </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/63a722ea-9785-4e81-95b9-bbd11d833b09.html" target="element"> Recolecci&#243;n Capacitaci&#243;n </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/1fe3d17c-39d7-44ce-8200-f830f476fb72.html" target="element"> Lineamientos de Intervenci&#243;n Inst. </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/5de2dca3-0c07-48db-94f4-8708b7ad64aa.html" target="element"> Lineamientos de Oferta y Demanda </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/3728187e-81e9-473a-b914-7c67a97ddb51.html" target="element"> Reglas Oferta y Demanda Laboral </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/f3dc5e03-dc72-4891-9855-89ea4c9650ff.html" target="element"> Recolecci&#243;n Pol&#237;ticas Act. y Pasv. </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/6465dfc5-421d-4d2e-a495-8834b8385995.html" target="element"> Recolecci&#243;n Requisitos Oferta Laboral </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element"> Recolecci&#243;n Brechas Capital Humano </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/ea9ee90c-de64-48d0-b126-07e290e9bbe1.html" target="element"> Procesamiento Datos Empleo #2 </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/929a66a2-11a3-4883-9ef8-e53b2cf5b94c.html" target="element"> Vsualizaci&#243;n Datos Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/32501d01-10b3-430e-a6b4-380829f7b217.html" target="element"> An&#225;lisis de Intervenci&#243;n y Cumplimiento de Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/0adb8dcf-d3fc-424a-9bea-2f7bf937e9b1.html" target="element"> Seguimiento Pol&#237;ticas P&#250;blicas de Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/b2849d99-5b11-444f-9044-e88728f35255.html" target="element"> Recolecci&#243;n de fuentes </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/9b83d9ec-d0fd-447b-8e80-9bf55e685327.html" target="element"> Alertas de Seguimiento </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										
										<tr><td> <a href="../elements/6728a6a1-7861-4473-afb5-09c0ddedac2a.html" target="element"> Reportes Datos Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/8f3c3428-62f8-4099-82cd-b0be133c4875.html" target="element"> Procesamiento Datos Empleo #1 </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/c1d1b66e-e9ba-4cc4-8597-f37758649fc6.html" target="element"> Definici&#243;n Alertas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/b50d54d8-292d-42fb-83f3-5e3758601416.html" target="element"> Otros Lineamientos de anal&#237;tica </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> Centro de Inteligencia Informaci&#243;n de Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/cb96bdab-142a-45aa-b7df-823945e0b43f.html" target="element"> Recolecci&#243;n Inventivos Cesant&#237;as </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/0e6caf76-1aff-40ad-b6be-1d6daeaf06fa.html" target="element"> Otras Reglas </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>