<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP3. SNC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>APP3. SNC</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/bdba00a0-3caa-4cca-ab0a-d372d6157434.png" alt="APP3. SNC" usemap="#bdba00a0-3caa-4cca-ab0a-d372d6157434map">
			<map name="bdba00a0-3caa-4cca-ab0a-d372d6157434map">
						<area shape="rect" coords="546,22,946,77" href="../elements/0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html"  target="element">
						<area shape="rect" coords="141,922,308,977" href="../elements/360850dc-ec0e-4faa-91f1-48a81aed72c8.html"  target="element">
						<area shape="rect" coords="1066,274,1223,329" href="../elements/1962985e-5834-4dc7-99fa-41e4d96e7db2.html"  target="element">
						<area shape="rect" coords="1234,310,1391,365" href="../elements/9e3fb03a-d59d-49b4-b939-127c97159b09.html"  target="element">
						<area shape="rect" coords="1066,682,1222,737" href="../elements/f3dc5e03-dc72-4891-9855-89ea4c9650ff.html"  target="element">
								<area shape="rect" coords="706,274,908,329" href="../elements/760bd1e4-8654-40a7-9685-65a3d22ad581.html"  target="element">
								<area shape="rect" coords="778,676,934,731" href="../elements/26c3813e-9c46-4e81-bbd0-0ba6192252c3.html"  target="element">
								<area shape="rect" coords="575,406,791,461" href="../elements/1d53e996-5888-48f2-be0f-321f2401ff94.html"  target="element">
								<area shape="rect" coords="575,622,719,677" href="../elements/5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html"  target="element">
								<area shape="rect" coords="551,538,696,593" href="../elements/64b01880-5a48-400b-ba71-46eff02a7741.html"  target="element">
								<area shape="rect" coords="646,922,813,977" href="../elements/1c27468b-e913-4ef6-8636-feb7cb7a3869.html"  target="element">
								<area shape="rect" coords="575,802,740,857" href="../elements/261c579d-1bd3-4c89-8811-1694838da783.html"  target="element">

						<area shape="rect" coords="1065,394,1222,449" href="../elements/87f8af28-901d-4687-9117-1d86541aa8ab.html"  target="element">
						<area shape="rect" coords="1065,454,1222,509" href="../elements/1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html"  target="element">
						<area shape="rect" coords="1065,334,1222,389" href="../elements/7ee62c57-9d63-48f7-bef2-9179134e3d5e.html"  target="element">
						<area shape="rect" coords="1234,370,1391,425" href="../elements/9ed9b111-0157-4f7f-af00-540cd9ca3a97.html"  target="element">
						<area shape="rect" coords="1234,430,1391,485" href="../elements/a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html"  target="element">
						<area shape="rect" coords="1234,490,1391,545" href="../elements/489c53f3-3727-431b-a856-bc6ac5423b17.html"  target="element">
						<area shape="rect" coords="1065,514,1222,569" href="../elements/e032d10e-217b-42c7-bcc9-ddecfc6b7e2a.html"  target="element">
						<area shape="rect" coords="141,802,308,857" href="../elements/4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La plataforma de información del SNC Recoge y procesa información integral sobre la oferta y demanda de cualificaciones que oriente la política de empleo y de formación para el trabajo. Extrae información del centro de inteligencia (bodega de datos y analítica). Permite centralizar y procesar información para reportes, análisis y visualizaciones que informen la política de empleo y de formación para el trabajo.

</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> Centro de Inteligencia Informaci&#243;n de Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element"> Visualizaci&#243;n  </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element"> Recolecci&#243;n Intermediaci&#243;n laboral (SPE) </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element"> Recolecci&#243;n Brechas Capital Humano </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/f3dc5e03-dc72-4891-9855-89ea4c9650ff.html" target="element"> Recolecci&#243;n Pol&#237;ticas Act. y Pasv. </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element"> Recolecci&#243;n de fuentes Pol&#237;ticas Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html" target="element"> Informes de la Pol&#237;tica Empleo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/64b01880-5a48-400b-ba71-46eff02a7741.html" target="element"> Informes de la Formaci&#243;n Trabajo </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> Alimentaci&#243;n Indicadores </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/261c579d-1bd3-4c89-8811-1694838da783.html" target="element"> Publicaci&#243;n informaci&#243;n para Actores </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/87f8af28-901d-4687-9117-1d86541aa8ab.html" target="element"> Recolecci&#243;n Oferta Laboral (SPE) </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html" target="element"> Recolecci&#243;n Oferta Educativa y Formativa (cuantitativa y cualitativa) </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/7ee62c57-9d63-48f7-bef2-9179134e3d5e.html" target="element"> Recolecci&#243;n Demanda Laboral </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/9ed9b111-0157-4f7f-af00-540cd9ca3a97.html" target="element"> Recolecci&#243;n Componente Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html" target="element"> Recolecci&#243;n Componente Acreditaci&#243;n y Calidad ETDH </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/489c53f3-3727-431b-a856-bc6ac5423b17.html" target="element"> Recolecci&#243;n Componente Normalizaci&#243;n Competencias </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/e032d10e-217b-42c7-bcc9-ddecfc6b7e2a.html" target="element"> Recolecci&#243;n Componente Marco Nacional de Cualificaciones </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element"> Visor de Informaci&#243;n Empleabilidad y Formaci&#243;n </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>