<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Productos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Productos</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c29b3825-8360-4f77-a009-6b624320bd20.png" alt="Productos" usemap="#c29b3825-8360-4f77-a009-6b624320bd20map">
			<map name="c29b3825-8360-4f77-a009-6b624320bd20map">
						<area shape="rect" coords="36,290,156,345" href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">
						<area shape="rect" coords="334,182,489,237" href="../elements/453c204b-a8a6-4089-b65c-a0fe594e9413.html"  target="element">
						<area shape="rect" coords="334,110,489,165" href="../elements/06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html"  target="element">
								<area shape="rect" coords="286,302,443,357" href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
								<area shape="rect" coords="286,596,443,651" href="../elements/fb3c7359-e61b-4244-b482-768a2f4bd575.html"  target="element">
								<area shape="rect" coords="286,374,443,429" href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html"  target="element">
								<area shape="rect" coords="286,446,443,501" href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html"  target="element">
								<area shape="rect" coords="286,518,442,573" href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">

						<area shape="rect" coords="262,266,489,675" href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html"  target="element">
						<area shape="rect" coords="526,590,678,645" href="../elements/bae1d7be-3836-4431-b161-89da7e5d34ee.html"  target="element">
						<area shape="rect" coords="526,446,678,501" href="../elements/ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html"  target="element">
						<area shape="rect" coords="526,374,678,429" href="../elements/47a24a51-c69d-4587-828a-b2f049c52373.html"  target="element">
						<area shape="rect" coords="526,302,678,357" href="../elements/8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">&#8220;Cr&#233;ase el Sistema Nacional de Cualificaciones (SNC) como un conjunto de pol&#237;ticas, instrumentos, componentes y procesos necesarios para alinear la educaci&#243;n y formaci&#243;n a las necesidades sociales y productivas del pa&#237;s y que promueve el reconocimiento de aprendizajes, el desarrollo personal y profesional de los ciudadanos, la inserci&#243;n o reinserci&#243;n laboral y el desarrollo productivo del pa&#237;s. Son componentes del SNC: el Marco Nacional de Cualificaciones (MNC), los subsistemas de aseguramiento de la calidad de la educaci&#243;n y la formaci&#243;n, de normalizaci&#243;n de competencias y de evaluaci&#243;n y certificaci&#243;n de competencias, el esquema de movilidad educativa y formativa, as&#237; como la plataforma de informaci&#243;n del SNC.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
											<tr><td> <a href="../elements/453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td><td class="i18n-elementtype-Product"></td></tr>
											<tr><td> <a href="../elements/06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td><td class="i18n-elementtype-Product"></td></tr>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<tr><td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
													<tr><td> <a href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td><td class="i18n-elementtype-Product"></td></tr>
											
											<tr><td> <a href="../elements/bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> GL04. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> GL03. Aseguramiento de la Calidad </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/47a24a51-c69d-4587-828a-b2f049c52373.html" target="element"> GL02. Normalizaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html" target="element"> GL01. Dise&#241;ar Subsistema Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9bed981d-4017-4e68-a48e-4b220a8c87c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9bed981d-4017-4e68-a48e-4b220a8c87c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/617b0928-a128-4d83-84af-5a33321e0077.html" target="element">  </a> </td>
																		<td> <a href="../elements/617b0928-a128-4d83-84af-5a33321e0077.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																		<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/c56ec9ca-8736-460d-ba0b-9c48ce1f927a.html" target="element">  </a> </td>
																				<td> <a href="../elements/c56ec9ca-8736-460d-ba0b-9c48ce1f927a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f07068c1-73d4-4551-ad8a-2cb369335b06.html" target="element">  </a> </td>
																				<td> <a href="../elements/f07068c1-73d4-4551-ad8a-2cb369335b06.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/79d1ed30-0a0c-4e4b-83c1-bc6befb14817.html" target="element">  </a> </td>
																				<td> <a href="../elements/79d1ed30-0a0c-4e4b-83c1-bc6befb14817.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html" target="element"> GL01. Dise&#241;ar Subsistema Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/827e40de-cef0-4081-b569-052d8d93eead.html" target="element">  </a> </td>
																				<td> <a href="../elements/827e40de-cef0-4081-b569-052d8d93eead.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td>
																				<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b5e40b4e-cdcc-43e4-b7c9-39929c2dada9.html" target="element">  </a> </td>
																				<td> <a href="../elements/b5e40b4e-cdcc-43e4-b7c9-39929c2dada9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td>
																				<td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e0909c55-0ded-4e6d-bf6c-631c7079e395.html" target="element">  </a> </td>
																				<td> <a href="../elements/e0909c55-0ded-4e6d-bf6c-631c7079e395.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td>
																				<td> <a href="../elements/bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> GL04. Plataforma de informaci&#243;n del SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/77bb74a0-f2f0-4e58-b898-a74d34a0aaf1.html" target="element">  </a> </td>
																				<td> <a href="../elements/77bb74a0-f2f0-4e58-b898-a74d34a0aaf1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9d539f7a-c8a2-4d68-a12f-eca954a3b3e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d539f7a-c8a2-4d68-a12f-eca954a3b3e1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9bd15c5f-4cca-4842-86e5-315f7af78a60.html" target="element">  </a> </td>
																				<td> <a href="../elements/9bd15c5f-4cca-4842-86e5-315f7af78a60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/47a24a51-c69d-4587-828a-b2f049c52373.html" target="element"> GL02. Normalizaci&#243;n de competencias </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9d539f7a-c8a2-4d68-a12f-eca954a3b3e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d539f7a-c8a2-4d68-a12f-eca954a3b3e1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																				<td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/057876f5-60cc-4c03-8bd6-0ef90b5949d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/057876f5-60cc-4c03-8bd6-0ef90b5949d7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td>
																				<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/750c475c-fde5-45e5-a7ba-bdc09b5c9c81.html" target="element">  </a> </td>
																				<td> <a href="../elements/750c475c-fde5-45e5-a7ba-bdc09b5c9c81.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td>
																				<td> <a href="../elements/ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> GL03. Aseguramiento de la Calidad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/67b8cef3-435d-41b2-bde8-344f1525e7c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/67b8cef3-435d-41b2-bde8-344f1525e7c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td>
																				<td> <a href="../elements/858c240e-ab69-47c3-8ebe-7d7d8f2950c8.html" target="element"> Ministerio de Trabajo </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f4597ba5-d268-459a-8e52-cb0248903a39.html" target="element">  </a> </td>
																				<td> <a href="../elements/f4597ba5-d268-459a-8e52-cb0248903a39.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
																				<td> <a href="../elements/62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b91fb4a8-bff3-4ed2-98f8-55e417269532.html" target="element">  </a> </td>
																				<td> <a href="../elements/b91fb4a8-bff3-4ed2-98f8-55e417269532.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
																				<td> <a href="../elements/ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> GL03. Aseguramiento de la Calidad </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>