<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Globales</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Globales</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/c647b374-438d-48ef-95f5-0082505c1110.png" alt="Globales" usemap="#c647b374-438d-48ef-95f5-0082505c1110map">
			<map name="c647b374-438d-48ef-95f5-0082505c1110map">
						<area shape="rect" coords="94,10,274,65" href="../elements/d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html"  target="element">
						<area shape="rect" coords="418,10,598,65" href="../elements/bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html"  target="element">
						<area shape="rect" coords="512,292,679,347" href="../elements/a2261efd-b869-4153-904f-aac3a90fdacc.html"  target="element">
						<area shape="rect" coords="320,292,487,347" href="../elements/a28acf67-2644-42b6-b456-77ff109a1ef6.html"  target="element">
						<area shape="rect" coords="454,226,621,281" href="../elements/4f0a59a9-8380-4964-a3a7-286f64c24950.html"  target="element">
						<area shape="rect" coords="574,154,741,209" href="../elements/1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html"  target="element">
						<area shape="rect" coords="394,154,561,209" href="../elements/0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html"  target="element">
						<area shape="rect" coords="333,502,503,557" href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
						<area shape="rect" coords="550,502,718,557" href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html"  target="element">
						<area shape="rect" coords="82,292,227,347" href="../elements/a21d9b6b-1f19-4b51-9d37-ba2a6869d563.html"  target="element">
						<area shape="rect" coords="10,218,155,273" href="../elements/98a60a59-5563-4550-a652-3e9ecc674849.html"  target="element">
						<area shape="rect" coords="33,358,178,413" href="../elements/c78dd6d4-e9c6-41ad-8fc5-265ca145a390.html"  target="element">
						<area shape="rect" coords="46,574,166,629" href="../elements/02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
						<area shape="rect" coords="142,502,262,557" href="../elements/40a56c7e-f90a-466c-a97b-b9296cd98cf6.html"  target="element">
						<area shape="rect" coords="11,502,131,557" href="../elements/93ef34ca-4ab3-4d52-90f3-841a15e28af0.html"  target="element">
						<area shape="rect" coords="550,574,718,629" href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLO1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLO2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element"> BS03. Documentos de lineamientos t&#233;cnicos </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/a21d9b6b-1f19-4b51-9d37-ba2a6869d563.html" target="element"> PD09. Servicio de asistencia t&#233;cnica </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/98a60a59-5563-4550-a652-3e9ecc674849.html" target="element"> PD08. Servicio de orientaci&#243;n laboral </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/c78dd6d4-e9c6-41ad-8fc5-265ca145a390.html" target="element"> PD07. Servicio de informaci&#243;n </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. Gesti&#243;n </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
										<tr><td> <a href="../elements/22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td><td class="i18n-elementtype-Product"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>