<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DAT. Fuentes MNC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>DAT. Fuentes MNC</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1e8845ea-3aa6-477c-b51a-6db939b27efe.png" alt="DAT. Fuentes MNC" usemap="#1e8845ea-3aa6-477c-b51a-6db939b27efemap"/>
			   <map name="1e8845ea-3aa6-477c-b51a-6db939b27efemap">
				  		<area shape="rect" coords="224,342,412,397" href="../elements/5dddf48f-016e-4e8f-bbe8-57a6ffedb5f9.html"  target="element">
				  		<area shape="rect" coords="225,438,413,493" href="../elements/95ab32b8-3c9e-42f0-841e-9845acc11e1a.html"  target="element">
				  		<area shape="rect" coords="421,225,621,280" href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html"  target="element">
				  		<area shape="rect" coords="421,114,621,169" href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html"  target="element">
				  		<area shape="rect" coords="224,225,412,280" href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html"  target="element">
				  		<area shape="rect" coords="224,114,412,169" href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html"  target="element">
				          <area shape="rect" coords="10,10,195,90" href="../objects/7ca3c636-40cc-49bb-a6d5-5a7916d200dc.html" target="element" >
				  		<area shape="rect" coords="10,222,151,277" href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
											    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7ca3c636-40cc-49bb-a6d5-5a7916d200dc.html" target="element">  </a> </td>
									           <td> <a href="../objects/7ca3c636-40cc-49bb-a6d5-5a7916d200dc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos Sectoriales de cualificaciones </a> </td>
											    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
											    <td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> DO02. Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/95ab32b8-3c9e-42f0-841e-9845acc11e1a.html" target="element"> DO49. Ficha Norma Sectorial de competencia laboral </a> </td>
											    <td> <a href="../elements/95ab32b8-3c9e-42f0-841e-9845acc11e1a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dddf48f-016e-4e8f-bbe8-57a6ffedb5f9.html" target="element"> DO48. Ficha Estructura Funcional de la ocupaci&#243;n </a> </td>
											    <td> <a href="../elements/5dddf48f-016e-4e8f-bbe8-57a6ffedb5f9.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																		<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos Sectoriales de cualificaciones </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos Sectoriales de cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1ea47cd-2171-4230-8f10-701905a688a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1ea47cd-2171-4230-8f10-701905a688a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5dddf48f-016e-4e8f-bbe8-57a6ffedb5f9.html" target="element"> DO48. Ficha Estructura Funcional de la ocupaci&#243;n </a> </td>
																		<td> <a href="../elements/95ab32b8-3c9e-42f0-841e-9845acc11e1a.html" target="element"> DO49. Ficha Norma Sectorial de competencia laboral </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>