<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BMM. Estrategias y Capacidades</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>BMM. Estrategias y Capacidades</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/327c2f92-2f20-456d-a65f-f8191ed320a7.png" alt="BMM. Estrategias y Capacidades" usemap="#327c2f92-2f20-456d-a65f-f8191ed320a7map"/>
			   <map name="327c2f92-2f20-456d-a65f-f8191ed320a7map">
				  		<area shape="rect" coords="575,83,754,138" href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html"  target="element">
				  		<area shape="rect" coords="10,526,754,581" href="../elements/bea41232-3a5d-4d57-916a-865956253820.html"  target="element">
				  		<area shape="rect" coords="778,526,898,581" href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">
				  		<area shape="rect" coords="680,988,800,1043" href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html"  target="element">
				  		<area shape="rect" coords="530,988,650,1043" href="../elements/id-3f9be124f52b49649d20f5658b44c530.html"  target="element">
				  		<area shape="rect" coords="830,988,950,1043" href="../elements/id-675aa05f-c055-4f82-b43e-e853424903bc.html"  target="element">
				  		<area shape="rect" coords="10,406,190,461" href="../elements/55fdab8e-06a2-4082-8b0d-f775a512f8c6.html"  target="element">
				  		<area shape="rect" coords="575,346,755,401" href="../elements/2dc3d4a0-a426-4130-a791-876ea6934ade.html"  target="element">
				  		<area shape="rect" coords="386,346,566,401" href="../elements/ebb015fc-81f5-4035-8e5d-022e2c9ed7ce.html"  target="element">
				  		<area shape="rect" coords="202,346,382,401" href="../elements/7102af55-5a3e-48bd-af8f-a488803e805f.html"  target="element">
				  		<area shape="rect" coords="10,346,190,401" href="../elements/fa7a1b11-dd14-4b64-b35b-ae06979db732.html"  target="element">
				          <area shape="rect" coords="10,10,259,138" href="../objects/c0bf24c8-0373-4665-b44f-19bb2d4edd93.html" target="element" >
				  				<area shape="rect" coords="586,718,766,773" href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html"  target="element">
				  				<area shape="rect" coords="397,718,577,773" href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html"  target="element">
				  				<area shape="rect" coords="213,718,393,773" href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html"  target="element">
				  				<area shape="rect" coords="213,778,393,833" href="../elements/id-6274526b-9f48-4476-9bac-163ad318e902.html"  target="element">
				  				<area shape="rect" coords="21,778,201,833" href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html"  target="element">
				  				<area shape="rect" coords="21,718,201,773" href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html"  target="element">

				  		<area shape="rect" coords="10,658,810,886" href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">En l&#237;nea con lo anterior, el Ministerio de Trabajo ha definido cinco objetivos estrat&#233;gicos a nivel institucional para el periodo 2020-2022, cada uno con agrupaciones de iniciativas estrat&#233;gicas: &#8203;

1. Propender por la mejora de la calidad de vida de los colombianos y el bienestar social, a trav&#233;s del acceso a empleos dignos y ampliaci&#243;n de esquemas de protecci&#243;n y seguridad social.
2. Promover el trabajo decente a trav&#233;s de la formulaci&#243;n y fortalecimiento de pol&#237;ticas y estrategias orientadas a la generaci&#243;n de ingresos y de empleo productivo.&#8203;
3. Garantizar los derechos fundamentales del trabajo velando por su cumplimiento y fortalecer el dialogo social.&#8203;
4. Fortalecer el sistema de protecci&#243;n social y seguridad social en materia de protecci&#243;n a la vejez, riesgos laborales y subsidio familiar.&#8203;
5. Mejorar la gesti&#243;n institucional del sector trabajo, con una eficiente gesti&#243;n orientada a resultados.&#8203;



Para gestionar el cumplimiento de las metas de pol&#237;tica p&#250;blica en materia de empleo a nivel nacional, el Ministerio de Trabajo desarrolla actividades de consolidaci&#243;n, cruce y an&#225;lisis de informaci&#243;n de fuentes del sector y otros sectores de gobierno con altos niveles de reprocesamiento para lograr un nivel de confiabilidad aceptable, con un alto costo de oportunidad. &#8203;
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
											    <td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html" target="element"> EST01. Implementar el SPE </a> </td>
													    <td> <a href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element"> EST05. Consolidar Lineamientos del Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
													    <td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6274526b-9f48-4476-9bac-163ad318e902.html" target="element"> EST06. Realizar Pilotos de Formaci&#243;n para el Trabajo </a> </td>
													    <td> <a href="../elements/id-6274526b-9f48-4476-9bac-163ad318e902.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
													    <td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Implementar el Sistema Informaci&#243;n Gerencial del Empleo (SGE) y Productividad </a> </td>
													    <td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element"> EST04. Implementar Subsistema Aseguramiento Calidad de la Formaci&#243;n </a> </td>
													    <td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/c0bf24c8-0373-4665-b44f-19bb2d4edd93.html" target="element">  </a> </td>
									           <td> <a href="../objects/c0bf24c8-0373-4665-b44f-19bb2d4edd93.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fa7a1b11-dd14-4b64-b35b-ae06979db732.html" target="element"> EST07. Mejorar vida y bienestar mediante acceso al empleo </a> </td>
											    <td> <a href="../elements/fa7a1b11-dd14-4b64-b35b-ae06979db732.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7102af55-5a3e-48bd-af8f-a488803e805f.html" target="element"> EST08. Promover el trabajo decente </a> </td>
											    <td> <a href="../elements/7102af55-5a3e-48bd-af8f-a488803e805f.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebb015fc-81f5-4035-8e5d-022e2c9ed7ce.html" target="element"> EST09. Garantizar los derechos del trabajo </a> </td>
											    <td> <a href="../elements/ebb015fc-81f5-4035-8e5d-022e2c9ed7ce.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2dc3d4a0-a426-4130-a791-876ea6934ade.html" target="element"> EST10. Fortalecer el sistema de protecci&#243;n social </a> </td>
											    <td> <a href="../elements/2dc3d4a0-a426-4130-a791-876ea6934ade.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55fdab8e-06a2-4082-8b0d-f775a512f8c6.html" target="element"> EST11. Mejorar la gesti&#243;n institucional del sector trabajo </a> </td>
											    <td> <a href="../elements/55fdab8e-06a2-4082-8b0d-f775a512f8c6.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-675aa05f-c055-4f82-b43e-e853424903bc.html" target="element"> DR03. Costos de transacci&#243;n </a> </td>
											    <td> <a href="../elements/id-675aa05f-c055-4f82-b43e-e853424903bc.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f9be124f52b49649d20f5658b44c530.html" target="element"> DR10. Baja articulaci&#243;n entre oferta y demanda laboral </a> </td>
											    <td> <a href="../elements/id-3f9be124f52b49649d20f5658b44c530.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLE1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td>
											    <td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
											    <td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
											    <td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b83eb12d-e277-408d-ab42-0623b5ed15fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/b83eb12d-e277-408d-ab42-0623b5ed15fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html" target="element"> EST01. Implementar el SPE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a55987f3-f47b-448f-88d8-7373bb487824.html" target="element">  </a> </td>
																		<td> <a href="../elements/a55987f3-f47b-448f-88d8-7373bb487824.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element"> EST05. Consolidar Lineamientos del Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/50702e83-c880-4d13-bdae-37befa60c1dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/50702e83-c880-4d13-bdae-37befa60c1dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-6274526b-9f48-4476-9bac-163ad318e902.html" target="element"> EST06. Realizar Pilotos de Formaci&#243;n para el Trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ee651ccf-d5f4-4999-9baa-df1ea0e080db.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee651ccf-d5f4-4999-9baa-df1ea0e080db.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52f99769-6c37-4643-bc0d-140f3adc705c.html" target="element">  </a> </td>
																		<td> <a href="../elements/52f99769-6c37-4643-bc0d-140f3adc705c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Implementar el Sistema Informaci&#243;n Gerencial del Empleo (SGE) y Productividad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/be5dffcc-429e-4f18-a046-dcd8096c4e7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/be5dffcc-429e-4f18-a046-dcd8096c4e7a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f6fe794a-a480-4e81-9124-74460fbd3c87.html" target="element"> GRP03. Estrategias SNC </a> </td>
																		<td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element"> EST04. Implementar Subsistema Aseguramiento Calidad de la Formaci&#243;n </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/ede5a5e6-927e-4655-b458-d80bb5d40dca.html" target="element">  </a> </td>
																		<td> <a href="../elements/ede5a5e6-927e-4655-b458-d80bb5d40dca.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fa7a1b11-dd14-4b64-b35b-ae06979db732.html" target="element"> EST07. Mejorar vida y bienestar mediante acceso al empleo </a> </td>
																		<td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bd6c0d74-3a19-4b07-80a2-9862715d9996.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd6c0d74-3a19-4b07-80a2-9862715d9996.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7102af55-5a3e-48bd-af8f-a488803e805f.html" target="element"> EST08. Promover el trabajo decente </a> </td>
																		<td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6bf2fbcf-7c8d-42d2-ad96-8e8251a56bf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bf2fbcf-7c8d-42d2-ad96-8e8251a56bf2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ebb015fc-81f5-4035-8e5d-022e2c9ed7ce.html" target="element"> EST09. Garantizar los derechos del trabajo </a> </td>
																		<td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/819f73b9-d2fb-4fec-bd7f-30c6b8da283e.html" target="element">  </a> </td>
																		<td> <a href="../elements/819f73b9-d2fb-4fec-bd7f-30c6b8da283e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2dc3d4a0-a426-4130-a791-876ea6934ade.html" target="element"> EST10. Fortalecer el sistema de protecci&#243;n social </a> </td>
																		<td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3ba9b0ad-e0c0-406a-a52a-5c62fdd0d99a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ba9b0ad-e0c0-406a-a52a-5c62fdd0d99a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/55fdab8e-06a2-4082-8b0d-f775a512f8c6.html" target="element"> EST11. Mejorar la gesti&#243;n institucional del sector trabajo </a> </td>
																		<td> <a href="../elements/2b0a2293-72a3-46c6-9b6c-1a39cce56d85.html" target="element"> DR11. Gestionar Cumplimiento Metas Pol&#237;ticas P&#250;blicas de Empleo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3850c1ca-bb58-4bbe-8a84-5861cdb15865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3850c1ca-bb58-4bbe-8a84-5861cdb15865.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-675aa05f-c055-4f82-b43e-e853424903bc.html" target="element"> DR03. Costos de transacci&#243;n </a> </td>
																		<td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLE1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e80bc09e-d90e-47db-bc99-5923b90cce15.html" target="element">  </a> </td>
																		<td> <a href="../elements/e80bc09e-d90e-47db-bc99-5923b90cce15.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
																		<td> <a href="../elements/2dc3d4a0-a426-4130-a791-876ea6934ade.html" target="element"> EST10. Fortalecer el sistema de protecci&#243;n social </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01c29bc2-a3d9-42e0-a218-600954c8df96.html" target="element">  </a> </td>
																		<td> <a href="../elements/01c29bc2-a3d9-42e0-a218-600954c8df96.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
																		<td> <a href="../elements/ebb015fc-81f5-4035-8e5d-022e2c9ed7ce.html" target="element"> EST09. Garantizar los derechos del trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0357bc2-4df6-419a-8eca-ba6824345cc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0357bc2-4df6-419a-8eca-ba6824345cc1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
																		<td> <a href="../elements/7102af55-5a3e-48bd-af8f-a488803e805f.html" target="element"> EST08. Promover el trabajo decente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3674a00-2b73-4028-959d-f59ce18b48b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3674a00-2b73-4028-959d-f59ce18b48b7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
																		<td> <a href="../elements/55fdab8e-06a2-4082-8b0d-f775a512f8c6.html" target="element"> EST11. Mejorar la gesti&#243;n institucional del sector trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c0e8b34-f773-46cc-a7dd-a23c3c806668.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c0e8b34-f773-46cc-a7dd-a23c3c806668.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bea41232-3a5d-4d57-916a-865956253820.html" target="element"> BS11. SGE </a> </td>
																		<td> <a href="../elements/fa7a1b11-dd14-4b64-b35b-ae06979db732.html" target="element"> EST07. Mejorar vida y bienestar mediante acceso al empleo </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>