<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP9. PERF</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP9. PERF</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/41d3ee14-f2af-45f1-895c-a92f853b5282.png" alt="APP9. PERF" usemap="#41d3ee14-f2af-45f1-895c-a92f853b5282map"/>
			   <map name="41d3ee14-f2af-45f1-895c-a92f853b5282map">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">En el Programa de Certificaci&#243;n y Capacitaci&#243;n para la Poblaci&#243;n Nacional y Migrante, existe el objetivo dise&#241;ar e implementar una ruta para la poblaci&#243;n nacional y migrante, que favorezca el reconocimiento de sus aprendizajes previos y el fortalecimiento de sus competencias. Esta ruta incluye
 
* La divulgaci&#243;n del Programa
* La identificaci&#243;n de aliados clave
* La convocatoria y sensibilizaci&#243;n a los participantes
* El diagn&#243;stico y el perfilamiento laboral de los beneficiarios 
* Los procesos de evaluaci&#243;n y certificaci&#243;n de competencias 
* La capacitaci&#243;n
* La orientaci&#243;n ocupacional
* La articulaci&#243;n con las empresas que se vinculen al Programa
* La intermediaci&#243;n laboral
* El seguimiento y la evaluaci&#243;n 

Para soportar parte de esta ruta, surge la necesidad de contar con una herramienta de perfilamiento de competencias y de orientaci&#243;n ocupacional, que responda a estos requerimientos y sirva para orientar a los buscadores de empleo, nacionales o migrantes, en ocupaciones pertinentes y con oportunidades de inserci&#243;n laboral, as&#237; como para facilitar la toma de decisiones de pol&#237;tica p&#250;blica, en este caso en el Ministerio del Trabajo. 

Se pretende que la herramienta se centre en las competencias de las personas adquiridas por diferentes v&#237;as a lo largo de la vida y en la configuraci&#243;n de un perfil integral, y no &#250;nicamente en los conocimientos, en la experiencia laboral o en los t&#237;tulos obtenidos.   
 
A su vez, se espera que la herramienta tome como referente la Clasificaci&#243;n &#218;nica de Ocupaciones (CUOC) actual al momento del dise&#241;o y que el desarrollo de la herramienta est&#233; vigente en el Sistema Nacional de Cualificaciones. 

Adem&#225;s, la herramienta deber&#225; ser parte de la Plataforma de Informaci&#243;n del Sistema Nacional de Cualificaciones y estar armonizada con sus prop&#243;sitos y funciones. 

La herramienta de perfilamiento y orientaci&#243;n ocupacional ser&#225; fundamental para el desarrollo del Programa de certificaci&#243;n y capacitaci&#243;n para la poblaci&#243;n nacional y migrante, dado que permitir&#225; caracterizar la poblaci&#243;n que acceda a ella, en t&#233;rminos de competencias, y a su vez brindar&#225; elementos para identificar la ruta que los beneficiarios deben continuar, una vez se cuente con su perfilamiento, entendiendo esto, como: 

* Opci&#243;n 1: Directamente a un proceso de evaluaci&#243;n de competencias, cuando su perfil y experiencia cumplan con los requerimientos, de forma tal que el beneficiario pueda obtener la certificaci&#243;n, seg&#250;n los resultados obtenidos luego de la evaluaci&#243;n. 
* Opci&#243;n 2: Desarrollo de un proceso de capacitaci&#243;n, si el beneficiario no logra obtener la certificaci&#243;n en el proceso anterior (1) o no cumple con los requisitos para acceder directamente al proceso de evaluaci&#243;n. La capacitaci&#243;n permitir&#225; fortalecer o complementar las competencias del beneficiario y brindarle mayores elementos para un nuevo proceso de evaluaci&#243;n, as&#237; como para desempe&#241;arse en las ocupaciones que m&#225;s se ajusten a su perfil. 
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>