<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BSN. SNC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>BSN. SNC</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/44bec633-5d4d-445c-984e-369a59307fb5.png" alt="BSN. SNC" usemap="#44bec633-5d4d-445c-984e-369a59307fb5map">
			<map name="44bec633-5d4d-445c-984e-369a59307fb5map">
						<area shape="rect" coords="28,250,148,305" href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">
						<area shape="rect" coords="490,270,610,325" href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html"  target="element">
						<area shape="rect" coords="640,250,760,305" href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html"  target="element">
						<area shape="rect" coords="787,298,907,353" href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html"  target="element">
						<area shape="rect" coords="490,370,610,425" href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html"  target="element">
						<area shape="rect" coords="640,334,760,389" href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html"  target="element">
						<area shape="rect" coords="844,106,964,178" href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html"  target="element">
						<area shape="rect" coords="708,106,828,178" href="../elements/id-eeb4a6e0-ffd6-4c4a-b573-dd53b2b75f5e.html"  target="element">
						<area shape="rect" coords="558,10,688,82" href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html"  target="element">
						<area shape="rect" coords="708,10,828,82" href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html"  target="element">
						<area shape="rect" coords="456,658,576,713" href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html"  target="element">
						<area shape="rect" coords="106,754,226,809" href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html"  target="element">
						<area shape="rect" coords="256,754,376,809" href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">
						<area shape="rect" coords="10,658,130,713" href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html"  target="element">
						<area shape="rect" coords="160,658,280,713" href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
						<area shape="rect" coords="310,658,430,713" href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html"  target="element">
						<area shape="rect" coords="410,754,530,809" href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html"  target="element">
						<area shape="rect" coords="844,10,964,82" href="../elements/d912fa4f-1088-473f-b9ea-24c8ca637559.html"  target="element">
						<area shape="rect" coords="410,10,530,82" href="../elements/58e22046-28c1-46b7-999d-8d7c6a6f2127.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element"> BS03. Documentos de lineamientos t&#233;cnicos </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html" target="element"> CMP2. Esquema Movilidad Educativa y Formativa </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/id-eeb4a6e0-ffd6-4c4a-b573-dd53b2b75f5e.html" target="element"> CMP1. Marco Nacional Cualificaciones (MNC) </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html" target="element"> CMP3. Subsistema Normalizaci&#243;n Competencias </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html" target="element"> CMP4. Subsistemas Aseguramiento Calidad </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/d912fa4f-1088-473f-b9ea-24c8ca637559.html" target="element"> CMP5. Subsistema de Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/58e22046-28c1-46b7-999d-8d7c6a6f2127.html" target="element"> CMP6. Plataforma de informaci&#243;n del Sistema Nacional de Cualificaciones </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>