<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. Transporte e Integración </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. Transporte e Integraci&#243;n </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4b093f1f-63cd-46f6-bd7b-051e239d1e2f.png" alt="APP. SNC. Transporte e Integración " usemap="#4b093f1f-63cd-46f6-bd7b-051e239d1e2fmap"/>
			   <map name="4b093f1f-63cd-46f6-bd7b-051e239d1e2fmap">
				  		<area shape="rect" coords="10,202,130,257" href="../elements/ca1253d7-f228-43a0-8bb6-9f9faa05c39b.html"  target="element">
				  		<area shape="rect" coords="177,430,297,485" href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html"  target="element">
				  		<area shape="rect" coords="178,334,298,389" href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html"  target="element">
				  		<area shape="rect" coords="178,202,298,257" href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html"  target="element">
				  		<area shape="rect" coords="357,202,477,257" href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html"  target="element">
				  		<area shape="rect" coords="525,334,645,389" href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html"  target="element">
				  		<area shape="rect" coords="525,202,645,257" href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html"  target="element">
				  		<area shape="rect" coords="357,10,477,65" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
											    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
											    <td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ca1253d7-f228-43a0-8bb6-9f9faa05c39b.html" target="element"> DO17. Matriz de descriptores </a> </td>
											    <td> <a href="../elements/ca1253d7-f228-43a0-8bb6-9f9faa05c39b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b813437c-6b56-46c0-a8fc-b74e2600e163.html" target="element">  </a> </td>
																		<td> <a href="../elements/b813437c-6b56-46c0-a8fc-b74e2600e163.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6f5a8df9-919e-4fe6-b41e-2d44eacc3307.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f5a8df9-919e-4fe6-b41e-2d44eacc3307.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
																		<td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b0d7a553-0dd5-479b-b5f3-83a73f214791.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0d7a553-0dd5-479b-b5f3-83a73f214791.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones CUOC </a> </td>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element"> DO17. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5875eccd-d991-4629-8828-8d3ae4704f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/5875eccd-d991-4629-8828-8d3ae4704f05.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/ca1253d7-f228-43a0-8bb6-9f9faa05c39b.html" target="element"> DO17. Matriz de descriptores </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																		<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c435c9ee-b629-4a5d-a4c5-bf997cfd27d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/c435c9ee-b629-4a5d-a4c5-bf997cfd27d7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																		<td> <a href="../elements/4bcbb612-1436-451e-bab9-2db6a41f67a2.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>