<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1-2. Ctlgo. Características y reqrmts</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1-2. Ctlgo. Caracter&#237;sticas y reqrmts</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/53c4f90f-3d91-4003-8b31-a45bbf207391.png" alt="1-2. Ctlgo. Características y reqrmts" usemap="#53c4f90f-3d91-4003-8b31-a45bbf207391map"/>
			   <map name="53c4f90f-3d91-4003-8b31-a45bbf207391map">
				  		<area shape="rect" coords="778,228,898,283" href="../elements/ed636565-37c7-4bec-b6e0-1c9146240610.html"  target="element">
				  		<area shape="rect" coords="778,128,898,183" href="../elements/191f3839-bef0-4949-ad38-a4812aae311d.html"  target="element">
				  		<area shape="rect" coords="634,828,754,883" href="../elements/5447ada5-0670-437b-bcdb-be25a9f26f55.html"  target="element">
				  		<area shape="rect" coords="484,828,604,883" href="../elements/77a837cb-160a-435b-9c1e-9a5859c09216.html"  target="element">
				  		<area shape="rect" coords="334,828,454,883" href="../elements/b6ce4bc1-31c5-4436-94ab-a47ce707b9aa.html"  target="element">
				  		<area shape="rect" coords="634,728,754,783" href="../elements/ef6cb596-4166-486f-ba1e-c7783bc72453.html"  target="element">
				  		<area shape="rect" coords="484,728,604,783" href="../elements/33a6cdae-220f-472f-ad4c-bb86cbd2dabb.html"  target="element">
				  		<area shape="rect" coords="334,728,454,783" href="../elements/93395ed7-8c81-4c2b-8db9-356aa2b560fd.html"  target="element">
				  		<area shape="rect" coords="634,628,754,683" href="../elements/3689af75-1211-4a36-80b6-26919d452b25.html"  target="element">
				  		<area shape="rect" coords="484,628,604,683" href="../elements/05060533-4dae-48f5-9454-e2ed22554428.html"  target="element">
				  		<area shape="rect" coords="334,628,454,683" href="../elements/5dfbe0ea-f614-42bd-bcb1-5b404a759216.html"  target="element">
				  		<area shape="rect" coords="634,528,754,583" href="../elements/957b8ec6-a1e2-4885-a621-698bc7a2fd0e.html"  target="element">
				  		<area shape="rect" coords="484,528,604,583" href="../elements/3c52acfe-e813-4cd5-b7ca-37ba29a4a278.html"  target="element">
				  		<area shape="rect" coords="334,528,454,583" href="../elements/f0e2197f-065c-498f-beab-50b5b8de13af.html"  target="element">
				  		<area shape="rect" coords="634,428,754,483" href="../elements/6685602e-79c6-4696-aa3d-ef7a031d589c.html"  target="element">
				  		<area shape="rect" coords="484,428,604,483" href="../elements/9ae27e72-9709-4d39-af21-8d760728376e.html"  target="element">
				  		<area shape="rect" coords="334,428,454,483" href="../elements/fc668025-34ec-4e56-99b2-3edd0bc55427.html"  target="element">
				  		<area shape="rect" coords="634,328,754,383" href="../elements/41ba9291-fc41-4b90-9a5b-d9b22ba52a93.html"  target="element">
				  		<area shape="rect" coords="484,328,604,383" href="../elements/91d74cf2-f201-4d8f-a36c-1bb8f660db95.html"  target="element">
				  		<area shape="rect" coords="334,328,454,383" href="../elements/dc58b77d-3b30-401a-92b6-7408ae30db9c.html"  target="element">
				  		<area shape="rect" coords="634,228,754,283" href="../elements/265959c4-74d4-4583-bad0-9f299e1fb99a.html"  target="element">
				  		<area shape="rect" coords="484,228,604,283" href="../elements/0d98616a-bff9-44a6-ba1b-17367d2d2852.html"  target="element">
				  		<area shape="rect" coords="334,228,454,283" href="../elements/41e6c6bc-af3b-4e78-a6cf-0f1b839582a0.html"  target="element">
				  		<area shape="rect" coords="634,128,754,183" href="../elements/326136fb-903f-46c5-a6b8-195f8e1a5a00.html"  target="element">
				  		<area shape="rect" coords="484,128,604,183" href="../elements/173db992-faeb-4653-8c69-8129507c293a.html"  target="element">
				  		<area shape="rect" coords="334,128,454,183" href="../elements/8e346389-d58d-49f2-8d26-11d90eb9df0b.html"  target="element">
				  		<area shape="rect" coords="10,74,190,129" href="../elements/5dca9fec-9d1b-404b-bc37-9423c818dac2.html"  target="element">
				  		<area shape="rect" coords="10,280,190,335" href="../elements/0ff24c4b-b9ec-42ed-a600-01c153f8a237.html"  target="element">
				  		<area shape="rect" coords="10,214,190,269" href="../elements/d582ed9b-4eb3-46bb-bfe6-a5781e964560.html"  target="element">
				  		<area shape="rect" coords="10,346,190,401" href="../elements/400a1070-1cdb-4a8f-aacf-465f3cb140e2.html"  target="element">
				  		<area shape="rect" coords="10,142,190,197" href="../elements/58745ee1-e0fa-47d9-ba9f-ea85197e9aaf.html"  target="element">
				  		<area shape="rect" coords="10,10,190,65" href="../elements/d83ed35f-c5ab-4e6f-a2c4-35764b2c528a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d83ed35f-c5ab-4e6f-a2c4-35764b2c528a.html" target="element"> EPC10. Recolecci&#243;n Informaci&#243;n </a> </td>
											    <td> <a href="../elements/d83ed35f-c5ab-4e6f-a2c4-35764b2c528a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58745ee1-e0fa-47d9-ba9f-ea85197e9aaf.html" target="element"> EPC12. Interoperabilidad </a> </td>
											    <td> <a href="../elements/58745ee1-e0fa-47d9-ba9f-ea85197e9aaf.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/400a1070-1cdb-4a8f-aacf-465f3cb140e2.html" target="element"> EPC8. Generaci&#243;n informaci&#243;n asociada a la CUOC </a> </td>
											    <td> <a href="../elements/400a1070-1cdb-4a8f-aacf-465f3cb140e2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d582ed9b-4eb3-46bb-bfe6-a5781e964560.html" target="element"> EPC9. Visualizar CUOC </a> </td>
											    <td> <a href="../elements/d582ed9b-4eb3-46bb-bfe6-a5781e964560.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0ff24c4b-b9ec-42ed-a600-01c153f8a237.html" target="element"> EPC11. Seguridad </a> </td>
											    <td> <a href="../elements/0ff24c4b-b9ec-42ed-a600-01c153f8a237.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dca9fec-9d1b-404b-bc37-9423c818dac2.html" target="element"> EPC7. Navegar CUOC </a> </td>
											    <td> <a href="../elements/5dca9fec-9d1b-404b-bc37-9423c818dac2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e346389-d58d-49f2-8d26-11d90eb9df0b.html" target="element"> REQ100. B&#250;squeda r&#225;pida de ocupaciones </a> </td>
											    <td> <a href="../elements/8e346389-d58d-49f2-8d26-11d90eb9df0b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/173db992-faeb-4653-8c69-8129507c293a.html" target="element"> REQ101. B&#250;squeda de ocupaciones por palabra clave </a> </td>
											    <td> <a href="../elements/173db992-faeb-4653-8c69-8129507c293a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/326136fb-903f-46c5-a6b8-195f8e1a5a00.html" target="element"> REQ102. B&#250;squeda avanzada </a> </td>
											    <td> <a href="../elements/326136fb-903f-46c5-a6b8-195f8e1a5a00.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41e6c6bc-af3b-4e78-a6cf-0f1b839582a0.html" target="element"> REQ103. Gu&#237;a de uso / Sistema de ayuda del cat&#225;logo </a> </td>
											    <td> <a href="../elements/41e6c6bc-af3b-4e78-a6cf-0f1b839582a0.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d98616a-bff9-44a6-ba1b-17367d2d2852.html" target="element"> REQ104. Navegar la estructura jer&#225;rquica de la CUOC </a> </td>
											    <td> <a href="../elements/0d98616a-bff9-44a6-ba1b-17367d2d2852.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/265959c4-74d4-4583-bad0-9f299e1fb99a.html" target="element"> REQ105. Navegar ocupaciones por conglomerados </a> </td>
											    <td> <a href="../elements/265959c4-74d4-4583-bad0-9f299e1fb99a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc58b77d-3b30-401a-92b6-7408ae30db9c.html" target="element"> REQ106. Presentar informaci&#243;n que caracterice los diferentes niveles del c&#243;digo CUOC </a> </td>
											    <td> <a href="../elements/dc58b77d-3b30-401a-92b6-7408ae30db9c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91d74cf2-f201-4d8f-a36c-1bb8f660db95.html" target="element"> REQ108. Generar reportes por ocupaci&#243;n </a> </td>
											    <td> <a href="../elements/91d74cf2-f201-4d8f-a36c-1bb8f660db95.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41ba9291-fc41-4b90-9a5b-d9b22ba52a93.html" target="element"> REQ109. Asociar informaci&#243;n estad&#237;stica a la CUOC </a> </td>
											    <td> <a href="../elements/41ba9291-fc41-4b90-9a5b-d9b22ba52a93.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc668025-34ec-4e56-99b2-3edd0bc55427.html" target="element"> REQ110. Generar categor&#237;as de agrupaci&#243;n a partir de metodolog&#237;as de clusterizaci&#243;n </a> </td>
											    <td> <a href="../elements/fc668025-34ec-4e56-99b2-3edd0bc55427.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9ae27e72-9709-4d39-af21-8d760728376e.html" target="element"> REQ111. Identificar sectores CIIU en los que la ocupaci&#243;n se ejerce con mayor frecuencia </a> </td>
											    <td> <a href="../elements/9ae27e72-9709-4d39-af21-8d760728376e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6685602e-79c6-4696-aa3d-ef7a031d589c.html" target="element"> REQ112. Calcular tendencias y participaci&#243;n por ocupaci&#243;n y actividades econ&#243;micas </a> </td>
											    <td> <a href="../elements/6685602e-79c6-4696-aa3d-ef7a031d589c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0e2197f-065c-498f-beab-50b5b8de13af.html" target="element"> REQ113. Explorar la viabilidad de generar informaci&#243;n estad&#237;stica utilizando fuentes no tradicionales </a> </td>
											    <td> <a href="../elements/f0e2197f-065c-498f-beab-50b5b8de13af.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3c52acfe-e813-4cd5-b7ca-37ba29a4a278.html" target="element"> REQ114. Informaci&#243;n de contexto del mercado laboral </a> </td>
											    <td> <a href="../elements/3c52acfe-e813-4cd5-b7ca-37ba29a4a278.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/957b8ec6-a1e2-4885-a621-698bc7a2fd0e.html" target="element"> REQ115. Calcular tabla de indicadores para dashboard </a> </td>
											    <td> <a href="../elements/957b8ec6-a1e2-4885-a621-698bc7a2fd0e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dfbe0ea-f614-42bd-bcb1-5b404a759216.html" target="element"> REQ117. Dise&#241;ar e implementar el formulario de captura de informaci&#243;n. </a> </td>
											    <td> <a href="../elements/5dfbe0ea-f614-42bd-bcb1-5b404a759216.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05060533-4dae-48f5-9454-e2ed22554428.html" target="element"> REQ118. Seguridad en el acceso a la informaci&#243;n </a> </td>
											    <td> <a href="../elements/05060533-4dae-48f5-9454-e2ed22554428.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3689af75-1211-4a36-80b6-26919d452b25.html" target="element"> REQ119. Apoyo en prueba piloto de recolecci&#243;n de informaci&#243;n </a> </td>
											    <td> <a href="../elements/3689af75-1211-4a36-80b6-26919d452b25.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93395ed7-8c81-4c2b-8db9-356aa2b560fd.html" target="element"> REQ120. Reporte resumen por variable </a> </td>
											    <td> <a href="../elements/93395ed7-8c81-4c2b-8db9-356aa2b560fd.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33a6cdae-220f-472f-ad4c-bb86cbd2dabb.html" target="element"> REQ121. Gesti&#243;n de usuarios </a> </td>
											    <td> <a href="../elements/33a6cdae-220f-472f-ad4c-bb86cbd2dabb.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef6cb596-4166-486f-ba1e-c7783bc72453.html" target="element"> REQ122. Sincronizaci&#243;n de datos de seguridad </a> </td>
											    <td> <a href="../elements/ef6cb596-4166-486f-ba1e-c7783bc72453.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6ce4bc1-31c5-4436-94ab-a47ce707b9aa.html" target="element"> REQ123. Env&#237;o de informaci&#243;n </a> </td>
											    <td> <a href="../elements/b6ce4bc1-31c5-4436-94ab-a47ce707b9aa.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/77a837cb-160a-435b-9c1e-9a5859c09216.html" target="element"> REQ124. Recepci&#243;n de datos de otros sistemas </a> </td>
											    <td> <a href="../elements/77a837cb-160a-435b-9c1e-9a5859c09216.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5447ada5-0670-437b-bcdb-be25a9f26f55.html" target="element"> REQ125. Carga y sincronizaci&#243;n de datos de trabajo para procesos internos de la aplicaci&#243;n </a> </td>
											    <td> <a href="../elements/5447ada5-0670-437b-bcdb-be25a9f26f55.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/191f3839-bef0-4949-ad38-a4812aae311d.html" target="element"> REQ107. Navegar ocupaciones asociadas en funci&#243;n de similitud en funciones, destrezas, conocimientos y afinidades </a> </td>
											    <td> <a href="../elements/191f3839-bef0-4949-ad38-a4812aae311d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ed636565-37c7-4bec-b6e0-1c9146240610.html" target="element"> REQ116. Mostrar tendencias, participaci&#243;n y proyecciones por ocupaciones </a> </td>
											    <td> <a href="../elements/ed636565-37c7-4bec-b6e0-1c9146240610.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>