<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BSN. SNC. Componentes y Servicios</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>BSN. SNC. Componentes y Servicios</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/72b4f13f-5b07-49fe-9bf5-338a99814a11.png" alt="BSN. SNC. Componentes y Servicios" usemap="#72b4f13f-5b07-49fe-9bf5-338a99814a11map"/>
			   <map name="72b4f13f-5b07-49fe-9bf5-338a99814a11map">
				          <area shape="rect" coords="10,10,195,90" href="../objects/062dac39-10e1-4982-bb5b-a988d75d7d63.html" target="element" >
				  		<area shape="rect" coords="334,766,476,821" href="../elements/355cc188-d468-4120-b13f-d114de97a653.html"  target="element">
				  		<area shape="rect" coords="152,766,320,821" href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html"  target="element">
				  		<area shape="rect" coords="10,274,155,346" href="../elements/id-58e22046-28c1-46b7-999d-8d7c6a6f2127.html"  target="element">
				  		<area shape="rect" coords="490,274,635,346" href="../elements/id-d912fa4f-1088-473f-b9ea-24c8ca637559.html"  target="element">
				  		<area shape="rect" coords="332,274,477,346" href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html"  target="element">
				  		<area shape="rect" coords="166,274,321,346" href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html"  target="element">
				  		<area shape="rect" coords="815,274,935,346" href="../elements/id-eeb4a6e0-ffd6-4c4a-b573-dd53b2b75f5e.html"  target="element">
				  		<area shape="rect" coords="683,274,803,346" href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html"  target="element">
				  		<area shape="rect" coords="334,694,479,749" href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html"  target="element">
				  		<area shape="rect" coords="490,694,646,749" href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html"  target="element">
				  		<area shape="rect" coords="670,694,839,749" href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html"  target="element">
				  		<area shape="rect" coords="152,694,321,749" href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html"  target="element">
				  		<area shape="rect" coords="670,766,839,821" href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html"  target="element">
				  		<area shape="rect" coords="10,154,634,209" href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td>
											    <td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element"> BS03. Documentos de lineamientos t&#233;cnicos </a> </td>
											    <td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html" target="element"> BFUN2. CMP2. Esquema Movilidad Educativa y Formativa </a> </td>
											    <td> <a href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eeb4a6e0-ffd6-4c4a-b573-dd53b2b75f5e.html" target="element"> BFUN1. CMP1. Marco Nacional Cualificaciones (MNC) </a> </td>
											    <td> <a href="../elements/id-eeb4a6e0-ffd6-4c4a-b573-dd53b2b75f5e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html" target="element"> BFUN3. CMP3. Subsistema Normalizaci&#243;n Competencias </a> </td>
											    <td> <a href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html" target="element"> BFUN4. CMP4. Subsistemas Aseguramiento Calidad </a> </td>
											    <td> <a href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d912fa4f-1088-473f-b9ea-24c8ca637559.html" target="element"> BFUN5. CMP5. Subsistema de Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-d912fa4f-1088-473f-b9ea-24c8ca637559.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58e22046-28c1-46b7-999d-8d7c6a6f2127.html" target="element"> BFUN6. CMP6. Plataforma de informaci&#243;n del Sistema Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-58e22046-28c1-46b7-999d-8d7c6a6f2127.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element"> BS07. Servicios generales de Consulta de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element"> BS08. Servicios generales de Gesti&#243;n de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/062dac39-10e1-4982-bb5b-a988d75d7d63.html" target="element">  </a> </td>
									           <td> <a href="../objects/062dac39-10e1-4982-bb5b-a988d75d7d63.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a44a3a6c-7b58-43af-8e37-2dbcf5cbebf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a44a3a6c-7b58-43af-8e37-2dbcf5cbebf1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html" target="element"> BFUN2. CMP2. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74145a12-6b51-436a-a227-aab1d31924fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/74145a12-6b51-436a-a227-aab1d31924fe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-279534c1-52c4-4972-b7d1-c8c79654d2d9.html" target="element"> BFUN2. CMP2. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8efeae73-f0d0-413b-ba0f-d5e5aa76784e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8efeae73-f0d0-413b-ba0f-d5e5aa76784e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4d2bb23f-9513-4cf6-92d0-b08103dad20d.html" target="element"> BFUN3. CMP3. Subsistema Normalizaci&#243;n Competencias </a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3fc1b9aa-aee9-4874-bf6f-3ccfb055cebc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fc1b9aa-aee9-4874-bf6f-3ccfb055cebc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html" target="element"> BFUN4. CMP4. Subsistemas Aseguramiento Calidad </a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2873138a-a112-44c6-9d35-c5e73da290b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/2873138a-a112-44c6-9d35-c5e73da290b9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd9ae622-e0b0-43be-b178-6923f1e152c0.html" target="element"> BFUN4. CMP4. Subsistemas Aseguramiento Calidad </a> </td>
																		<td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8b1b0db-7663-42f9-b93b-651c21d0ab2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8b1b0db-7663-42f9-b93b-651c21d0ab2c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-d912fa4f-1088-473f-b9ea-24c8ca637559.html" target="element"> BFUN5. CMP5. Subsistema de Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3187461e-8ee5-4b3a-9239-7c74a4c9d129.html" target="element">  </a> </td>
																		<td> <a href="../elements/3187461e-8ee5-4b3a-9239-7c74a4c9d129.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d912fa4f-1088-473f-b9ea-24c8ca637559.html" target="element"> BFUN5. CMP5. Subsistema de Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																		<td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9d4e92c-f8db-4966-afa3-472a214a85f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9d4e92c-f8db-4966-afa3-472a214a85f6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-58e22046-28c1-46b7-999d-8d7c6a6f2127.html" target="element"> BFUN6. CMP6. Plataforma de informaci&#243;n del Sistema Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>