<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>123. Prflmnto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>123. Prflmnto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8f4c2601-10f6-42c6-98ae-1861edb5e034.png" alt="123. Prflmnto" usemap="#8f4c2601-10f6-42c6-98ae-1861edb5e034map"/>
			   <map name="8f4c2601-10f6-42c6-98ae-1861edb5e034map">
				  				<area shape="rect" coords="45,406,189,461" href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html"  target="element">
				  				<area shape="rect" coords="46,346,190,401" href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html"  target="element">
				  				<area shape="rect" coords="46,286,190,341" href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html"  target="element">
				  				<area shape="rect" coords="46,226,190,281" href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html"  target="element">
				  				<area shape="rect" coords="46,166,190,221" href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html"  target="element">
				  				<area shape="rect" coords="45,466,189,521" href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html"  target="element">

				  		<area shape="rect" coords="10,106,214,958" href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html"  target="element">
				  				<area shape="rect" coords="310,406,430,461" href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html"  target="element">
				  				<area shape="rect" coords="316,800,436,855" href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html"  target="element">
				  				<area shape="rect" coords="454,800,574,855" href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html"  target="element">
				  				<area shape="rect" coords="316,658,436,713" href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html"  target="element">
				  				<area shape="rect" coords="610,658,730,713" href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html"  target="element">
				  				<area shape="rect" coords="573,490,693,545" href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html"  target="element">
				  				<area shape="rect" coords="585,800,705,855" href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html"  target="element">
				  				<area shape="rect" coords="454,334,574,389" href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html"  target="element">
				  				<area shape="rect" coords="442,490,562,545" href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html"  target="element">
				  				<area shape="rect" coords="310,238,430,293" href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html"  target="element">
				  				<area shape="rect" coords="310,154,430,209" href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html"  target="element">
				  				<area shape="rect" coords="466,658,586,713" href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html"  target="element">
				  				<area shape="rect" coords="316,574,436,629" href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html"  target="element">
				  				<area shape="rect" coords="310,334,430,389" href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html"  target="element">
				  				<area shape="rect" coords="316,730,436,785" href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html"  target="element">
				  				<area shape="rect" coords="316,874,436,929" href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html"  target="element">
				  				<area shape="rect" coords="310,490,430,545" href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html"  target="element">
				  				<area shape="rect" coords="718,800,838,855" href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html"  target="element">

				  		<area shape="rect" coords="262,106,878,958" href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html"  target="element">
				          <area shape="rect" coords="10,10,195,90" href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
											    <td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
													    <td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
													    <td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
													    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
													    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
													    <td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
													    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
													    <td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Prflmto Web </a> </td>
													    <td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
													    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
													    <td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
													    <td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> bdd_notradccnl </a> </td>
													    <td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
													    <td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
													    <td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
													    <td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
													    <td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
													    <td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
													    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
											    <td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> Visualizaci&#243;n y Anltca. </a> </td>
													    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> Certificaci&#243;n </a> </td>
													    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> Perfil descargable </a> </td>
													    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> Navegaci&#243;n y entendimiento </a> </td>
													    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> Login y Perfiles </a> </td>
													    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> Recomendaciones </a> </td>
													    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/a86d7ea9-5c4c-4e3b-bb4f-3fd3cef1c54a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a86d7ea9-5c4c-4e3b-bb4f-3fd3cef1c54a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5e4a39a-0a21-4ffa-9822-d2d1add72aaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5e4a39a-0a21-4ffa-9822-d2d1add72aaf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c681392-594b-45ac-be21-0baf143cb31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c681392-594b-45ac-be21-0baf143cb31d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb831137-6378-42e8-b090-908d172be6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb831137-6378-42e8-b090-908d172be6dd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/778ff556-df45-441e-b54b-e0110d1ef145.html" target="element">  </a> </td>
																		<td> <a href="../elements/778ff556-df45-441e-b54b-e0110d1ef145.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27ac8197-249e-476a-ba5f-d379935acb4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/27ac8197-249e-476a-ba5f-d379935acb4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eedc9855-6f48-4101-b7a1-ceb364122be1.html" target="element">  </a> </td>
																		<td> <a href="../elements/eedc9855-6f48-4101-b7a1-ceb364122be1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc54197a-5964-4958-be22-27ba71694e6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc54197a-5964-4958-be22-27ba71694e6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Prflmto Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec3c2092-e584-489a-9589-0914d43dc399.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec3c2092-e584-489a-9589-0914d43dc399.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0df5b3fc-1d8f-417a-a8e7-74841c76b4e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0df5b3fc-1d8f-417a-a8e7-74841c76b4e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5ec9a24-1d53-4103-a2f3-0cad27bfb4b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5ec9a24-1d53-4103-a2f3-0cad27bfb4b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e9bb777-b406-4bd2-80da-84cee10f721a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e9bb777-b406-4bd2-80da-84cee10f721a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> bdd_notradccnl </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03e77116-21fd-427c-947f-57ab1d10c29c.html" target="element">  </a> </td>
																		<td> <a href="../elements/03e77116-21fd-427c-947f-57ab1d10c29c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fcb2b773-82c4-4f8c-95fb-2df66134de46.html" target="element">  </a> </td>
																		<td> <a href="../elements/fcb2b773-82c4-4f8c-95fb-2df66134de46.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2807de39-771d-4f9d-8755-18c98f1c57f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/2807de39-771d-4f9d-8755-18c98f1c57f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fedb8d9a-45df-491d-8e3a-2be9b418fc24.html" target="element">  </a> </td>
																		<td> <a href="../elements/fedb8d9a-45df-491d-8e3a-2be9b418fc24.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/af547aa3-a24f-4097-853b-8fdd4b6da3e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/af547aa3-a24f-4097-853b-8fdd4b6da3e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78553b64-8e41-4c52-90f6-b89125bdd365.html" target="element">  </a> </td>
																		<td> <a href="../elements/78553b64-8e41-4c52-90f6-b89125bdd365.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5be784e2-4b91-4c72-93af-eaa19eba7a26.html" target="element">  </a> </td>
																		<td> <a href="../elements/5be784e2-4b91-4c72-93af-eaa19eba7a26.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/14efdfe8-0e25-4c71-89aa-815947b797fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/14efdfe8-0e25-4c71-89aa-815947b797fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f99d6d4f-5f72-4eca-9887-f156f6022bd9.html" target="element">  </a> </td>
																				<td> <a href="../elements/f99d6d4f-5f72-4eca-9887-f156f6022bd9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46346508-0713-4add-bdfb-e955ffd61293.html" target="element">  </a> </td>
																				<td> <a href="../elements/46346508-0713-4add-bdfb-e955ffd61293.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> bdd_notradccnl </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d3fc6738-8213-4947-b4ad-51a80a9cde5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/d3fc6738-8213-4947-b4ad-51a80a9cde5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/83a3e149-d3c0-447b-a91b-911b3ec0cfd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/83a3e149-d3c0-447b-a91b-911b3ec0cfd2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/163b2ec9-fa3a-40d3-97c0-323492ea99f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/163b2ec9-fa3a-40d3-97c0-323492ea99f8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c91c79af-81a8-41df-8db8-dc426ac86f42.html" target="element">  </a> </td>
																				<td> <a href="../elements/c91c79af-81a8-41df-8db8-dc426ac86f42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7298581f-cc43-44fb-b30d-7b066409a44c.html" target="element">  </a> </td>
																				<td> <a href="../elements/7298581f-cc43-44fb-b30d-7b066409a44c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e647ff5d-067b-47aa-ae8f-9665d77c1175.html" target="element">  </a> </td>
																				<td> <a href="../elements/e647ff5d-067b-47aa-ae8f-9665d77c1175.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4ed31ba4-5a24-436c-b9fc-e5f5347ae23f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ed31ba4-5a24-436c-b9fc-e5f5347ae23f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/beae0a54-a691-4a45-bc82-df59a45f9a27.html" target="element">  </a> </td>
																				<td> <a href="../elements/beae0a54-a691-4a45-bc82-df59a45f9a27.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																				<td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Prflmto Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/20d61d30-a399-4153-81ee-ed08c0b297cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/20d61d30-a399-4153-81ee-ed08c0b297cb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																				<td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e3c60dc2-512c-43bf-b489-b14d33838e93.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3c60dc2-512c-43bf-b489-b14d33838e93.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																				<td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2fee4c66-27fa-462d-821a-a68295ebd21e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fee4c66-27fa-462d-821a-a68295ebd21e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> Visualizaci&#243;n y Anltca. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ed52ecb-3828-46dc-8ef1-da6108a61522.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ed52ecb-3828-46dc-8ef1-da6108a61522.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> Certificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a48d446-e562-4919-bc8d-5ab0e09c4e99.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a48d446-e562-4919-bc8d-5ab0e09c4e99.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> Perfil descargable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4bbee4f5-69e2-4a6f-9265-526cefad584b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4bbee4f5-69e2-4a6f-9265-526cefad584b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> Navegaci&#243;n y entendimiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6164cacf-3e51-43a6-a2f0-efa83d834f71.html" target="element">  </a> </td>
																		<td> <a href="../elements/6164cacf-3e51-43a6-a2f0-efa83d834f71.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> Login y Perfiles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1200cfe9-b281-41cc-a46b-b4a254eb0e29.html" target="element">  </a> </td>
																		<td> <a href="../elements/1200cfe9-b281-41cc-a46b-b4a254eb0e29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> Recomendaciones </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>