<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>123. Prflmnto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>123. Prflmnto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8f4c2601-10f6-42c6-98ae-1861edb5e034.png" alt="123. Prflmnto" usemap="#8f4c2601-10f6-42c6-98ae-1861edb5e034map"/>
			   <map name="8f4c2601-10f6-42c6-98ae-1861edb5e034map">
				  				<area shape="rect" coords="34,406,178,461" href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html"  target="element">
				  				<area shape="rect" coords="35,346,179,401" href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html"  target="element">
				  				<area shape="rect" coords="35,286,179,341" href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html"  target="element">
				  				<area shape="rect" coords="35,226,179,281" href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html"  target="element">
				  				<area shape="rect" coords="35,166,179,221" href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html"  target="element">
				  				<area shape="rect" coords="34,466,178,521" href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html"  target="element">

				  		<area shape="rect" coords="10,106,214,694" href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html"  target="element">
				  				<area shape="rect" coords="705,214,837,269" href="../elements/d7fa060a-698d-4807-afd8-8ee82f63e85f.html"  target="element">
				  				<area shape="rect" coords="705,154,837,209" href="../elements/5652a504-cbe3-4e9e-8461-e08266fd8e80.html"  target="element">
				  				<area shape="rect" coords="573,154,693,209" href="../elements/18383f5e-c8e4-4fd7-9641-adaab11e9f0a.html"  target="element">
				  				<area shape="rect" coords="442,154,562,209" href="../elements/615a0bc5-8629-4701-a2aa-0919af4e779f.html"  target="element">
				  				<area shape="rect" coords="310,466,430,521" href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html"  target="element">
				  				<area shape="rect" coords="316,860,436,915" href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html"  target="element">
				  				<area shape="rect" coords="454,860,574,915" href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html"  target="element">
				  				<area shape="rect" coords="316,718,436,773" href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html"  target="element">
				  				<area shape="rect" coords="610,718,730,773" href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html"  target="element">
				  				<area shape="rect" coords="573,550,693,605" href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html"  target="element">
				  				<area shape="rect" coords="585,860,705,915" href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html"  target="element">
				  				<area shape="rect" coords="454,394,574,449" href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html"  target="element">
				  				<area shape="rect" coords="442,550,562,605" href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html"  target="element">
				  				<area shape="rect" coords="310,298,430,353" href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html"  target="element">
				  				<area shape="rect" coords="310,154,430,209" href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html"  target="element">
				  				<area shape="rect" coords="466,718,586,773" href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html"  target="element">
				  				<area shape="rect" coords="316,634,436,689" href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html"  target="element">
				  				<area shape="rect" coords="310,394,430,449" href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html"  target="element">
				  				<area shape="rect" coords="316,790,436,845" href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html"  target="element">
				  				<area shape="rect" coords="316,946,436,1001" href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html"  target="element">
				  				<area shape="rect" coords="310,550,430,605" href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html"  target="element">
				  				<area shape="rect" coords="718,860,838,915" href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html"  target="element">

				  		<area shape="rect" coords="262,106,878,1031" href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html"  target="element">
				          <area shape="rect" coords="10,10,195,90" href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La ejecuci&#243;n del Programa para Fortalecer las Pol&#237;ticas de Empleo y la Formaci&#243;n para el Trabajo requiere ejecutar un proyecto de Dise&#241;o e implementaci&#243;n de un Instrumento de perfilamiento para poblaci&#243;n nacional y migrante y de un Cat&#225;logo de Ocupaciones, las cuales tendr&#225;n como base y principio de articulaci&#243;n a la Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia (CUOC), y son referentes para la toma de decisiones de los actores del ecosistema de capital humano. 

Este proyecto debe garantizar: 1) la creaci&#243;n del perfil laboral de los nacionales y migrantes, la orientaci&#243;n sobre formaci&#243;n, la certificaci&#243;n y ocupaci&#243;n en la herramienta de perfilamiento, y 2) un aplicativo web para la disposici&#243;n de informaci&#243;n de la Clasificaci&#243;n de Ocupaciones, su relaci&#243;n con otras tablas param&#233;tricas, as&#237; como datos sobre programas de educaci&#243;n formal, educaci&#243;n para el trabajo y procesos de reconocimiento de aprendizajes previos, e informaci&#243;n estad&#237;stica asociada. Las herramientas deben soportar funciones de anal&#237;tica de datos, aplicaciones interactivas de navegaci&#243;n y consultas, un tablero de control, y un formulario web para recolecci&#243;n de datos.

Como parte de los productos que se plantean desde el Subsistema Evaluaci&#243;n y Certificaci&#243;n de Competencias, en el marco del Componente 2 del Programa para Fortalecer Pol&#237;ticas de Empleo, y espec&#237;ficamente para el Servicio de certificaci&#243;n de competencias, se contempla el dise&#241;o y puesta en marcha de un Programa de Certificaci&#243;n y Capacitaci&#243;n para la Poblaci&#243;n Nacional y Migrante, as&#237; como unos pilotos de Reconocimiento de Aprendizajes Previos como v&#237;a de cualificaci&#243;n, a partir de la reglamentaci&#243;n que expida el Gobierno Nacional a trav&#233;s del Ministerio del Trabajo, sobre el particular. 

La herramienta de perfilamiento y orientaci&#243;n ocupacional ser&#225; fundamental para el desarrollo del Programa de certificaci&#243;n y capacitaci&#243;n para la poblaci&#243;n nacional y migrante, dado que permitir&#225; caracterizar la poblaci&#243;n que acceda a ella, en t&#233;rminos de competencias, y a su vez brindar&#225; elementos para identificar la ruta que los beneficiarios deben continuar, una vez se cuente con su perfilamiento, entendiendo esto, como:

1.	Directamente a un proceso de evaluaci&#243;n de competencias, cuando su perfil y experiencia cumplan con los requerimientos, de forma tal que el beneficiario pueda obtener la certificaci&#243;n, seg&#250;n los resultados obtenidos luego de la evaluaci&#243;n. 
1.	Desarrollo de un proceso de capacitaci&#243;n, si el beneficiario no logra obtener la certificaci&#243;n en el proceso anterior (1) o no cumple con los requisitos para acceder directamente al proceso de evaluaci&#243;n. La capacitaci&#243;n permitir&#225; fortalecer o complementar las competencias del beneficiario y brindarle mayores elementos para un nuevo proceso de evaluaci&#243;n, as&#237; como para desempe&#241;arse en las ocupaciones que m&#225;s se ajusten a su perfil. 

La estructura tecnol&#243;gica que la herramienta requiere para soportar las &#233;picas del producto es la siguiente: para ejecuci&#243;n de la aplicaci&#243;n web requiere de un servidor de aplicaciones est&#225;ndar, b&#225;sico, no transaccional. Requiere de dos servidores de anal&#237;tica, uno para ejecutar modelos de Python, y otro para los de R. Para exponer y recibir datos de otros sistemas y/o funcionalidades requiere un servidor de integraci&#243;n general, en donde tambi&#233;n puede ubicarse los servicios de preparaci&#243;n de datos para enviar a un motor de visualizaci&#243;n de negocio (BI). Finalmente, los datos de trabajo y de las fuentes de informaci&#243;n requeridas por la herramienta requerir&#225;n de dos servidores de base de datos relacionales.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/29850ab6-b585-4ec6-8bcb-5f0d9944c4ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
											    <td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
													    <td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
													    <td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
													    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
													    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
													    <td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
													    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
													    <td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Evaluaci&#243;n Web </a> </td>
													    <td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
													    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
													    <td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
													    <td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> DO54. LinkedIn </a> </td>
													    <td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
													    <td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
													    <td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
													    <td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
													    <td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
													    <td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
													    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/615a0bc5-8629-4701-a2aa-0919af4e779f.html" target="element"> Navegaci&#243;n web perfil </a> </td>
													    <td> <a href="../elements/615a0bc5-8629-4701-a2aa-0919af4e779f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18383f5e-c8e4-4fd7-9641-adaab11e9f0a.html" target="element"> Logines y perfiles </a> </td>
													    <td> <a href="../elements/18383f5e-c8e4-4fd7-9641-adaab11e9f0a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5652a504-cbe3-4e9e-8461-e08266fd8e80.html" target="element"> Recomendaciones </a> </td>
													    <td> <a href="../elements/5652a504-cbe3-4e9e-8461-e08266fd8e80.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d7fa060a-698d-4807-afd8-8ee82f63e85f.html" target="element"> Visualizacion </a> </td>
													    <td> <a href="../elements/d7fa060a-698d-4807-afd8-8ee82f63e85f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
											    <td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> EPC06. Visualizaci&#243;n y Anltca. </a> </td>
													    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> EPC05. Certificaci&#243;n </a> </td>
													    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> EPC01. Perfil descargable </a> </td>
													    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> EPC03. Navegaci&#243;n y entendimiento </a> </td>
													    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> EPC02. Login y Perfiles </a> </td>
													    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> EPC04. Recomendaciones </a> </td>
													    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/a86d7ea9-5c4c-4e3b-bb4f-3fd3cef1c54a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a86d7ea9-5c4c-4e3b-bb4f-3fd3cef1c54a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5e4a39a-0a21-4ffa-9822-d2d1add72aaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5e4a39a-0a21-4ffa-9822-d2d1add72aaf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c681392-594b-45ac-be21-0baf143cb31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c681392-594b-45ac-be21-0baf143cb31d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb831137-6378-42e8-b090-908d172be6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb831137-6378-42e8-b090-908d172be6dd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/778ff556-df45-441e-b54b-e0110d1ef145.html" target="element">  </a> </td>
																		<td> <a href="../elements/778ff556-df45-441e-b54b-e0110d1ef145.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/27ac8197-249e-476a-ba5f-d379935acb4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/27ac8197-249e-476a-ba5f-d379935acb4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eedc9855-6f48-4101-b7a1-ceb364122be1.html" target="element">  </a> </td>
																		<td> <a href="../elements/eedc9855-6f48-4101-b7a1-ceb364122be1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec3c2092-e584-489a-9589-0914d43dc399.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec3c2092-e584-489a-9589-0914d43dc399.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0df5b3fc-1d8f-417a-a8e7-74841c76b4e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/0df5b3fc-1d8f-417a-a8e7-74841c76b4e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5ec9a24-1d53-4103-a2f3-0cad27bfb4b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5ec9a24-1d53-4103-a2f3-0cad27bfb4b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e9bb777-b406-4bd2-80da-84cee10f721a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e9bb777-b406-4bd2-80da-84cee10f721a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> DO54. LinkedIn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03e77116-21fd-427c-947f-57ab1d10c29c.html" target="element">  </a> </td>
																		<td> <a href="../elements/03e77116-21fd-427c-947f-57ab1d10c29c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fcb2b773-82c4-4f8c-95fb-2df66134de46.html" target="element">  </a> </td>
																		<td> <a href="../elements/fcb2b773-82c4-4f8c-95fb-2df66134de46.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2807de39-771d-4f9d-8755-18c98f1c57f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/2807de39-771d-4f9d-8755-18c98f1c57f4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fedb8d9a-45df-491d-8e3a-2be9b418fc24.html" target="element">  </a> </td>
																		<td> <a href="../elements/fedb8d9a-45df-491d-8e3a-2be9b418fc24.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/af547aa3-a24f-4097-853b-8fdd4b6da3e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/af547aa3-a24f-4097-853b-8fdd4b6da3e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78553b64-8e41-4c52-90f6-b89125bdd365.html" target="element">  </a> </td>
																		<td> <a href="../elements/78553b64-8e41-4c52-90f6-b89125bdd365.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5be784e2-4b91-4c72-93af-eaa19eba7a26.html" target="element">  </a> </td>
																		<td> <a href="../elements/5be784e2-4b91-4c72-93af-eaa19eba7a26.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc54197a-5964-4958-be22-27ba71694e6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc54197a-5964-4958-be22-27ba71694e6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Evaluaci&#243;n Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebbd962b-b26b-4668-ab2c-a2bb497488d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ebbd962b-b26b-4668-ab2c-a2bb497488d8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/615a0bc5-8629-4701-a2aa-0919af4e779f.html" target="element"> Navegaci&#243;n web perfil </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd47778a-c357-4a4a-b818-3af972d76f7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd47778a-c357-4a4a-b818-3af972d76f7b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/18383f5e-c8e4-4fd7-9641-adaab11e9f0a.html" target="element"> Logines y perfiles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1d3720f2-cd59-4aef-ad06-ac5f8515b6df.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d3720f2-cd59-4aef-ad06-ac5f8515b6df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/5652a504-cbe3-4e9e-8461-e08266fd8e80.html" target="element"> Recomendaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/45ef7698-96ff-414d-a051-228a2b4ba10c.html" target="element">  </a> </td>
																		<td> <a href="../elements/45ef7698-96ff-414d-a051-228a2b4ba10c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e7e2ab03-214a-44aa-83c7-33f2121e187f.html" target="element"> GRP. Estructura Prflmto </a> </td>
																		<td> <a href="../elements/d7fa060a-698d-4807-afd8-8ee82f63e85f.html" target="element"> Visualizacion </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/14efdfe8-0e25-4c71-89aa-815947b797fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/14efdfe8-0e25-4c71-89aa-815947b797fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/999f14f9-97a6-4704-8296-c79ede2cd3db.html" target="element"> bdd_acrb </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f99d6d4f-5f72-4eca-9887-f156f6022bd9.html" target="element">  </a> </td>
																				<td> <a href="../elements/f99d6d4f-5f72-4eca-9887-f156f6022bd9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/168b8b67-d26b-4df0-a3c7-49a813bf8b09.html" target="element"> bdd_geih </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/46346508-0713-4add-bdfb-e955ffd61293.html" target="element">  </a> </td>
																				<td> <a href="../elements/46346508-0713-4add-bdfb-e955ffd61293.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/efe848bd-ebca-45a2-8777-55be5c182edf.html" target="element"> DO54. LinkedIn </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d3fc6738-8213-4947-b4ad-51a80a9cde5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/d3fc6738-8213-4947-b4ad-51a80a9cde5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																				<td> <a href="../elements/1d8144ed-f8b1-4d25-9fe1-89dbc237f6a6.html" target="element"> bdd_spe </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/83a3e149-d3c0-447b-a91b-911b3ec0cfd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/83a3e149-d3c0-447b-a91b-911b3ec0cfd2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/49350b87-cc11-444d-9727-7d6cb17dbb89.html" target="element"> bdd_tparam </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/163b2ec9-fa3a-40d3-97c0-323492ea99f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/163b2ec9-fa3a-40d3-97c0-323492ea99f8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/ae6177e6-3de3-408e-93aa-42399ceb29d4.html" target="element"> bdd_prfls </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c91c79af-81a8-41df-8db8-dc426ac86f42.html" target="element">  </a> </td>
																				<td> <a href="../elements/c91c79af-81a8-41df-8db8-dc426ac86f42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																				<td> <a href="../elements/4c67588b-6f05-4d71-9605-75085ed5fdfe.html" target="element"> bdd_orntcn </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7298581f-cc43-44fb-b30d-7b066409a44c.html" target="element">  </a> </td>
																				<td> <a href="../elements/7298581f-cc43-44fb-b30d-7b066409a44c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/135d576f-db94-4d3d-b1cb-3d79d76c986f.html" target="element"> API (in) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e647ff5d-067b-47aa-ae8f-9665d77c1175.html" target="element">  </a> </td>
																				<td> <a href="../elements/e647ff5d-067b-47aa-ae8f-9665d77c1175.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/732ea7ee-c451-4a8c-82c3-3cb960f9324f.html" target="element"> API (out) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4ed31ba4-5a24-436c-b9fc-e5f5347ae23f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4ed31ba4-5a24-436c-b9fc-e5f5347ae23f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																				<td> <a href="../elements/ee8ad969-5c78-4ed8-9aa6-7069e79a37cc.html" target="element"> Visualizaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/beae0a54-a691-4a45-bc82-df59a45f9a27.html" target="element">  </a> </td>
																				<td> <a href="../elements/beae0a54-a691-4a45-bc82-df59a45f9a27.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																				<td> <a href="../elements/2d04b82c-4e6c-4ce1-8f7b-820f7eb018ef.html" target="element"> Evaluaci&#243;n Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/20d61d30-a399-4153-81ee-ed08c0b297cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/20d61d30-a399-4153-81ee-ed08c0b297cb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																				<td> <a href="../elements/a5fb1e4e-6cd1-46c1-baa1-fdcf26ee57b4.html" target="element"> Anltca_phyton </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e3c60dc2-512c-43bf-b489-b14d33838e93.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3c60dc2-512c-43bf-b489-b14d33838e93.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																				<td> <a href="../elements/354d5363-0983-4671-b76b-8a289c2810b7.html" target="element"> Anltca_R </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2dfd91c5-c6f2-4acf-9e28-8dd45a887a01.html" target="element">  </a> </td>
																				<td> <a href="../elements/2dfd91c5-c6f2-4acf-9e28-8dd45a887a01.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/615a0bc5-8629-4701-a2aa-0919af4e779f.html" target="element"> Navegaci&#243;n web perfil </a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/190fe565-6a2d-418d-a5c1-c6e93aca0333.html" target="element">  </a> </td>
																				<td> <a href="../elements/190fe565-6a2d-418d-a5c1-c6e93aca0333.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/18383f5e-c8e4-4fd7-9641-adaab11e9f0a.html" target="element"> Logines y perfiles </a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a73caed5-a29c-4e25-9357-33e931b07d40.html" target="element">  </a> </td>
																				<td> <a href="../elements/a73caed5-a29c-4e25-9357-33e931b07d40.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/5652a504-cbe3-4e9e-8461-e08266fd8e80.html" target="element"> Recomendaciones </a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fdb9463d-2427-45c4-8cdc-7cbd1a02e24a.html" target="element">  </a> </td>
																				<td> <a href="../elements/fdb9463d-2427-45c4-8cdc-7cbd1a02e24a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/d7fa060a-698d-4807-afd8-8ee82f63e85f.html" target="element"> Visualizacion </a> </td>
																				<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2fee4c66-27fa-462d-821a-a68295ebd21e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fee4c66-27fa-462d-821a-a68295ebd21e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> EPC06. Visualizaci&#243;n y Anltca. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ed52ecb-3828-46dc-8ef1-da6108a61522.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ed52ecb-3828-46dc-8ef1-da6108a61522.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> EPC05. Certificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a48d446-e562-4919-bc8d-5ab0e09c4e99.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a48d446-e562-4919-bc8d-5ab0e09c4e99.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> EPC01. Perfil descargable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4bbee4f5-69e2-4a6f-9265-526cefad584b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4bbee4f5-69e2-4a6f-9265-526cefad584b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> EPC03. Navegaci&#243;n y entendimiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6164cacf-3e51-43a6-a2f0-efa83d834f71.html" target="element">  </a> </td>
																		<td> <a href="../elements/6164cacf-3e51-43a6-a2f0-efa83d834f71.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> EPC02. Login y Perfiles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1200cfe9-b281-41cc-a46b-b4a254eb0e29.html" target="element">  </a> </td>
																		<td> <a href="../elements/1200cfe9-b281-41cc-a46b-b4a254eb0e29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6bf265af-5305-4eab-a531-6a8df7e41ee2.html" target="element"> GRP. &#201;picas Prflmto </a> </td>
																		<td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> EPC04. Recomendaciones </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>