<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. Aplicaciones y Requerimientos. PERF</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. Aplicaciones y Requerimientos. PERF</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b5e8c687-26b0-4ff6-a9e8-b825b864deb5.png" alt="APP. Aplicaciones y Requerimientos. PERF" usemap="#b5e8c687-26b0-4ff6-a9e8-b825b864deb5map"/>
			   <map name="b5e8c687-26b0-4ff6-a9e8-b825b864deb5map">
				  		<area shape="rect" coords="466,448,599,503" href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html"  target="element">
				  		<area shape="rect" coords="316,448,449,503" href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html"  target="element">
				  		<area shape="rect" coords="142,448,299,503" href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html"  target="element">
				  		<area shape="rect" coords="466,373,599,428" href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html"  target="element">
				  		<area shape="rect" coords="316,373,449,428" href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html"  target="element">
				  		<area shape="rect" coords="142,373,299,428" href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html"  target="element">
				  		<area shape="rect" coords="10,196,130,251" href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html"  target="element">
				          <area shape="rect" coords="10,10,286,124" href="../objects/fd37be31-2675-48d1-9568-10fb0c16a56f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El mapa requerimientos funcionales de las aplicaciones del Programa relacionados con componentes de aplicaci&#243;n. El siguiente cuadro presenta las &#233;picas de usuario que la herramienta realizar&#225; para accedar, procesar, analizar y presentar los perfiles de las personas nacionales y migrantes.

*Perfil descargable*
	Perfil descargable. Perfil descargable general
	Perfil descargable. Personalizar formato
	Perfil descargable. Personalizar contenido
	Perfil descargable. Adaptaci&#243;n por ocupaci&#243;n
	Perfil descargable. Adaptaci&#243;n por vacante
	Perfil descargable. Compartir por redes sociales
	Perfil descargable. Destacar fortalezas

*Navegaci&#243;n y entendimiento*
	Navegaci&#243;n. Objetivos y audiencias
	Navegaci&#243;n. C&#243;mo usar la plataforma
	Entendimiento. Mercado laboral
	Entendimiento. Test de autoconocimiento y fortalezas
	Entendimiento. Quiero intermediaci&#243;n
	Entendimiento. Sobre el SPE

*Login y creaci&#243;n de perfil*
	Login. Login
	Qui&#233;n eres. Informaci&#243;n b&#225;sica
	Qu&#233; sabes. Experiencia laboral
	Qu&#233; sabes. Formaci&#243;n
	Qu&#233; sabes. Hobbies y otros
	Qu&#233; quieres hacer. Aspiraciones
	Qu&#233; quieres hacer. Competencias favoritas
	Qu&#233; quieres hacer. Preferencias
	Integraci&#243;n. Integraci&#243;n con otras p&#225;ginas
	Subida de archivos Documentos
	Subida de archivos V&#237;deos y otros
	Referencias. Referencias

*Recomendaciones*
	Carreras y ocupaciones. Recomendaciones de carreras generales
	Carreras y ocupaciones. Informaci&#243;n adicional sobre carreras
	Carreras y ocupaciones. Recomendaciones de carreras espec&#237;ficas
	Brecha de competencias. Brecha de competencias
	Oportunidades de aprendizaje. Generales
	Oportunidades de aprendizaje. Reales
	Oportunidades de reconocimiento de aprendizajes previos. Generales
	Oportunidades de reconocimiento de aprendizajes previos. Reales
	Checklist de acciones. Lista
	Checklist de acciones. Tracker
	Destaques. Fortalezas
	Destaques. Competencias "&#250;nicas"
	Destaques. Competencias transferibles
	Destaques. Aspiraciones
	Destaques. Competencias favoritas
	Coaching. Virtual
	Coaching. Presencial

*Visualizaci&#243;n y anal&#237;tica*
	Visualizaci&#243;n. Ver perfiles individuales
	Visualizaci&#243;n. B&#250;squeda por competencias
	Visualizaci&#243;n. Probabilidad de empleabilidad por perfil
	Visualizaci&#243;n. Notas del orientador
	Anal&#237;tica. N&#250;mero de perfiles por sector, ocupaci&#243;n o competencia
	Anal&#237;tica. Segmentaci&#243;n / clustering de perfiles
	Anal&#237;tica. Carreras y ocupaciones m&#225;s y menos comunes
	Anal&#237;tica. Competencias m&#225;s y menos comunes
	Anal&#237;tica. Competencias transferibles m&#225;s y menos comunies
	Anal&#237;tica. Factores de influencia en probabilidad de empleabilidad
	Reportes. Creaci&#243;n a medida

Total PERF			56
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/fd37be31-2675-48d1-9568-10fb0c16a56f.html" target="element">  </a> </td>
									           <td> <a href="../objects/fd37be31-2675-48d1-9568-10fb0c16a56f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> EPC01. Perfil descargable </a> </td>
											    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> EPC02. Login y Perfiles </a> </td>
											    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> EPC03. Navegaci&#243;n y entendimiento </a> </td>
											    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> EPC04. Recomendaciones </a> </td>
											    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> EPC05. Certificaci&#243;n </a> </td>
											    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> EPC06. Visualizaci&#243;n y Anltca. </a> </td>
											    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/4d3649e0-81b4-4e77-9858-abe69d47ef1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d3649e0-81b4-4e77-9858-abe69d47ef1b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
																		<td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> EPC01. Perfil descargable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3132616e-ca15-4c1d-b13e-d9f7c2d649b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/3132616e-ca15-4c1d-b13e-d9f7c2d649b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
																		<td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> EPC02. Login y Perfiles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/127eb412-7fe2-4a17-8270-7fcaf4a104c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/127eb412-7fe2-4a17-8270-7fcaf4a104c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
																		<td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> EPC03. Navegaci&#243;n y entendimiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/da84453c-1829-454e-a4e7-a499155ca2bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/da84453c-1829-454e-a4e7-a499155ca2bb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
																		<td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> EPC05. Certificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c00466fb-34b6-4783-8abd-e292b46e11c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c00466fb-34b6-4783-8abd-e292b46e11c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP9. PERF </a> </td>
																		<td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> EPC06. Visualizaci&#243;n y Anltca. </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>