<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. API -Colaboración.2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. API -Colaboraci&#243;n.2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b73178e6-ae2b-472e-b24e-0e25e2544bec.png" alt="APP. SNC. API -Colaboración.2" usemap="#b73178e6-ae2b-472e-b24e-0e25e2544becmap"/>
			   <map name="b73178e6-ae2b-472e-b24e-0e25e2544becmap">
				  		<area shape="rect" coords="94,730,214,785" href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html"  target="element">
				  		<area shape="rect" coords="61,812,214,867" href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html"  target="element">
				  		<area shape="rect" coords="61,874,214,929" href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html"  target="element">
				  				<area shape="rect" coords="490,718,634,773" href="../elements/0ad67764-04da-499e-85df-f4218097e3de.html"  target="element">
				  				<area shape="rect" coords="478,870,598,925" href="../elements/98c37f57-0bdd-487f-a7b5-16aa7ae7620c.html"  target="element">
				  				<area shape="rect" coords="538,800,658,855" href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html"  target="element">

				  		<area shape="rect" coords="442,238,682,950" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
				  		<area shape="rect" coords="1948,906,2068,961" href="../elements/cfd44d2f-8f99-44bb-af57-90623bb37deb.html"  target="element">
				  		<area shape="rect" coords="1948,1306,2068,1361" href="../elements/c44ad50f-69e6-4601-bf24-2110652d460c.html"  target="element">
				  		<area shape="rect" coords="1798,1306,1918,1361" href="../elements/f47973d2-2a8f-4ed7-b11a-8f53e5853389.html"  target="element">
				  		<area shape="rect" coords="1648,1306,1768,1361" href="../elements/9d175780-eee1-4806-a65e-b8a5a751fa98.html"  target="element">
				  		<area shape="rect" coords="1948,1206,2068,1261" href="../elements/0ccc4474-cbd9-49c5-bdca-03b1dbca98af.html"  target="element">
				  		<area shape="rect" coords="1798,1206,1918,1261" href="../elements/b4c10bf4-fc1c-42c3-9834-e7359279e00a.html"  target="element">
				  		<area shape="rect" coords="1648,1206,1768,1261" href="../elements/46cc6bbd-7996-4bef-857d-a699a1c96c4b.html"  target="element">
				  		<area shape="rect" coords="1948,1106,2068,1161" href="../elements/53bfb64c-0067-406a-a3ef-0b73746f864a.html"  target="element">
				  		<area shape="rect" coords="1798,1106,1918,1161" href="../elements/a3aaa75e-cfc6-4113-8c78-8cb233d6c080.html"  target="element">
				  		<area shape="rect" coords="1648,1106,1768,1161" href="../elements/549ec53c-9ed2-4abd-bd0c-acaf0a8ff2e8.html"  target="element">
				  		<area shape="rect" coords="1948,1006,2068,1061" href="../elements/e7bc2a6e-6b31-405b-a022-f70f49ac8748.html"  target="element">
				  		<area shape="rect" coords="1798,1006,1918,1061" href="../elements/b3e9141f-ffe4-445a-9a46-b39c69b20ea7.html"  target="element">
				  		<area shape="rect" coords="622,1318,742,1373" href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html"  target="element">
				  		<area shape="rect" coords="622,1138,742,1193" href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html"  target="element">
				  		<area shape="rect" coords="622,1222,742,1277" href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html"  target="element">
				  		<area shape="rect" coords="1648,906,1768,961" href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html"  target="element">
				  		<area shape="rect" coords="1798,802,1918,857" href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html"  target="element">
				  		<area shape="rect" coords="1798,906,1918,961" href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html"  target="element">
				  		<area shape="rect" coords="1648,806,1768,861" href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html"  target="element">
				  		<area shape="rect" coords="1798,706,1918,761" href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html"  target="element">
				  		<area shape="rect" coords="1642,1006,1762,1061" href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html"  target="element">
				  		<area shape="rect" coords="1648,706,1768,761" href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html"  target="element">
				  		<area shape="rect" coords="1642,106,1762,161" href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html"  target="element">
				  		<area shape="rect" coords="1948,506,2068,561" href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html"  target="element">
				  		<area shape="rect" coords="1798,506,1918,561" href="../elements/id-5a504dc501594788850576cee36d3572.html"  target="element">
				  		<area shape="rect" coords="1648,506,1768,561" href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html"  target="element">
				  		<area shape="rect" coords="1948,406,2068,461" href="../elements/id-539ae40b3250451d94f071ad38a572db.html"  target="element">
				  		<area shape="rect" coords="1798,406,1918,461" href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html"  target="element">
				  		<area shape="rect" coords="1648,406,1768,461" href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html"  target="element">
				  		<area shape="rect" coords="1948,306,2068,361" href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html"  target="element">
				  		<area shape="rect" coords="1798,306,1918,361" href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html"  target="element">
				  		<area shape="rect" coords="1648,306,1768,361" href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html"  target="element">
				  		<area shape="rect" coords="1948,206,2068,261" href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html"  target="element">
				  		<area shape="rect" coords="1798,206,1918,261" href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html"  target="element">
				  		<area shape="rect" coords="1648,206,1768,261" href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html"  target="element">
				  		<area shape="rect" coords="1948,106,2068,161" href="../elements/id-264751761385418d94488a4c3dfbe28f.html"  target="element">
				  		<area shape="rect" coords="1798,106,1918,161" href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html"  target="element">
				  		<area shape="rect" coords="1122,1346,1242,1401" href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html"  target="element">
				  		<area shape="rect" coords="1420,1246,1540,1301" href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html"  target="element">
				  		<area shape="rect" coords="1270,1246,1390,1301" href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html"  target="element">
				  		<area shape="rect" coords="1077,812,1221,867" href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html"  target="element">
				  		<area shape="rect" coords="1077,710,1221,765" href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html"  target="element">
				  		<area shape="rect" coords="1270,1446,1390,1501" href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html"  target="element">
				  		<area shape="rect" coords="1120,1446,1240,1501" href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html"  target="element">
				  		<area shape="rect" coords="1420,1346,1540,1401" href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html"  target="element">
				  		<area shape="rect" coords="1270,1346,1390,1401" href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html"  target="element">
				  		<area shape="rect" coords="1078,620,1222,675" href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html"  target="element">
				  		<area shape="rect" coords="1270,238,1390,293" href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html"  target="element">
				  		<area shape="rect" coords="1120,1246,1240,1301" href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html"  target="element">
				  		<area shape="rect" coords="1078,500,1222,555" href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html"  target="element">
				  		<area shape="rect" coords="1078,332,1222,387" href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html"  target="element">
				  		<area shape="rect" coords="1076,896,1221,951" href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html"  target="element">
				  		<area shape="rect" coords="94,664,214,719" href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html"  target="element">
				  		<area shape="rect" coords="94,598,214,653" href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html"  target="element">
				  		<area shape="rect" coords="94,524,214,579" href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html"  target="element">
				  		<area shape="rect" coords="94,454,214,509" href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html"  target="element">
				  		<area shape="rect" coords="94,382,214,437" href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html"  target="element">
				  		<area shape="rect" coords="94,310,214,365" href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html"  target="element">
				  				<area shape="rect" coords="1078,235,1198,290" href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html"  target="element">

				  		<area shape="rect" coords="1018,187,1222,307" href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html"  target="element">
				          <area shape="rect" coords="10,10,412,214" href="../objects/ca6501bf-3edc-4427-9c1d-7238fd78b251.html" target="element" >
				  		<area shape="rect" coords="94,238,214,293" href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La implementaci&#243;n del Sistema de Informaci&#243;n para la gesti&#243;n del empleo y la productividad como herramienta tecnol&#243;gica de informaci&#243;n debe integrar, interoperar, coordinar y focalizar los instrumentos de pol&#237;ticas activas y pasivas de empleo para el seguimiento y an&#225;lisis de las estrategias de inserci&#243;n laboral y la efectividad de los recursos destinados a la pol&#237;tica de empleo, a trav&#233;s de la articulaci&#243;n del sistema del Servicio P&#250;blico de Empleo, la planilla integrada de liquidaci&#243;n de aportes (PILA), el sistema de seguimiento del mecanismo de protecci&#243;n al cesante (SIMPC), del sistema nacional de cualificaciones (SNC).

La plataforma tendr&#225; la capacidad de registrar, almacenar, administrar, procesar, actualizar y generar reportes sobre la demanda de cualificaciones y la oferta de formaci&#243;n para el trabajo, a partir de los siguientes elementos:

--Informaci&#243;n de demanda laboral relacionada con las ocupaciones y sus descriptores, es decir, funciones, conocimientos y destrezas (competencias t&#233;cnicas), competencias transversales y n&#250;mero de vacantes asociadas a cada una de las ocupaciones, informaci&#243;n de nivel educativo requerido y programas educativos y formativos asociados, experiencia laboral requerida, informaci&#243;n de las competencias m&#225;s demandadas, entre otras.  Se publicar&#225;n resultados de an&#225;lisis con datos administrativos (por ejemplo, vacantes del SPE) o procesos consultivos con empresarios (por ejemplo, ejercicios de prospectiva y mesas sectoriales).

--Informaci&#243;n de oferta laboral a partir de las hojas de vida registradas en el Servicio P&#250;blico de Empleo, de donde s&#243;lo se extrae informaci&#243;n de experiencia laboral, formaci&#243;n y perfil laboral de la persona.

--Informaci&#243;n de oferta educativa y formativa cuantitativa y cualitativa de todos los programas de educaci&#243;n superior (t&#233;cnicos profesionales, tecn&#243;logos, pregrado universitario, especializaci&#243;n universitaria y especializaci&#243;n tecnol&#243;gica) y los programas de Educaci&#243;n para el Trabajo y el Desarrollo Humano &#8211; ETDH (t&#233;cnicos laborales).  En lo que respecta a informaci&#243;n sobre la oferta de ETDH, se describir&#225;n programas y centros y, seg&#250;n la disponibilidad, resultados en empleabilidad y calidad de aprendizaje. Se incorporar&#225; un enfoque de g&#233;nero, para diseminar los resultados de empleabilidad de mujeres que ingresan a programas de ETDH altamente masculinizados, como beneficios adicionales que se describen m&#225;s adelante.

--Informaci&#243;n de brechas de capital humano en t&#233;rminos de brechas de cantidad, brechas de pertinencia, brechas de calidad, brechas de perfilamiento y brechas de competencias.

--Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias (componente del SNC): instancias evaluadoras y certificadoras, n&#250;mero de personas evaluadas, tipos de certificaciones, n&#250;mero de personas certificadas por tipo de certificaci&#243;n (caracterizadas por sector y caracter&#237;sticas de la poblaci&#243;n como edad, sexo, escolaridad, entre otros).

--Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH (componente del SNC): certificados de acreditaci&#243;n, instituciones acreditadas, actos administrativos de aprobaci&#243;n, habilitaci&#243;n o negaci&#243;n.

--Informaci&#243;n del componente de normalizaci&#243;n de competencias (componente del SNC): normas de competencia laboral, instancias normalizadoras, mapas funcionales, entre otros.

--Informaci&#243;n del componente del Marco Nacional de Cualificaciones: cat&#225;logos de cualificaciones de las diferentes &#225;reas de cualificaci&#243;n.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
											    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/ca6501bf-3edc-4427-9c1d-7238fd78b251.html" target="element">  </a> </td>
									           <td> <a href="../objects/ca6501bf-3edc-4427-9c1d-7238fd78b251.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
													    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element"> APP. SEN </a> </td>
											    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
											    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
											    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> APP. PILA </a> </td>
											    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> APP. SIMPC </a> </td>
											    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element"> APP. CONACES </a> </td>
											    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
											    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element"> API12. Esquema de movilidad educativa y formativa </a> </td>
											    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
											    <td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
											    <td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html" target="element"> API16. Gesti&#243;n de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td>
											    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td>
											    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
											    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
											    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td>
											    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> DO02. Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> DO03. Estudiantes SIET </a> </td>
											    <td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> DO04. Instituciones SIET </a> </td>
											    <td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html" target="element"> DO05. Mesas sectoriales </a> </td>
											    <td> <a href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
											    <td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html" target="element"> DO07. Planilla Integrada de Liquidaci&#243;n de Aportes (PILA) </a> </td>
											    <td> <a href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html" target="element"> DO08. RUTEC </a> </td>
											    <td> <a href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element"> DO09. SIACET </a> </td>
											    <td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html" target="element"> DO10. SNIES </a> </td>
											    <td> <a href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html" target="element"> DO11. Saber Pro </a> </td>
											    <td> <a href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-539ae40b3250451d94f071ad38a572db.html" target="element"> DO12. Saber TYT </a> </td>
											    <td> <a href="../elements/id-539ae40b3250451d94f071ad38a572db.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html" target="element"> DO13. Seguimiento egresados SENA </a> </td>
											    <td> <a href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a504dc501594788850576cee36d3572.html" target="element"> DO14. Servicio Nacional de Empleo </a> </td>
											    <td> <a href="../elements/id-5a504dc501594788850576cee36d3572.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> DO15. Programas SIET-CUOC &#191;?. </a> </td>
											    <td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element"> DO18. Perfil Ocupacional </a> </td>
											    <td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element"> DO19. Ocupaciones del Mercado </a> </td>
											    <td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos Sectoriales de cualificaciones </a> </td>
											    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element"> DO21. Oferta Educaci&#243;n Superior </a> </td>
											    <td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element"> DO21. Oferta Educaci&#243;n Superior (copy) (copy) </a> </td>
											    <td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html" target="element"> DO22. CONACES </a> </td>
											    <td> <a href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element"> DO23. Oferta de Certificaci&#243;n de Competencias Laborales </a> </td>
											    <td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element"> DO24. Acreditaci&#243;n de Alta Calidad </a> </td>
											    <td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element"> DO25. Comparativas de Movilidad. </a> </td>
											    <td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element"> DO26. Requisitos para Normalizaci&#243;n de Competencias. </a> </td>
											    <td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element"> DO27. V&#237;as de Cualificaci&#243;n </a> </td>
											    <td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3e9141f-ffe4-445a-9a46-b39c69b20ea7.html" target="element"> DO30. Aseguramiento de la Calidad de la Educaci&#243;n Superior (SACES) </a> </td>
											    <td> <a href="../elements/b3e9141f-ffe4-445a-9a46-b39c69b20ea7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7bc2a6e-6b31-405b-a022-f70f49ac8748.html" target="element"> DO31. Clasificaci&#243;n Internacional Normalizada de la Educaci&#243;n (CINE)&#8203; </a> </td>
											    <td> <a href="../elements/e7bc2a6e-6b31-405b-a022-f70f49ac8748.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/549ec53c-9ed2-4abd-bd0c-acaf0a8ff2e8.html" target="element"> DO32. Gran Encuesta Integrada de Hogares (GEIH)&#8203; </a> </td>
											    <td> <a href="../elements/549ec53c-9ed2-4abd-bd0c-acaf0a8ff2e8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3aaa75e-cfc6-4113-8c78-8cb233d6c080.html" target="element"> DO33. Marco Nacional de Cualificaciones (MNC)&#8203; </a> </td>
											    <td> <a href="../elements/a3aaa75e-cfc6-4113-8c78-8cb233d6c080.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/53bfb64c-0067-406a-a3ef-0b73746f864a.html" target="element"> DO34. Encuestas Brecha Laboral </a> </td>
											    <td> <a href="../elements/53bfb64c-0067-406a-a3ef-0b73746f864a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46cc6bbd-7996-4bef-857d-a699a1c96c4b.html" target="element"> DO35. Registro administrativo de Normalizaci&#243;n de Competencias Laborales  </a> </td>
											    <td> <a href="../elements/46cc6bbd-7996-4bef-857d-a699a1c96c4b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b4c10bf4-fc1c-42c3-9834-e7359279e00a.html" target="element"> DO36. Egresados del SENA </a> </td>
											    <td> <a href="../elements/b4c10bf4-fc1c-42c3-9834-e7359279e00a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0ccc4474-cbd9-49c5-bdca-03b1dbca98af.html" target="element"> DO37. BDD. Programas ofrecidos por el SENA (SofiaPLUS) </a> </td>
											    <td> <a href="../elements/0ccc4474-cbd9-49c5-bdca-03b1dbca98af.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d175780-eee1-4806-a65e-b8a5a751fa98.html" target="element"> DO38. BDD. Vacantes </a> </td>
											    <td> <a href="../elements/9d175780-eee1-4806-a65e-b8a5a751fa98.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f47973d2-2a8f-4ed7-b11a-8f53e5853389.html" target="element"> DO39. BDD. Hojas de Vida </a> </td>
											    <td> <a href="../elements/f47973d2-2a8f-4ed7-b11a-8f53e5853389.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c44ad50f-69e6-4601-bf24-2110652d460c.html" target="element"> DO40. Cat&#225;logo de Ocupaciones </a> </td>
											    <td> <a href="../elements/c44ad50f-69e6-4601-bf24-2110652d460c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cfd44d2f-8f99-44bb-af57-90623bb37deb.html" target="element"> DO41. Directorio Oficial de Organismos de Evaluaci&#243;n de la Conformidad &#8211; OEC acreditados por ONAC </a> </td>
											    <td> <a href="../elements/cfd44d2f-8f99-44bb-af57-90623bb37deb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
													    <td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98c37f57-0bdd-487f-a7b5-16aa7ae7620c.html" target="element"> API20. Reportes SNC </a> </td>
													    <td> <a href="../elements/98c37f57-0bdd-487f-a7b5-16aa7ae7620c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0ad67764-04da-499e-85df-f4218097e3de.html" target="element"> API21. Web SNC </a> </td>
													    <td> <a href="../elements/0ad67764-04da-499e-85df-f4218097e3de.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element"> ASRV12. Visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element"> ASRV11. Visor de Informaci&#243;n Empleabilidad y Formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element"> APP5. Web SNC </a> </td>
											    <td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/9542be8c-d4ac-4741-8db6-fa40bfe64ea0.html" target="element">  </a> </td>
																		<td> <a href="../elements/9542be8c-d4ac-4741-8db6-fa40bfe64ea0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																				<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/4402535b-9552-4abe-9fc1-075016173534.html" target="element"> Intermediaci&#243;n laboral </a> </td>
																		<td> <a href="../elements/4402535b-9552-4abe-9fc1-075016173534.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/99014116-2fcc-4620-9add-9949bf5ba36f.html" target="element">  </a> </td>
																		<td> <a href="../elements/99014116-2fcc-4620-9add-9949bf5ba36f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> APP. PILA </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7f907728-c538-4dc5-924e-f4c72be7ce0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f907728-c538-4dc5-924e-f4c72be7ce0b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> APP. SIMPC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cfb8a089-2e9e-4071-bf9b-2092d81921c2.html" target="element"> DO42. Informaci&#243;n de Demanda Laboral </a> </td>
																		<td> <a href="../elements/cfb8a089-2e9e-4071-bf9b-2092d81921c2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element"> DO17. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones CUOC </a> </td>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6e728565-2297-400a-8c79-094717d5a6c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e728565-2297-400a-8c79-094717d5a6c6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a94b71e-673e-49c4-a651-7a4220db09ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a94b71e-673e-49c4-a651-7a4220db09ec.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element"> DO18. Perfil Ocupacional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3df4b0f7-fbe4-4c26-8c4f-46d09da10e8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3df4b0f7-fbe4-4c26-8c4f-46d09da10e8b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element"> DO19. Ocupaciones del Mercado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ad704838-38fa-4bca-9794-d7aae0ad64c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad704838-38fa-4bca-9794-d7aae0ad64c4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element"> DO21. Oferta Educaci&#243;n Superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc7246d1-2caf-4a6c-b35c-b3f87046b4cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc7246d1-2caf-4a6c-b35c-b3f87046b4cc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element"> DO21. Oferta Educaci&#243;n Superior (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0bbc670-552a-453c-b28a-1336a99f17ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0bbc670-552a-453c-b28a-1336a99f17ee.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element"> DO23. Oferta de Certificaci&#243;n de Competencias Laborales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcd1dbca-5cb1-4699-94a6-d1c6f741e39e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcd1dbca-5cb1-4699-94a6-d1c6f741e39e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element"> DO24. Acreditaci&#243;n de Alta Calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/904848a1-84cd-4887-b894-423cdba2f667.html" target="element"> Informaci&#243;n de oferta laboral </a> </td>
																		<td> <a href="../elements/904848a1-84cd-4887-b894-423cdba2f667.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1c7ba937-0f10-4160-b878-77dde9d0506b.html" target="element"> DO43. Informaci&#243;n de Oferta Laboral </a> </td>
																		<td> <a href="../elements/1c7ba937-0f10-4160-b878-77dde9d0506b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16254fa6-9914-4e87-bbfa-72331e2d2c94.html" target="element"> DO44. Informaci&#243;n de brechas de capital humano </a> </td>
																		<td> <a href="../elements/16254fa6-9914-4e87-bbfa-72331e2d2c94.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element"> SNC. Datos de trabajo para gesti&#243;n  </a> </td>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/078289df-773d-48a5-92b9-a2cff8e62574.html" target="element">  </a> </td>
																		<td> <a href="../elements/078289df-773d-48a5-92b9-a2cff8e62574.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62e795cf-50ff-4b13-a79e-a9ec0dec28f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/62e795cf-50ff-4b13-a79e-a9ec0dec28f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/98c37f57-0bdd-487f-a7b5-16aa7ae7620c.html" target="element"> API20. Reportes SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/684c94f2-f546-4e67-ac67-f5e0001087e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/684c94f2-f546-4e67-ac67-f5e0001087e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/0ad67764-04da-499e-85df-f4218097e3de.html" target="element"> API21. Web SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97e6ee84-494d-4222-9c19-e225ef0dec27.html" target="element"> CIE. Datos de trabajo para an&#225;lisis </a> </td>
																		<td> <a href="../elements/97e6ee84-494d-4222-9c19-e225ef0dec27.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fb9efec4-00e0-4ebb-989c-938e3e2eaf30.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb9efec4-00e0-4ebb-989c-938e3e2eaf30.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																				<td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element"> DO25. Comparativas de Movilidad. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/66d702ce-7622-4275-9c63-bcf6d60d2d53.html" target="element">  </a> </td>
																				<td> <a href="../elements/66d702ce-7622-4275-9c63-bcf6d60d2d53.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																				<td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element"> DO26. Requisitos para Normalizaci&#243;n de Competencias. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fc703e10-44ec-43d3-8dc0-444bbc69d6dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc703e10-44ec-43d3-8dc0-444bbc69d6dd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																				<td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element"> DO27. V&#237;as de Cualificaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3e254596-52e9-4a0a-a2f2-c789bfd6672d.html" target="element"> SNC. Response </a> </td>
																				<td> <a href="../elements/3e254596-52e9-4a0a-a2f2-c789bfd6672d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/0ad67764-04da-499e-85df-f4218097e3de.html" target="element"> API21. Web SNC </a> </td>
																				<td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element"> APP5. Web SNC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ddeff511-9aad-4f07-8bf7-e2376a6eb614.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddeff511-9aad-4f07-8bf7-e2376a6eb614.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element"> ASRV12. Visualizaci&#243;n </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dbda0f4d-ea5a-427e-ae37-3ff19d4ad875.html" target="element">  </a> </td>
																		<td> <a href="../elements/dbda0f4d-ea5a-427e-ae37-3ff19d4ad875.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element"> ASRV11. Visor de Informaci&#243;n Empleabilidad y Formaci&#243;n </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/77bbde92-bab2-4c61-8140-1750803be0f7.html" target="element"> WebSNC. Datos de entrada gesti&#243;n </a> </td>
																		<td> <a href="../elements/77bbde92-bab2-4c61-8140-1750803be0f7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element"> APP5. Web SNC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>