<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SNC. Tecnologías PERF y CTLG</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SNC. Tecnolog&#237;as PERF y CTLG</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b7f03e0e-09a0-4c52-a4d6-1d3b4c3dce40.png" alt="SNC. Tecnologías PERF y CTLG" usemap="#b7f03e0e-09a0-4c52-a4d6-1d3b4c3dce40map"/>
			   <map name="b7f03e0e-09a0-4c52-a4d6-1d3b4c3dce40map">
				          <area shape="rect" coords="10,10,195,118" href="../objects/46d7c0c0-c511-490d-a66d-76f71e54fd08.html" target="element" >
				  		<area shape="rect" coords="10,130,130,185" href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html"  target="element">
				  		<area shape="rect" coords="406,130,526,185" href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html"  target="element">
				  		<area shape="rect" coords="466,610,586,665" href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html"  target="element">
				  		<area shape="rect" coords="466,358,586,413" href="../elements/65778738-6161-46a3-b409-f7c8de2896e3.html"  target="element">
				  		<area shape="rect" coords="214,346,334,401" href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html"  target="element">
				  		<area shape="rect" coords="214,610,334,665" href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html"  target="element">
				  		<area shape="rect" coords="214,685,334,740" href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html"  target="element">
				  		<area shape="rect" coords="214,274,334,329" href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html"  target="element">
				  		<area shape="rect" coords="214,502,334,557" href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
											    <td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
											    <td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
											    <td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
											    <td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
											    <td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65778738-6161-46a3-b409-f7c8de2896e3.html" target="element"> Centro Datos MT. ETB </a> </td>
											    <td> <a href="../elements/65778738-6161-46a3-b409-f7c8de2896e3.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html" target="element"> Centro Datos SNC. Remoto </a> </td>
											    <td> <a href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html" target="element" class="i18n-elementtype-Location"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
											    <td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element"> APP5. CTLG </a> </td>
											    <td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/46d7c0c0-c511-490d-a66d-76f71e54fd08.html" target="element">  </a> </td>
									           <td> <a href="../objects/46d7c0c0-c511-490d-a66d-76f71e54fd08.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/141113b8-39bd-414c-a8b5-9f0e79a33f28.html" target="element">  </a> </td>
																		<td> <a href="../elements/141113b8-39bd-414c-a8b5-9f0e79a33f28.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/65778738-6161-46a3-b409-f7c8de2896e3.html" target="element"> Centro Datos MT. ETB </a> </td>
																		<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb9efaeb-8ad5-4745-8734-322fb7f5d20d.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb9efaeb-8ad5-4745-8734-322fb7f5d20d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/65778738-6161-46a3-b409-f7c8de2896e3.html" target="element"> Centro Datos MT. ETB </a> </td>
																		<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1676cff7-c71f-4a3f-b21a-519658f70754.html" target="element">  </a> </td>
																		<td> <a href="../elements/1676cff7-c71f-4a3f-b21a-519658f70754.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html" target="element"> Centro Datos SNC. Remoto </a> </td>
																		<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/06dfd83b-6c6f-4c54-ab2a-fb3dddf5108f.html" target="element">  </a> </td>
																		<td> <a href="../elements/06dfd83b-6c6f-4c54-ab2a-fb3dddf5108f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html" target="element"> Centro Datos SNC. Remoto </a> </td>
																		<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/393ffa16-32a4-4370-bf0b-abac4f351188.html" target="element">  </a> </td>
																		<td> <a href="../elements/393ffa16-32a4-4370-bf0b-abac4f351188.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f755a71a-7fcd-4436-85f3-2d514cb286c5.html" target="element"> Centro Datos SNC. Remoto </a> </td>
																		<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0adbac00-c999-4f9c-854a-8af70157e52a.html" target="element">  </a> </td>
																		<td> <a href="../elements/0adbac00-c999-4f9c-854a-8af70157e52a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
																		<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f6b0ccd-78ec-449a-8ada-0fb3740c0544.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f6b0ccd-78ec-449a-8ada-0fb3740c0544.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
																		<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b86d37e-1d8a-447b-99d0-9cd6731e5770.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b86d37e-1d8a-447b-99d0-9cd6731e5770.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
																		<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0bf206fe-6ae4-404a-bb66-59974d93f008.html" target="element">  </a> </td>
																		<td> <a href="../elements/0bf206fe-6ae4-404a-bb66-59974d93f008.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
																		<td> <a href="../elements/51aa1630-8485-484f-b688-b7340ebb23db.html" target="element"> Servidor BDD. SNC. Prflmto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47456f97-20a0-494d-a315-1e39495d95fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/47456f97-20a0-494d-a315-1e39495d95fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1e7c90b8-a321-4141-bfdc-ac2f3a51106e.html" target="element"> APP4. PERF </a> </td>
																		<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/56372439-7877-4adb-a433-67587e8b435e.html" target="element">  </a> </td>
																		<td> <a href="../elements/56372439-7877-4adb-a433-67587e8b435e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element"> APP5. CTLG </a> </td>
																		<td> <a href="../elements/98bb773c-1e0b-4734-8dd6-de1cf43cf12e.html" target="element"> Servidor anltca. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/faff997b-6272-4a62-a18b-ee044360b59c.html" target="element">  </a> </td>
																		<td> <a href="../elements/faff997b-6272-4a62-a18b-ee044360b59c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element"> APP5. CTLG </a> </td>
																		<td> <a href="../elements/40255e43-d421-48ff-8f1d-b364f7a34e82.html" target="element"> Servidor applc. SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34de90e9-2d51-4c66-b4bd-c8eb277f7b58.html" target="element">  </a> </td>
																		<td> <a href="../elements/34de90e9-2d51-4c66-b4bd-c8eb277f7b58.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element"> APP5. CTLG </a> </td>
																		<td> <a href="../elements/8519c171-f5bf-4421-82ab-6f687c41f878.html" target="element"> Servidor Intgrcn SNC. 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3ee04c22-25ea-453a-b9a7-4352cd50fd8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ee04c22-25ea-453a-b9a7-4352cd50fd8d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a8d14ba9-6930-4b88-bba3-8926c4078e8f.html" target="element"> APP5. CTLG </a> </td>
																		<td> <a href="../elements/58d57ce1-f9d7-425c-b3e1-cc4073062d2d.html" target="element"> Servidor BDD. SNC. Fnts </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>