<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IMPL. Entregas.2.Misional</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IMPL. Entregas.2.Misional</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/baed17a7-36a0-48c8-ae17-17491bbb129b.png" alt="IMPL. Entregas.2.Misional" usemap="#baed17a7-36a0-48c8-ae17-17491bbb129bmap"/>
			   <map name="baed17a7-36a0-48c8-ae17-17491bbb129bmap">
				  		<area shape="rect" coords="311,214,431,269" href="../elements/d5b14d65-8a6e-4c01-afdd-5fddc761dd89.html"  target="element">
				  		<area shape="rect" coords="160,586,280,641" href="../elements/5401d43d-7092-4080-902f-cefdbb37f204.html"  target="element">
				  				<area shape="rect" coords="712,440,832,495" href="../elements/97163187-606f-4c26-9222-da20e35159f0.html"  target="element">
				  				<area shape="rect" coords="580,440,700,495" href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html"  target="element">
				  				<area shape="rect" coords="580,506,700,561" href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html"  target="element">
				  				<area shape="rect" coords="712,506,832,561" href="../elements/d8f41203-0450-4f5f-9994-f2fbd2c54052.html"  target="element">

				  		<area shape="rect" coords="568,392,857,593" href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html"  target="element">
				  		<area shape="rect" coords="12,214,132,269" href="../elements/dffebe0e-d8c2-4ee0-9625-f19245722690.html"  target="element">
				  		<area shape="rect" coords="12,358,132,413" href="../elements/125abafc-500c-4198-be70-d38957d5e3b0.html"  target="element">
				  		<area shape="rect" coords="160,958,280,1013" href="../elements/5f26e9d7-a066-4678-9661-99cd9a0ca025.html"  target="element">
				  		<area shape="rect" coords="12,438,132,493" href="../elements/753c36b9-ded0-436f-99b9-1a8a503b3844.html"  target="element">
				  		<area shape="rect" coords="312,438,432,493" href="../elements/7ada6923-5574-44d6-8f9e-9692896f3f5c.html"  target="element">
				  		<area shape="rect" coords="162,358,282,413" href="../elements/cbb4d0ce-cf92-43b7-a91f-f863e70be7fd.html"  target="element">
				  		<area shape="rect" coords="12,286,132,341" href="../elements/673c06ee-b5e0-4608-aacc-79e61ea3f048.html"  target="element">
				  		<area shape="rect" coords="162,438,282,493" href="../elements/846add38-6038-4db2-895a-9ee9b28dcaaf.html"  target="element">
				  		<area shape="rect" coords="162,742,282,797" href="../elements/d7a99521-d8c3-46e0-adf2-e47877ac6947.html"  target="element">
				  		<area shape="rect" coords="160,214,280,269" href="../elements/adf0ca16-5503-4465-8070-e3296e153050.html"  target="element">
				  		<area shape="rect" coords="312,820,432,875" href="../elements/c85aec47-9a05-4388-a032-b98f1cc5b50b.html"  target="element">
				  		<area shape="rect" coords="312,286,432,341" href="../elements/61730478-47fe-4217-b378-0177ba5d1ac7.html"  target="element">
				  		<area shape="rect" coords="311,742,431,797" href="../elements/55f5712b-867b-4383-b612-8912c83df17f.html"  target="element">
				  		<area shape="rect" coords="161,820,281,875" href="../elements/80f6c70c-d3bf-48bc-b946-907b20f97ae7.html"  target="element">
				  		<area shape="rect" coords="312,86,432,141" href="../elements/bd5aa973-75da-4581-b56a-ace96fc48e91.html"  target="element">
				  		<area shape="rect" coords="10,742,130,797" href="../elements/849044d0-002a-420e-aeeb-c059329ababf.html"  target="element">
				  		<area shape="rect" coords="312,658,432,713" href="../elements/64e3421f-3241-4e34-8f53-7335fce0b11e.html"  target="element">
				  		<area shape="rect" coords="312,10,432,65" href="../elements/2942a03e-0a1c-4bcb-9a93-4f6f778b535f.html"  target="element">
				  		<area shape="rect" coords="162,10,282,65" href="../elements/985b1983-4991-4ed5-abba-a587dfdfbce7.html"  target="element">
				  		<area shape="rect" coords="312,358,432,413" href="../elements/ecc77b5f-07f5-42d2-8782-2145ac7016eb.html"  target="element">
				  		<area shape="rect" coords="162,286,282,341" href="../elements/06169e60-e6ae-45ae-84f1-aa32102a2c5b.html"  target="element">
				  		<area shape="rect" coords="161,658,281,713" href="../elements/66004d7d-7552-4896-9f84-6add2510bfe0.html"  target="element">
				  		<area shape="rect" coords="10,658,130,713" href="../elements/217d76f1-312a-403d-9b9b-181a977d2775.html"  target="element">
				  		<area shape="rect" coords="311,586,431,641" href="../elements/96cb0ecc-9020-446b-bb8b-5e9b02f9e5d3.html"  target="element">
				  		<area shape="rect" coords="10,958,130,1013" href="../elements/5e387e4d-dae3-4a89-96aa-7cb7fff85efb.html"  target="element">
				  		<area shape="rect" coords="10,586,130,641" href="../elements/b3b882ea-6047-4550-8538-19137ffd6ea9.html"  target="element">
				  		<area shape="rect" coords="161,514,281,569" href="../elements/f45ac375-f872-47bf-bdd8-7e0f7e099b8a.html"  target="element">
				  		<area shape="rect" coords="12,514,132,569" href="../elements/fef4998e-5aa0-4019-8714-4a486bea748f.html"  target="element">
				  		<area shape="rect" coords="310,958,430,1013" href="../elements/9ae04158-d400-4636-8c3b-4ed2a32cbbae.html"  target="element">
				  		<area shape="rect" coords="312,514,432,569" href="../elements/0c5192e2-681a-4514-8134-c6b2a3f89a14.html"  target="element">
				  		<area shape="rect" coords="12,10,132,65" href="../elements/3d3bc420-7877-405b-814d-e02466d5f537.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3d3bc420-7877-405b-814d-e02466d5f537.html" target="element"> ENT1. Plan de Proyecto </a> </td>
											    <td> <a href="../elements/3d3bc420-7877-405b-814d-e02466d5f537.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c5192e2-681a-4514-8134-c6b2a3f89a14.html" target="element"> ENT10. Transformaci&#243;n de datos </a> </td>
											    <td> <a href="../elements/0c5192e2-681a-4514-8134-c6b2a3f89a14.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9ae04158-d400-4636-8c3b-4ed2a32cbbae.html" target="element"> ENT11. Modelamiento estad&#237;stico </a> </td>
											    <td> <a href="../elements/9ae04158-d400-4636-8c3b-4ed2a32cbbae.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fef4998e-5aa0-4019-8714-4a486bea748f.html" target="element"> ENT12. C&#243;digo fuente </a> </td>
											    <td> <a href="../elements/fef4998e-5aa0-4019-8714-4a486bea748f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f45ac375-f872-47bf-bdd8-7e0f7e099b8a.html" target="element"> ENT14. Arquitectura de soluci&#243;n </a> </td>
											    <td> <a href="../elements/f45ac375-f872-47bf-bdd8-7e0f7e099b8a.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3b882ea-6047-4550-8538-19137ffd6ea9.html" target="element"> ENT15. Especificaciones de interoperabilidad </a> </td>
											    <td> <a href="../elements/b3b882ea-6047-4550-8538-19137ffd6ea9.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5e387e4d-dae3-4a89-96aa-7cb7fff85efb.html" target="element"> ENT16. Dise&#241;o de procesos de negocio </a> </td>
											    <td> <a href="../elements/5e387e4d-dae3-4a89-96aa-7cb7fff85efb.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96cb0ecc-9020-446b-bb8b-5e9b02f9e5d3.html" target="element"> ENT17. An&#225;lisis de capacidades de c&#243;mputo </a> </td>
											    <td> <a href="../elements/96cb0ecc-9020-446b-bb8b-5e9b02f9e5d3.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/217d76f1-312a-403d-9b9b-181a977d2775.html" target="element"> ENT18. Gobierno de datos </a> </td>
											    <td> <a href="../elements/217d76f1-312a-403d-9b9b-181a977d2775.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/66004d7d-7552-4896-9f84-6add2510bfe0.html" target="element"> ENT19. Arquitectura tecnol&#243;gica actual </a> </td>
											    <td> <a href="../elements/66004d7d-7552-4896-9f84-6add2510bfe0.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06169e60-e6ae-45ae-84f1-aa32102a2c5b.html" target="element"> ENT2. Aceptaci&#243;n requerimientos funcionales </a> </td>
											    <td> <a href="../elements/06169e60-e6ae-45ae-84f1-aa32102a2c5b.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ecc77b5f-07f5-42d2-8782-2145ac7016eb.html" target="element"> ENT20. Arquitectura tecnol&#243;gica futura </a> </td>
											    <td> <a href="../elements/ecc77b5f-07f5-42d2-8782-2145ac7016eb.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/985b1983-4991-4ed5-abba-a587dfdfbce7.html" target="element"> ENT21. Capacitaciones </a> </td>
											    <td> <a href="../elements/985b1983-4991-4ed5-abba-a587dfdfbce7.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2942a03e-0a1c-4bcb-9a93-4f6f778b535f.html" target="element"> ENT22. Gesti&#243;n de cambio </a> </td>
											    <td> <a href="../elements/2942a03e-0a1c-4bcb-9a93-4f6f778b535f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/64e3421f-3241-4e34-8f53-7335fce0b11e.html" target="element"> ENT23. Documentaci&#243;n m&#237;nima </a> </td>
											    <td> <a href="../elements/64e3421f-3241-4e34-8f53-7335fce0b11e.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/849044d0-002a-420e-aeeb-c059329ababf.html" target="element"> ENT24. An&#225;lisis de usabilidad </a> </td>
											    <td> <a href="../elements/849044d0-002a-420e-aeeb-c059329ababf.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bd5aa973-75da-4581-b56a-ace96fc48e91.html" target="element"> ENT25. Plan de trabajo y cronograma </a> </td>
											    <td> <a href="../elements/bd5aa973-75da-4581-b56a-ace96fc48e91.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80f6c70c-d3bf-48bc-b946-907b20f97ae7.html" target="element"> ENT26. Puesta en producci&#243;n </a> </td>
											    <td> <a href="../elements/80f6c70c-d3bf-48bc-b946-907b20f97ae7.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55f5712b-867b-4383-b612-8912c83df17f.html" target="element"> ENT27. Dise&#241;o de requerimientos de nube </a> </td>
											    <td> <a href="../elements/55f5712b-867b-4383-b612-8912c83df17f.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/61730478-47fe-4217-b378-0177ba5d1ac7.html" target="element"> ENT28. Dise&#241;o y pruebas funcionales </a> </td>
											    <td> <a href="../elements/61730478-47fe-4217-b378-0177ba5d1ac7.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c85aec47-9a05-4388-a032-b98f1cc5b50b.html" target="element"> ENT29. Administraci&#243;n de configuraci&#243;n </a> </td>
											    <td> <a href="../elements/c85aec47-9a05-4388-a032-b98f1cc5b50b.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/adf0ca16-5503-4465-8070-e3296e153050.html" target="element"> ENT3. Aceptaci&#243;n dise&#241;o no-funcionales </a> </td>
											    <td> <a href="../elements/adf0ca16-5503-4465-8070-e3296e153050.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7a99521-d8c3-46e0-adf2-e47877ac6947.html" target="element"> ENT30. Pruebas de vulnerabilidad </a> </td>
											    <td> <a href="../elements/d7a99521-d8c3-46e0-adf2-e47877ac6947.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/846add38-6038-4db2-895a-9ee9b28dcaaf.html" target="element"> ENT31. Acta de recibo a satisfacci&#243;n </a> </td>
											    <td> <a href="../elements/846add38-6038-4db2-895a-9ee9b28dcaaf.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/673c06ee-b5e0-4608-aacc-79e61ea3f048.html" target="element"> ENT4. Dise&#241;o Conceptual </a> </td>
											    <td> <a href="../elements/673c06ee-b5e0-4608-aacc-79e61ea3f048.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbb4d0ce-cf92-43b7-a91f-f863e70be7fd.html" target="element"> ENT5. Especificaciones de Dise&#241;o </a> </td>
											    <td> <a href="../elements/cbb4d0ce-cf92-43b7-a91f-f863e70be7fd.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7ada6923-5574-44d6-8f9e-9692896f3f5c.html" target="element"> ENT6. Especificaciones de Informaci&#243;n (datos) </a> </td>
											    <td> <a href="../elements/7ada6923-5574-44d6-8f9e-9692896f3f5c.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/753c36b9-ded0-436f-99b9-1a8a503b3844.html" target="element"> ENT7. An&#225;lisis de brechas de datos </a> </td>
											    <td> <a href="../elements/753c36b9-ded0-436f-99b9-1a8a503b3844.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f26e9d7-a066-4678-9661-99cd9a0ca025.html" target="element"> ENT8. Indicadores de empleabilidad </a> </td>
											    <td> <a href="../elements/5f26e9d7-a066-4678-9661-99cd9a0ca025.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/125abafc-500c-4198-be70-d38957d5e3b0.html" target="element"> ENT9. An&#225;lisis de calidad de fuentes </a> </td>
											    <td> <a href="../elements/125abafc-500c-4198-be70-d38957d5e3b0.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dffebe0e-d8c2-4ee0-9625-f19245722690.html" target="element"> ENT1.1 Levantamiento y an&#225;lisis requerimientos </a> </td>
											    <td> <a href="../elements/dffebe0e-d8c2-4ee0-9625-f19245722690.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element"> OBL102. Misionales </a> </td>
											    <td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d8f41203-0450-4f5f-9994-f2fbd2c54052.html" target="element"> OBL15. Generar contenidos y textos para usuarios </a> </td>
													    <td> <a href="../elements/d8f41203-0450-4f5f-9994-f2fbd2c54052.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element"> OBL13. Garantizar cubrimiento funcional (HP y CO) </a> </td>
													    <td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
													    <td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
													    <td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5401d43d-7092-4080-902f-cefdbb37f204.html" target="element"> ENT13. Estudio de alternativas de soluci&#243;n </a> </td>
											    <td> <a href="../elements/5401d43d-7092-4080-902f-cefdbb37f204.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d5b14d65-8a6e-4c01-afdd-5fddc761dd89.html" target="element"> ENT1.2 Levantamiento y an&#225;lisis requerimientos no funcionales </a> </td>
											    <td> <a href="../elements/d5b14d65-8a6e-4c01-afdd-5fddc761dd89.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/61e3b009-fe05-4fec-8865-5de319e276db.html" target="element">  </a> </td>
																		<td> <a href="../elements/61e3b009-fe05-4fec-8865-5de319e276db.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0c5192e2-681a-4514-8134-c6b2a3f89a14.html" target="element"> ENT10. Transformaci&#243;n de datos </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1796381c-4910-47eb-be6a-ba1172d68285.html" target="element">  </a> </td>
																		<td> <a href="../elements/1796381c-4910-47eb-be6a-ba1172d68285.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fef4998e-5aa0-4019-8714-4a486bea748f.html" target="element"> ENT12. C&#243;digo fuente </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c7f49e50-1afc-4410-bf91-6222fe95b075.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7f49e50-1afc-4410-bf91-6222fe95b075.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f45ac375-f872-47bf-bdd8-7e0f7e099b8a.html" target="element"> ENT14. Arquitectura de soluci&#243;n </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7c4026cf-d615-4e87-be06-7228d49bc32c.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c4026cf-d615-4e87-be06-7228d49bc32c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b3b882ea-6047-4550-8538-19137ffd6ea9.html" target="element"> ENT15. Especificaciones de interoperabilidad </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/58bd3d6a-b741-4683-8ae8-cd743d10aa27.html" target="element">  </a> </td>
																		<td> <a href="../elements/58bd3d6a-b741-4683-8ae8-cd743d10aa27.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/96cb0ecc-9020-446b-bb8b-5e9b02f9e5d3.html" target="element"> ENT17. An&#225;lisis de capacidades de c&#243;mputo </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f4fcbbd0-11cb-4a9b-bd1c-e7a7f1470474.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4fcbbd0-11cb-4a9b-bd1c-e7a7f1470474.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/217d76f1-312a-403d-9b9b-181a977d2775.html" target="element"> ENT18. Gobierno de datos </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f9928f39-7e39-4fee-ba62-0060f18281f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9928f39-7e39-4fee-ba62-0060f18281f5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/66004d7d-7552-4896-9f84-6add2510bfe0.html" target="element"> ENT19. Arquitectura tecnol&#243;gica actual </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb502b1b-346c-4a27-adee-a4cac903a250.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb502b1b-346c-4a27-adee-a4cac903a250.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/06169e60-e6ae-45ae-84f1-aa32102a2c5b.html" target="element"> ENT2. Aceptaci&#243;n requerimientos funcionales </a> </td>
																		<td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element"> OBL13. Garantizar cubrimiento funcional (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5b2315b1-8d8f-43dd-ad06-5e8274aaa512.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b2315b1-8d8f-43dd-ad06-5e8274aaa512.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ecc77b5f-07f5-42d2-8782-2145ac7016eb.html" target="element"> ENT20. Arquitectura tecnol&#243;gica futura </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/82798176-3d9c-4f45-9ad1-f912207c5977.html" target="element">  </a> </td>
																		<td> <a href="../elements/82798176-3d9c-4f45-9ad1-f912207c5977.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/64e3421f-3241-4e34-8f53-7335fce0b11e.html" target="element"> ENT23. Documentaci&#243;n m&#237;nima </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/272e0629-fd4c-47d7-808f-d82bdd6ad934.html" target="element">  </a> </td>
																		<td> <a href="../elements/272e0629-fd4c-47d7-808f-d82bdd6ad934.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/849044d0-002a-420e-aeeb-c059329ababf.html" target="element"> ENT24. An&#225;lisis de usabilidad </a> </td>
																		<td> <a href="../elements/d8f41203-0450-4f5f-9994-f2fbd2c54052.html" target="element"> OBL15. Generar contenidos y textos para usuarios </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ddb2063-a22e-438a-8edd-ca5eb2f279e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ddb2063-a22e-438a-8edd-ca5eb2f279e7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/80f6c70c-d3bf-48bc-b946-907b20f97ae7.html" target="element"> ENT26. Puesta en producci&#243;n </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dfb2896d-978e-48ef-bc08-6c3363bc4416.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfb2896d-978e-48ef-bc08-6c3363bc4416.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/55f5712b-867b-4383-b612-8912c83df17f.html" target="element"> ENT27. Dise&#241;o de requerimientos de nube </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f60026d8-e926-4b62-868e-2730082df343.html" target="element">  </a> </td>
																		<td> <a href="../elements/f60026d8-e926-4b62-868e-2730082df343.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/61730478-47fe-4217-b378-0177ba5d1ac7.html" target="element"> ENT28. Dise&#241;o y pruebas funcionales </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ab8af1c6-b141-4ab7-8630-ae0b8a733468.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab8af1c6-b141-4ab7-8630-ae0b8a733468.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c85aec47-9a05-4388-a032-b98f1cc5b50b.html" target="element"> ENT29. Administraci&#243;n de configuraci&#243;n </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/34a580ad-d2da-4293-b214-ff50a96de908.html" target="element">  </a> </td>
																		<td> <a href="../elements/34a580ad-d2da-4293-b214-ff50a96de908.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/adf0ca16-5503-4465-8070-e3296e153050.html" target="element"> ENT3. Aceptaci&#243;n dise&#241;o no-funcionales </a> </td>
																		<td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element"> OBL13. Garantizar cubrimiento funcional (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6c285df2-dab8-46c3-8186-ff802efbe284.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c285df2-dab8-46c3-8186-ff802efbe284.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d7a99521-d8c3-46e0-adf2-e47877ac6947.html" target="element"> ENT30. Pruebas de vulnerabilidad </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/30bfa486-e6cd-47cb-83d6-395258e0a142.html" target="element">  </a> </td>
																		<td> <a href="../elements/30bfa486-e6cd-47cb-83d6-395258e0a142.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/846add38-6038-4db2-895a-9ee9b28dcaaf.html" target="element"> ENT31. Acta de recibo a satisfacci&#243;n </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4ee12d5f-74a8-4bd8-93f5-13355d7673bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ee12d5f-74a8-4bd8-93f5-13355d7673bc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/673c06ee-b5e0-4608-aacc-79e61ea3f048.html" target="element"> ENT4. Dise&#241;o Conceptual </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5e61cbe1-95bf-4f2c-b9b2-c1247ce4f84b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e61cbe1-95bf-4f2c-b9b2-c1247ce4f84b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7ada6923-5574-44d6-8f9e-9692896f3f5c.html" target="element"> ENT6. Especificaciones de Informaci&#243;n (datos) </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/85e802e5-4213-4dd4-b2c1-1b9bc4671133.html" target="element">  </a> </td>
																		<td> <a href="../elements/85e802e5-4213-4dd4-b2c1-1b9bc4671133.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/753c36b9-ded0-436f-99b9-1a8a503b3844.html" target="element"> ENT7. An&#225;lisis de brechas de datos </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/505acd4e-cba1-4fc5-89fa-459e6f39f0cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/505acd4e-cba1-4fc5-89fa-459e6f39f0cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/125abafc-500c-4198-be70-d38957d5e3b0.html" target="element"> ENT9. An&#225;lisis de calidad de fuentes </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5798305d-a9a2-4bfe-b046-6eb06736a689.html" target="element">  </a> </td>
																		<td> <a href="../elements/5798305d-a9a2-4bfe-b046-6eb06736a689.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/dffebe0e-d8c2-4ee0-9625-f19245722690.html" target="element"> ENT1.1 Levantamiento y an&#225;lisis requerimientos </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aaa6bbf0-c39b-4125-ad47-8087c57b4bb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/aaa6bbf0-c39b-4125-ad47-8087c57b4bb7.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element"> OBL102. Misionales </a> </td>
																		<td> <a href="../elements/b4b10e32-7566-4f9d-ac6a-2d5d86d0201c.html" target="element"> OBL10. Apoyar aspectos misionales del MT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1e1e4223-7a0f-4a62-9aaa-afcfadc81f49.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e1e4223-7a0f-4a62-9aaa-afcfadc81f49.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element"> OBL102. Misionales </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4860a927-656f-4a37-9173-29f5c2a3e31a.html" target="element">  </a> </td>
																		<td> <a href="../elements/4860a927-656f-4a37-9173-29f5c2a3e31a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element"> OBL102. Misionales </a> </td>
																		<td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element"> OBL13. Garantizar cubrimiento funcional (HP y CO) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/050298cd-636b-42a2-8367-44775399c412.html" target="element">  </a> </td>
																		<td> <a href="../elements/050298cd-636b-42a2-8367-44775399c412.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/21e1e874-c93b-4d70-b307-26d965728e2a.html" target="element"> OBL102. Misionales </a> </td>
																		<td> <a href="../elements/d8f41203-0450-4f5f-9994-f2fbd2c54052.html" target="element"> OBL15. Generar contenidos y textos para usuarios </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/201ec4ee-852c-4b62-a6b6-a14d4ad09cfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/201ec4ee-852c-4b62-a6b6-a14d4ad09cfe.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																				<td> <a href="../elements/cbb4d0ce-cf92-43b7-a91f-f863e70be7fd.html" target="element"> ENT5. Especificaciones de Dise&#241;o </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/10a0807c-76a7-4ca4-9943-46cd37756b8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/10a0807c-76a7-4ca4-9943-46cd37756b8e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5401d43d-7092-4080-902f-cefdbb37f204.html" target="element"> ENT13. Estudio de alternativas de soluci&#243;n </a> </td>
																		<td> <a href="../elements/3a84cd87-c1fd-4ac6-9e40-caa027f8699f.html" target="element"> OBL13. Garantizar cubrimiento funcional (HP y CO) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/10949d64-7b8e-47a9-b9d1-65360077645e.html" target="element">  </a> </td>
																		<td> <a href="../elements/10949d64-7b8e-47a9-b9d1-65360077645e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d5b14d65-8a6e-4c01-afdd-5fddc761dd89.html" target="element"> ENT1.2 Levantamiento y an&#225;lisis requerimientos no funcionales </a> </td>
																		<td> <a href="../elements/97163187-606f-4c26-9222-da20e35159f0.html" target="element"> OBL11. An&#225;lisis, dise&#241;o, implementaci&#243;n y garant&#237;a (HP y CO) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>