<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BSN. SNC Roles y Servicios</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>BSN. SNC Roles y Servicios</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c3d39fd9-816c-46de-956f-7f06c3ca727b.png" alt="BSN. SNC Roles y Servicios" usemap="#c3d39fd9-816c-46de-956f-7f06c3ca727bmap"/>
			   <map name="c3d39fd9-816c-46de-956f-7f06c3ca727bmap">
				  		<area shape="rect" coords="167,1030,309,1085" href="../elements/9a30f67e-a047-451a-870e-4866f0061ab0.html"  target="element">
				  		<area shape="rect" coords="12,1030,154,1085" href="../elements/0e68887b-6440-4323-b92b-f6bf4840f1d3.html"  target="element">
				  		<area shape="rect" coords="166,970,308,1025" href="../elements/e9a4883f-71b7-42e6-ac58-2a1cc41ef601.html"  target="element">
				  		<area shape="rect" coords="12,970,154,1025" href="../elements/b530469f-8dfb-4f36-9cdd-924814b04ec1.html"  target="element">
				  		<area shape="rect" coords="194,790,373,845" href="../elements/355cc188-d468-4120-b13f-d114de97a653.html"  target="element">
				  		<area shape="rect" coords="12,790,191,845" href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html"  target="element">
				  		<area shape="rect" coords="316,718,458,773" href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html"  target="element">
				  		<area shape="rect" coords="167,718,309,773" href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html"  target="element">
				  		<area shape="rect" coords="466,639,608,694" href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html"  target="element">
				  		<area shape="rect" coords="316,639,458,694" href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html"  target="element">
				  		<area shape="rect" coords="167,639,309,694" href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html"  target="element">
				  		<area shape="rect" coords="418,314,564,369" href="../elements/ea3b40cc-8bca-43d3-bfe4-efeec8765475.html"  target="element">
				  		<area shape="rect" coords="418,249,564,304" href="../elements/28bcd6d4-0fa9-4cc1-8f2d-d12193e1290e.html"  target="element">
				  		<area shape="rect" coords="418,183,564,238" href="../elements/acb26682-8dfd-4098-8d84-e6dcccb278c0.html"  target="element">
				  		<area shape="rect" coords="418,118,564,173" href="../elements/bc9650f3-68af-4bdb-bc52-86d7352a3255.html"  target="element">
				          <area shape="rect" coords="10,10,195,90" href="../objects/152b3aac-5270-4734-844e-8d17eacb1f08.html" target="element" >
				  		<area shape="rect" coords="166,314,312,369" href="../elements/d77b32dd-4085-4037-be19-d0735b37eab4.html"  target="element">
				  		<area shape="rect" coords="166,249,312,304" href="../elements/1f40e91b-5aa8-4ddb-9223-d1d107643380.html"  target="element">
				  		<area shape="rect" coords="10,314,156,369" href="../elements/b8743b07-38aa-43d7-bbce-d689ca647e55.html"  target="element">
				  		<area shape="rect" coords="10,249,156,304" href="../elements/1fb64bdc-9438-4e26-ad4d-5501fbcf7f68.html"  target="element">
				  		<area shape="rect" coords="166,183,312,238" href="../elements/b37da959-a35a-48d7-94ef-5362ee6a8581.html"  target="element">
				  		<area shape="rect" coords="166,118,312,173" href="../elements/1e035a66-c360-43d2-b867-cca12dda1299.html"  target="element">
				  		<area shape="rect" coords="10,183,156,238" href="../elements/a270deaf-66da-42d0-a460-46ecf9e3886a.html"  target="element">
				  		<area shape="rect" coords="10,118,156,173" href="../elements/006efe54-e970-4964-b966-4ca44a598845.html"  target="element">
				  		<area shape="rect" coords="10,471,563,526" href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La definici&#243;n del alcance de la plataforma de informaci&#243;n se llev&#243; a cabo a partir de la identificaci&#243;n de servicios de informaci&#243;n requeridos por los usuarios de la plataforma mediante un an&#225;lisis de los componentes del SNC y su interacci&#243;n con el mercado laboral y la oferta educativa y formativa. Dos grandes tipos de servicios fueron identificados: (a) servicios de consulta de informaci&#243;n y (b) servicios de gesti&#243;n de informaci&#243;n. Los servicios de consulta de informaci&#243;n est&#225;n a su vez agrupados en cuatro grandes tem&#225;ticas: (i) Mercado Laboral, (ii) Formaci&#243;n, Educaci&#243;n y Reconocimiento de Aprendizajes previos, iii) Sistema Nacional de Cualificaciones y iv) Mecanismos. Posteriormente dentro de cada tem&#225;tica se definieron servicios espec&#237;ficos para finalmente proponer los requerimientos que har&#225;n parte de la plataforma. &#8203;
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/006efe54-e970-4964-b966-4ca44a598845.html" target="element"> US01. Estudiantes y orientadores </a> </td>
											    <td> <a href="../elements/006efe54-e970-4964-b966-4ca44a598845.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a270deaf-66da-42d0-a460-46ecf9e3886a.html" target="element"> US02. Proveedores de formaci&#243;n y educaci&#243;n superior </a> </td>
											    <td> <a href="../elements/a270deaf-66da-42d0-a460-46ecf9e3886a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e035a66-c360-43d2-b867-cca12dda1299.html" target="element"> US03. Empleadores </a> </td>
											    <td> <a href="../elements/1e035a66-c360-43d2-b867-cca12dda1299.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b37da959-a35a-48d7-94ef-5362ee6a8581.html" target="element"> US04. Trabajadores y Buscadores de Empleo </a> </td>
											    <td> <a href="../elements/b37da959-a35a-48d7-94ef-5362ee6a8581.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1fb64bdc-9438-4e26-ad4d-5501fbcf7f68.html" target="element"> US05. Instituciones del Gobierno </a> </td>
											    <td> <a href="../elements/1fb64bdc-9438-4e26-ad4d-5501fbcf7f68.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8743b07-38aa-43d7-bbce-d689ca647e55.html" target="element"> US07. Ministerio de Trabajo </a> </td>
											    <td> <a href="../elements/b8743b07-38aa-43d7-bbce-d689ca647e55.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f40e91b-5aa8-4ddb-9223-d1d107643380.html" target="element"> US06. Prestadores del Servicio P&#250;blico de Empleo </a> </td>
											    <td> <a href="../elements/1f40e91b-5aa8-4ddb-9223-d1d107643380.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d77b32dd-4085-4037-be19-d0735b37eab4.html" target="element"> US08. Acad&#233;micos, Investigadores y Consultores </a> </td>
											    <td> <a href="../elements/d77b32dd-4085-4037-be19-d0735b37eab4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/152b3aac-5270-4734-844e-8d17eacb1f08.html" target="element">  </a> </td>
									           <td> <a href="../objects/152b3aac-5270-4734-844e-8d17eacb1f08.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/bc9650f3-68af-4bdb-bc52-86d7352a3255.html" target="element"> US09. Oferentes de los Programas de la Formaci&#243;n para el trabajo </a> </td>
											    <td> <a href="../elements/bc9650f3-68af-4bdb-bc52-86d7352a3255.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/acb26682-8dfd-4098-8d84-e6dcccb278c0.html" target="element"> US10. Proveedores de evaluaci&#243;n y certificaci&#243;n de competencias para el Reconocimiento de aprendizajes previos </a> </td>
											    <td> <a href="../elements/acb26682-8dfd-4098-8d84-e6dcccb278c0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/28bcd6d4-0fa9-4cc1-8f2d-d12193e1290e.html" target="element"> US11. Organismos acreditadores, de proveedores de evaluaci&#243;n y certificaci&#243;n de competencias para el Reconocimiento de Aprendizajes Previos </a> </td>
											    <td> <a href="../elements/28bcd6d4-0fa9-4cc1-8f2d-d12193e1290e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea3b40cc-8bca-43d3-bfe4-efeec8765475.html" target="element"> US12. Unidades Sectoriales de Normalizaci&#243;n </a> </td>
											    <td> <a href="../elements/ea3b40cc-8bca-43d3-bfe4-efeec8765475.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td>
											    <td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element"> BS03. Documentos de lineamientos t&#233;cnicos </a> </td>
											    <td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element"> BS07. Servicios generales de Consulta de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element"> BS08. Servicios generales de Gesti&#243;n de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b530469f-8dfb-4f36-9cdd-924814b04ec1.html" target="element"> BS09. Consulta estrutura y perfiles ocupacionales </a> </td>
											    <td> <a href="../elements/b530469f-8dfb-4f36-9cdd-924814b04ec1.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e9a4883f-71b7-42e6-ac58-2a1cc41ef601.html" target="element"> BS10. Actualizar el listado de ocupaciones de la CUOC </a> </td>
											    <td> <a href="../elements/e9a4883f-71b7-42e6-ac58-2a1cc41ef601.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e68887b-6440-4323-b92b-f6bf4840f1d3.html" target="element"> BS11. Consulta de An&#225;lisis Cuantitativo de Ocupaciones </a> </td>
											    <td> <a href="../elements/0e68887b-6440-4323-b92b-f6bf4840f1d3.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9a30f67e-a047-451a-870e-4866f0061ab0.html" target="element"> BS12. Actualizar y consolidar el MNC </a> </td>
											    <td> <a href="../elements/9a30f67e-a047-451a-870e-4866f0061ab0.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/cf7f9320-f7fb-48df-9a8c-5f121ec458c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf7f9320-f7fb-48df-9a8c-5f121ec458c9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/b8743b07-38aa-43d7-bbce-d689ca647e55.html" target="element"> US07. Ministerio de Trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f068a4d1-e949-4a7b-832a-809f946bf162.html" target="element">  </a> </td>
																		<td> <a href="../elements/f068a4d1-e949-4a7b-832a-809f946bf162.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/1f40e91b-5aa8-4ddb-9223-d1d107643380.html" target="element"> US06. Prestadores del Servicio P&#250;blico de Empleo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b31dd90d-d174-47ce-b90e-6eafa2478dde.html" target="element">  </a> </td>
																		<td> <a href="../elements/b31dd90d-d174-47ce-b90e-6eafa2478dde.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/1fb64bdc-9438-4e26-ad4d-5501fbcf7f68.html" target="element"> US05. Instituciones del Gobierno </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/492db9e1-e09d-4002-a1f8-084388966867.html" target="element">  </a> </td>
																		<td> <a href="../elements/492db9e1-e09d-4002-a1f8-084388966867.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/b37da959-a35a-48d7-94ef-5362ee6a8581.html" target="element"> US04. Trabajadores y Buscadores de Empleo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d69e1cbd-9db4-4dde-9d28-baaa31175804.html" target="element">  </a> </td>
																		<td> <a href="../elements/d69e1cbd-9db4-4dde-9d28-baaa31175804.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/a270deaf-66da-42d0-a460-46ecf9e3886a.html" target="element"> US02. Proveedores de formaci&#243;n y educaci&#243;n superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/611e4dcf-5f8f-41d9-ae18-3ec5b64eda31.html" target="element">  </a> </td>
																		<td> <a href="../elements/611e4dcf-5f8f-41d9-ae18-3ec5b64eda31.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/1e035a66-c360-43d2-b867-cca12dda1299.html" target="element"> US03. Empleadores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8c9edb3-668a-4d71-90be-b93212e432b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8c9edb3-668a-4d71-90be-b93212e432b7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/006efe54-e970-4964-b966-4ca44a598845.html" target="element"> US01. Estudiantes y orientadores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/714c9c2c-f37d-40a0-b7da-1e13b67914ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/714c9c2c-f37d-40a0-b7da-1e13b67914ed.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/bc9650f3-68af-4bdb-bc52-86d7352a3255.html" target="element"> US09. Oferentes de los Programas de la Formaci&#243;n para el trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f0e1be6c-8ca6-4222-9912-2b0e49fec281.html" target="element">  </a> </td>
																		<td> <a href="../elements/f0e1be6c-8ca6-4222-9912-2b0e49fec281.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/acb26682-8dfd-4098-8d84-e6dcccb278c0.html" target="element"> US10. Proveedores de evaluaci&#243;n y certificaci&#243;n de competencias para el Reconocimiento de aprendizajes previos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c3ba2fe-d785-49ce-945f-b8a85f9b0e15.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c3ba2fe-d785-49ce-945f-b8a85f9b0e15.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/28bcd6d4-0fa9-4cc1-8f2d-d12193e1290e.html" target="element"> US11. Organismos acreditadores, de proveedores de evaluaci&#243;n y certificaci&#243;n de competencias para el Reconocimiento de Aprendizajes Previos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ab9fe20-7a4a-4046-9d57-15e60eed91f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ab9fe20-7a4a-4046-9d57-15e60eed91f6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/ea3b40cc-8bca-43d3-bfe4-efeec8765475.html" target="element"> US12. Unidades Sectoriales de Normalizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22b71522-3aa9-410c-b8c9-38660f96f0f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/22b71522-3aa9-410c-b8c9-38660f96f0f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element"> BS07. Servicios generales de Consulta de Informaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/09127331-6ea1-4b39-9f9c-6ea8f499b0ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/09127331-6ea1-4b39-9f9c-6ea8f499b0ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element"> BS08. Servicios generales de Gesti&#243;n de Informaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e89e19a4-53a2-422f-85fa-4c48e892bd6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e89e19a4-53a2-422f-85fa-4c48e892bd6d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/id-4f0a59a9-8380-4964-a3a7-286f64c24950.html" target="element"> BS04. Servicio Fomento Oferta de Formaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb34afd4-688e-4793-8cff-182a2d5fa0b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb34afd4-688e-4793-8cff-182a2d5fa0b0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/id-a28acf67-2644-42b6-b456-77ff109a1ef6.html" target="element"> BS05. Servicio de certificaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0317e71d-3cce-4b3c-b5ac-880f385372de.html" target="element">  </a> </td>
																		<td> <a href="../elements/0317e71d-3cce-4b3c-b5ac-880f385372de.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/id-a2261efd-b869-4153-904f-aac3a90fdacc.html" target="element"> BS06. Servicio aseguramiento calidad formaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70958567-2c03-4364-bbad-ffc1032671e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/70958567-2c03-4364-bbad-ffc1032671e9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/id-1b3365bc-5c4c-425f-aa9e-cc9d1b7ddfa1.html" target="element"> BS03. Documentos de lineamientos t&#233;cnicos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a8d3ad3-b0fa-4b02-9627-4b22787dc488.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a8d3ad3-b0fa-4b02-9627-4b22787dc488.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																		<td> <a href="../elements/id-0ec90a5b-d622-49ce-ba6b-25d17acf99aa.html" target="element"> BS02. Servicio de articulaci&#243;n con el sector productivo </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/1e8f314b-eda4-49ce-8d11-e93299b8b0e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e8f314b-eda4-49ce-8d11-e93299b8b0e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element"> BS07. Servicios generales de Consulta de Informaci&#243;n </a> </td>
																		<td> <a href="../elements/b530469f-8dfb-4f36-9cdd-924814b04ec1.html" target="element"> BS09. Consulta estrutura y perfiles ocupacionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9bcd2087-745b-4bc1-b326-085c613477a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9bcd2087-745b-4bc1-b326-085c613477a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/39e0449b-9789-4798-a5aa-ff176c7d0381.html" target="element"> BS07. Servicios generales de Consulta de Informaci&#243;n </a> </td>
																		<td> <a href="../elements/0e68887b-6440-4323-b92b-f6bf4840f1d3.html" target="element"> BS11. Consulta de An&#225;lisis Cuantitativo de Ocupaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/40dd6f39-115e-447c-b38d-1b031aa21472.html" target="element">  </a> </td>
																		<td> <a href="../elements/40dd6f39-115e-447c-b38d-1b031aa21472.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element"> BS08. Servicios generales de Gesti&#243;n de Informaci&#243;n </a> </td>
																		<td> <a href="../elements/e9a4883f-71b7-42e6-ac58-2a1cc41ef601.html" target="element"> BS10. Actualizar el listado de ocupaciones de la CUOC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8be00d3f-6419-4385-8c6c-584da7378b6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8be00d3f-6419-4385-8c6c-584da7378b6f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/355cc188-d468-4120-b13f-d114de97a653.html" target="element"> BS08. Servicios generales de Gesti&#243;n de Informaci&#243;n </a> </td>
																		<td> <a href="../elements/9a30f67e-a047-451a-870e-4866f0061ab0.html" target="element"> BS12. Actualizar y consolidar el MNC </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>