<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fuentes0_SNC_global</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fuentes0_SNC_global</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e4045f4f-9dd3-4f67-bde5-fa0a5a4fd095.png" alt="Fuentes0_SNC_global" usemap="#e4045f4f-9dd3-4f67-bde5-fa0a5a4fd095map"/>
			   <map name="e4045f4f-9dd3-4f67-bde5-fa0a5a4fd095map">
				  		<area shape="rect" coords="742,576,862,631" href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
				  		<area shape="rect" coords="742,413,862,468" href="../elements/f0b2e76c-65c0-4c14-8a20-7e8321d84507.html"  target="element">
				  		<area shape="rect" coords="742,305,862,360" href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html"  target="element">
				  		<area shape="rect" coords="742,161,862,216" href="../elements/b60b1551-f434-4c48-9174-cbfb3834c3a9.html"  target="element">
				  		<area shape="rect" coords="742,65,862,120" href="../elements/a1bb4c3f-8e81-43e4-a7da-2e0f50bb59c7.html"  target="element">
				  				<area shape="rect" coords="1436,617,1569,654" href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html"  target="element">
				  				<area shape="rect" coords="1436,557,1569,594" href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html"  target="element">
				  				<area shape="rect" coords="1436,497,1569,534" href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html"  target="element">

				  		<area shape="rect" coords="1400,452,1588,684" href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html"  target="element">
				  		<area shape="rect" coords="1270,696,1390,751" href="../elements/44c8a74a-a210-4b81-8290-ca05827b8bfa.html"  target="element">
				  		<area shape="rect" coords="1112,337,1232,392" href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html"  target="element">
				  		<area shape="rect" coords="1004,486,1124,541" href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html"  target="element">
				  				<area shape="rect" coords="1058,706,1203,755" href="../elements/ab487cc1-4008-491b-bf11-5021e3c36841.html"  target="element">
				  				<area shape="rect" coords="1058,646,1203,683" href="../elements/3398d26a-b5ec-431a-8865-7d7b87b6f65c.html"  target="element">

				  		<area shape="rect" coords="1046,598,1221,767" href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html"  target="element">
				  		<area shape="rect" coords="1052,197,1172,252" href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html"  target="element">
				  		<area shape="rect" coords="1081,274,1201,329" href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html"  target="element">
				  		<area shape="rect" coords="1292,70,1412,125" href="../elements/42e49a51-090d-49ee-b3fb-a2f982c41b73.html"  target="element">
				  		<area shape="rect" coords="1364,191,1484,246" href="../elements/4d41933b-3ccd-4695-a829-4a1f6ca845c8.html"  target="element">
				  		<area shape="rect" coords="1412,814,1532,869" href="../elements/ccb07828-d6c7-4da9-b8f5-c3f2afe5da38.html"  target="element">
				  		<area shape="rect" coords="1412,862,1532,917" href="../elements/74a65bfa-635b-4052-982a-2432eb74135e.html"  target="element">
				  		<area shape="rect" coords="250,468,370,523" href="../elements/552c2e63-b6e3-452b-8c3e-d8bb076bdada.html"  target="element">
				  		<area shape="rect" coords="692,826,812,881" href="../elements/07f8cdc9-61c2-4ae0-aa4c-b44caa69ee27.html"  target="element">
				  		<area shape="rect" coords="692,778,812,833" href="../elements/6501158d-1e41-40ce-8116-83370a054b6c.html"  target="element">
				  		<area shape="rect" coords="512,883,632,938" href="../elements/ea6536a7-5051-41a3-87f0-b383825331cd.html"  target="element">
				  		<area shape="rect" coords="920,852,1040,907" href="../elements/32ef5ef8-8d20-48b5-bfaa-d6b9de4bf930.html"  target="element">
				  		<area shape="rect" coords="920,790,1040,845" href="../elements/2f4f7269-03b6-413f-b03c-9c09aa892372.html"  target="element">
				  		<area shape="rect" coords="1652,452,1785,489" href="../elements/57784efe-c466-4153-9ff1-50d75f471e7f.html"  target="element">
				  		<area shape="rect" coords="1244,790,1364,845" href="../elements/aba64d0f-3210-481e-9286-136d8a8d2184.html"  target="element">
				  		<area shape="rect" coords="1244,862,1364,917" href="../elements/a5c950c9-79eb-47fa-9fc7-d02656f9b532.html"  target="element">
				  		<area shape="rect" coords="1412,351,1532,406" href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html"  target="element">
				  		<area shape="rect" coords="1088,853,1208,908" href="../elements/6fc29df9-66c6-4508-bfa5-684c4aaa6a20.html"  target="element">
				  		<area shape="rect" coords="1088,790,1208,845" href="../elements/451ad416-51d3-47af-9fad-7db2bab7d098.html"  target="element">
				  		<area shape="rect" coords="512,766,645,827" href="../elements/d7368db6-a056-41bd-bad4-23b2dccfbe0e.html"  target="element">
				  		<area shape="rect" coords="512,839,645,874" href="../elements/a9951f2b-c8c8-42ad-a35c-3cb49ecaf49a.html"  target="element">
				  		<area shape="rect" coords="512,955,632,1010" href="../elements/b2a6764e-05c5-41bd-bdac-aa815213fbd0.html"  target="element">
				  				<area shape="rect" coords="1100,70,1221,131" href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html"  target="element">

				  		<area shape="rect" coords="1076,10,1245,143" href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html"  target="element">
				  		<area shape="rect" coords="322,228,549,283" href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html"  target="element">
				  				<area shape="rect" coords="46,241,239,296" href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html"  target="element">
				  				<area shape="rect" coords="46,85,239,140" href="../elements/id-2757795ffc8a436498fc99a2356a3480.html"  target="element">
				  				<area shape="rect" coords="46,169,239,224" href="../elements/434f32f6-3df3-43af-9004-b20057c2d545.html"  target="element">

				  		<area shape="rect" coords="10,25,290,352" href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> DR12. Barreras de empleabilidad </a> </td>
											    <td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/434f32f6-3df3-43af-9004-b20057c2d545.html" target="element"> DR14. Falta de informaci&#243;n recurso humano </a> </td>
													    <td> <a href="../elements/434f32f6-3df3-43af-9004-b20057c2d545.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
													    <td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
													    <td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
											    <td> <a href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
													    <td> <a href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b2a6764e-05c5-41bd-bdac-aa815213fbd0.html" target="element"> Saber Pro </a> </td>
											    <td> <a href="../elements/b2a6764e-05c5-41bd-bdac-aa815213fbd0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a9951f2b-c8c8-42ad-a35c-3cb49ecaf49a.html" target="element"> Saber TYT </a> </td>
											    <td> <a href="../elements/a9951f2b-c8c8-42ad-a35c-3cb49ecaf49a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7368db6-a056-41bd-bad4-23b2dccfbe0e.html" target="element"> SNIES </a> </td>
											    <td> <a href="../elements/d7368db6-a056-41bd-bad4-23b2dccfbe0e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/451ad416-51d3-47af-9fad-7db2bab7d098.html" target="element"> Seguimiento egresados SENA </a> </td>
											    <td> <a href="../elements/451ad416-51d3-47af-9fad-7db2bab7d098.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6fc29df9-66c6-4508-bfa5-684c4aaa6a20.html" target="element"> Servicio Nacional de Empleo </a> </td>
											    <td> <a href="../elements/6fc29df9-66c6-4508-bfa5-684c4aaa6a20.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
											    <td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5c950c9-79eb-47fa-9fc7-d02656f9b532.html" target="element"> PILA </a> </td>
											    <td> <a href="../elements/a5c950c9-79eb-47fa-9fc7-d02656f9b532.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aba64d0f-3210-481e-9286-136d8a8d2184.html" target="element"> RUTEC </a> </td>
											    <td> <a href="../elements/aba64d0f-3210-481e-9286-136d8a8d2184.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57784efe-c466-4153-9ff1-50d75f471e7f.html" target="element"> SIACET </a> </td>
											    <td> <a href="../elements/57784efe-c466-4153-9ff1-50d75f471e7f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f4f7269-03b6-413f-b03c-9c09aa892372.html" target="element"> Encuestas estructurales </a> </td>
											    <td> <a href="../elements/2f4f7269-03b6-413f-b03c-9c09aa892372.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32ef5ef8-8d20-48b5-bfaa-d6b9de4bf930.html" target="element"> Directorio de Empresas DANE </a> </td>
											    <td> <a href="../elements/32ef5ef8-8d20-48b5-bfaa-d6b9de4bf930.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea6536a7-5051-41a3-87f0-b383825331cd.html" target="element"> Saber 11 </a> </td>
											    <td> <a href="../elements/ea6536a7-5051-41a3-87f0-b383825331cd.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6501158d-1e41-40ce-8116-83370a054b6c.html" target="element"> Instituciones acreditadas </a> </td>
											    <td> <a href="../elements/6501158d-1e41-40ce-8116-83370a054b6c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07f8cdc9-61c2-4ae0-aa4c-b44caa69ee27.html" target="element"> Programas acreditados </a> </td>
											    <td> <a href="../elements/07f8cdc9-61c2-4ae0-aa4c-b44caa69ee27.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/552c2e63-b6e3-452b-8c3e-d8bb076bdada.html" target="element"> Evaluaci&#243;n proceso certificaci&#243;n de competencias laborales </a> </td>
											    <td> <a href="../elements/552c2e63-b6e3-452b-8c3e-d8bb076bdada.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/74a65bfa-635b-4052-982a-2432eb74135e.html" target="element"> Tipo certificaci&#243;n </a> </td>
											    <td> <a href="../elements/74a65bfa-635b-4052-982a-2432eb74135e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ccb07828-d6c7-4da9-b8f5-c3f2afe5da38.html" target="element"> Personas evaluadas </a> </td>
											    <td> <a href="../elements/ccb07828-d6c7-4da9-b8f5-c3f2afe5da38.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d41933b-3ccd-4695-a829-4a1f6ca845c8.html" target="element"> Mesas sectoriales </a> </td>
											    <td> <a href="../elements/4d41933b-3ccd-4695-a829-4a1f6ca845c8.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42e49a51-090d-49ee-b3fb-a2f982c41b73.html" target="element"> Fichas de cualificaciones </a> </td>
											    <td> <a href="../elements/42e49a51-090d-49ee-b3fb-a2f982c41b73.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
											    <td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
											    <td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
											    <td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3398d26a-b5ec-431a-8865-7d7b87b6f65c.html" target="element"> SENA </a> </td>
													    <td> <a href="../elements/3398d26a-b5ec-431a-8865-7d7b87b6f65c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ab487cc1-4008-491b-bf11-5021e3c36841.html" target="element"> Otras certificadoras de personas </a> </td>
													    <td> <a href="../elements/ab487cc1-4008-491b-bf11-5021e3c36841.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html" target="element"> Personas certificadas </a> </td>
											    <td> <a href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element"> Sistema Nacional Acumulaci&#243;n y Transferencia Cr&#233;ditos </a> </td>
											    <td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/44c8a74a-a210-4b81-8290-ca05827b8bfa.html" target="element"> Directorio organismos acreditadores ONAC </a> </td>
											    <td> <a href="../elements/44c8a74a-a210-4b81-8290-ca05827b8bfa.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element"> SIET </a> </td>
											    <td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
													    <td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html" target="element"> Instituciones SIET </a> </td>
													    <td> <a href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html" target="element"> Estudiantes SIET </a> </td>
													    <td> <a href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/a1bb4c3f-8e81-43e4-a7da-2e0f50bb59c7.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
											    <td> <a href="../elements/a1bb4c3f-8e81-43e4-a7da-2e0f50bb59c7.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b60b1551-f434-4c48-9174-cbfb3834c3a9.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
											    <td> <a href="../elements/b60b1551-f434-4c48-9174-cbfb3834c3a9.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
											    <td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0b2e76c-65c0-4c14-8a20-7e8321d84507.html" target="element"> PD02.1. Subsistema Aseguramiento Calidad FT </a> </td>
											    <td> <a href="../elements/f0b2e76c-65c0-4c14-8a20-7e8321d84507.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
											    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ce0c02c4-5c57-4b98-8d58-dedfe48342da.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce0c02c4-5c57-4b98-8d58-dedfe48342da.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> DR12. Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/434f32f6-3df3-43af-9004-b20057c2d545.html" target="element"> DR14. Falta de informaci&#243;n recurso humano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> DR12. Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> DR12. Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/45c7e904-5f2f-4c87-8d54-9249da0e5186.html" target="element">  </a> </td>
																				<td> <a href="../elements/45c7e904-5f2f-4c87-8d54-9249da0e5186.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/434f32f6-3df3-43af-9004-b20057c2d545.html" target="element"> DR14. Falta de informaci&#243;n recurso humano </a> </td>
																				<td> <a href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/992542ea-cebe-4df7-979e-8939afaf232b.html" target="element">  </a> </td>
																				<td> <a href="../elements/992542ea-cebe-4df7-979e-8939afaf232b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
																				<td> <a href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/5e9f969e-4656-41f3-a0fb-66d71887f318.html" target="element">  </a> </td>
																				<td> <a href="../elements/5e9f969e-4656-41f3-a0fb-66d71887f318.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
																				<td> <a href="../elements/776dea68-588e-43da-94e0-14dfa33f3ca7.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/a69f2532-f1cc-448a-a6c6-654176cbad65.html" target="element">  </a> </td>
																		<td> <a href="../elements/a69f2532-f1cc-448a-a6c6-654176cbad65.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/59b33bfb-ae6f-42e2-ba37-c1f8a35c863e.html" target="element">  </a> </td>
																				<td> <a href="../elements/59b33bfb-ae6f-42e2-ba37-c1f8a35c863e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
																				<td> <a href="../elements/42e49a51-090d-49ee-b3fb-a2f982c41b73.html" target="element"> Fichas de cualificaciones </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/4abc76fb-ed32-4364-97d0-ac4facbb79f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4abc76fb-ed32-4364-97d0-ac4facbb79f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d7368db6-a056-41bd-bad4-23b2dccfbe0e.html" target="element"> SNIES </a> </td>
																		<td> <a href="../elements/b2a6764e-05c5-41bd-bdac-aa815213fbd0.html" target="element"> Saber Pro </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8429c8bf-cbc0-4d96-a0b1-86e120516a09.html" target="element">  </a> </td>
																		<td> <a href="../elements/8429c8bf-cbc0-4d96-a0b1-86e120516a09.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																		<td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90d4d2dc-cb53-4d6b-8ad7-436d0d47f9df.html" target="element">  </a> </td>
																		<td> <a href="../elements/90d4d2dc-cb53-4d6b-8ad7-436d0d47f9df.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																		<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d4e4d053-5819-4b93-876a-3c1306b518e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4e4d053-5819-4b93-876a-3c1306b518e3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/311b6dd7-8756-42e7-935e-3c50ab300497.html" target="element">  </a> </td>
																		<td> <a href="../elements/311b6dd7-8756-42e7-935e-3c50ab300497.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/57784efe-c466-4153-9ff1-50d75f471e7f.html" target="element"> SIACET </a> </td>
																		<td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element"> SIET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f826676c-6cdc-4441-b639-38d66dcf6710.html" target="element">  </a> </td>
																		<td> <a href="../elements/f826676c-6cdc-4441-b639-38d66dcf6710.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ea6536a7-5051-41a3-87f0-b383825331cd.html" target="element"> Saber 11 </a> </td>
																		<td> <a href="../elements/a9951f2b-c8c8-42ad-a35c-3cb49ecaf49a.html" target="element"> Saber TYT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c752ce4-03c5-4a40-a8f8-8ac99f42c535.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c752ce4-03c5-4a40-a8f8-8ac99f42c535.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ea6536a7-5051-41a3-87f0-b383825331cd.html" target="element"> Saber 11 </a> </td>
																		<td> <a href="../elements/b2a6764e-05c5-41bd-bdac-aa815213fbd0.html" target="element"> Saber Pro </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd0d39ab-30fe-4d47-b873-f7d0fe3f1a2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd0d39ab-30fe-4d47-b873-f7d0fe3f1a2c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4d41933b-3ccd-4695-a829-4a1f6ca845c8.html" target="element"> Mesas sectoriales </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19686049-0d7e-403e-b3f4-87fe2e676817.html" target="element">  </a> </td>
																		<td> <a href="../elements/19686049-0d7e-403e-b3f4-87fe2e676817.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4d41933b-3ccd-4695-a829-4a1f6ca845c8.html" target="element"> Mesas sectoriales </a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e2262a16-64e9-4bb2-a221-bcfb49fffc8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2262a16-64e9-4bb2-a221-bcfb49fffc8e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/42e49a51-090d-49ee-b3fb-a2f982c41b73.html" target="element"> Fichas de cualificaciones </a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/214349ff-7d8b-4243-b475-31c9bc7c1756.html" target="element">  </a> </td>
																		<td> <a href="../elements/214349ff-7d8b-4243-b475-31c9bc7c1756.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																		<td> <a href="../elements/b60b1551-f434-4c48-9174-cbfb3834c3a9.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a5957ee8-685a-4efc-875b-01a6097449e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5957ee8-685a-4efc-875b-01a6097449e1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																		<td> <a href="../elements/b60b1551-f434-4c48-9174-cbfb3834c3a9.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03e36a5d-5bca-44a6-8b39-5e7b9bfed6ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/03e36a5d-5bca-44a6-8b39-5e7b9bfed6ec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/35d2bf80-8642-4b3d-b6ac-fe14f3bf237b.html" target="element">  </a> </td>
																		<td> <a href="../elements/35d2bf80-8642-4b3d-b6ac-fe14f3bf237b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
																		<td> <a href="../elements/3398d26a-b5ec-431a-8865-7d7b87b6f65c.html" target="element"> SENA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/57741f98-ff06-489b-92c6-1d1979f8c5f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/57741f98-ff06-489b-92c6-1d1979f8c5f3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
																		<td> <a href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html" target="element"> Personas certificadas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/45f4b074-750e-4efd-b451-7035ea678111.html" target="element">  </a> </td>
																		<td> <a href="../elements/45f4b074-750e-4efd-b451-7035ea678111.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6f4024ef-7d93-4c3d-8493-abb7e0b86782.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f4024ef-7d93-4c3d-8493-abb7e0b86782.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
																		<td> <a href="../elements/ab487cc1-4008-491b-bf11-5021e3c36841.html" target="element"> Otras certificadoras de personas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3db4ba0d-3cc9-4d27-a528-a10b4c4024f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/3db4ba0d-3cc9-4d27-a528-a10b4c4024f5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ab487cc1-4008-491b-bf11-5021e3c36841.html" target="element"> Otras certificadoras de personas </a> </td>
																				<td> <a href="../elements/44c8a74a-a210-4b81-8290-ca05827b8bfa.html" target="element"> Directorio organismos acreditadores ONAC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/878a72e2-3f46-4d38-8257-fe03e0bd49aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/878a72e2-3f46-4d38-8257-fe03e0bd49aa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html" target="element"> Personas certificadas </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/225caaf0-8461-45d6-9c13-4fdce52bc8c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/225caaf0-8461-45d6-9c13-4fdce52bc8c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element"> Sistema Nacional Acumulaci&#243;n y Transferencia Cr&#233;ditos </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb0a8fb0-4d0b-42e7-8356-89c76385d5cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb0a8fb0-4d0b-42e7-8356-89c76385d5cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element"> Sistema Nacional Acumulaci&#243;n y Transferencia Cr&#233;ditos </a> </td>
																		<td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b52cdc61-723e-4c4c-8bf9-8d58abc7350b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b52cdc61-723e-4c4c-8bf9-8d58abc7350b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element"> Sistema Nacional Acumulaci&#243;n y Transferencia Cr&#233;ditos </a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/584161c3-c19d-4606-a0e7-115a2dcf3cd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/584161c3-c19d-4606-a0e7-115a2dcf3cd5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element"> SIET </a> </td>
																		<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51200a01-06e0-42ac-87f6-b0f950272369.html" target="element">  </a> </td>
																		<td> <a href="../elements/51200a01-06e0-42ac-87f6-b0f950272369.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element"> SIET </a> </td>
																		<td> <a href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html" target="element"> Estudiantes SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac3009f1-9036-4086-94fe-9bed2f0a1ad3.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac3009f1-9036-4086-94fe-9bed2f0a1ad3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e9bb75c3-ad79-4986-8858-16b97ce39e33.html" target="element"> SIET </a> </td>
																		<td> <a href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html" target="element"> Instituciones SIET </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/295107bb-e522-4ab4-9c63-9bd7cb875848.html" target="element">  </a> </td>
																				<td> <a href="../elements/295107bb-e522-4ab4-9c63-9bd7cb875848.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																				<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9a117fdb-c2cb-4930-9ad1-f83b19d97ab2.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a117fdb-c2cb-4930-9ad1-f83b19d97ab2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																				<td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6da24a4c-6058-4a35-84c5-3ba29388cd50.html" target="element">  </a> </td>
																				<td> <a href="../elements/6da24a4c-6058-4a35-84c5-3ba29388cd50.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																				<td> <a href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html" target="element"> Estudiantes SIET </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a2a2cc37-1df8-4723-bfa4-2060df83a895.html" target="element">  </a> </td>
																				<td> <a href="../elements/a2a2cc37-1df8-4723-bfa4-2060df83a895.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html" target="element"> Instituciones SIET </a> </td>
																				<td> <a href="../elements/5deb1117-7a4e-4514-b25e-692ce2524e9b.html" target="element"> Estudiantes SIET </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/01b6ecf7-f55a-4320-8461-d15b88606bf3.html" target="element">  </a> </td>
																				<td> <a href="../elements/01b6ecf7-f55a-4320-8461-d15b88606bf3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/57376e10-1765-4379-9b1b-2a6fc07e651a.html" target="element"> Instituciones SIET </a> </td>
																				<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/4fec5fb2-7452-4ba0-8546-780e7fd59934.html" target="element">  </a> </td>
																		<td> <a href="../elements/4fec5fb2-7452-4ba0-8546-780e7fd59934.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a1bb4c3f-8e81-43e4-a7da-2e0f50bb59c7.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																		<td> <a href="../elements/087078e8-cb55-4e77-9005-17802fa070cb.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f49d096-8952-476c-857d-c7e45098bcdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f49d096-8952-476c-857d-c7e45098bcdc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/07e7a161-8cda-4815-8499-3aef0a4744d8.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2284bcce-f50d-428a-aa41-3181d2869adb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2284bcce-f50d-428a-aa41-3181d2869adb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/b751c306-2c9f-432e-ac99-e1325c71894f.html" target="element"> Fichas de estructura funcional de la ocupaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/79355732-5976-4be8-b5c7-3d9cba49a109.html" target="element">  </a> </td>
																		<td> <a href="../elements/79355732-5976-4be8-b5c7-3d9cba49a109.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/8031b0ea-b4cf-4dfe-bbf4-7fe38e22280a.html" target="element"> Fichas de norma sectorial de competencia laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39492086-a4b4-41d8-9b30-8d5c25b73f80.html" target="element">  </a> </td>
																		<td> <a href="../elements/39492086-a4b4-41d8-9b30-8d5c25b73f80.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/450c10ef-ac78-4139-a113-379d98b73146.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																		<td> <a href="../elements/1b027aa5-cc9a-44e5-a4b8-f38fd1ce7672.html" target="element"> Sistema Nacional Acumulaci&#243;n y Transferencia Cr&#233;ditos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/16e78d11-6430-4c7a-9a2c-66594ec3bedc.html" target="element">  </a> </td>
																		<td> <a href="../elements/16e78d11-6430-4c7a-9a2c-66594ec3bedc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f0b2e76c-65c0-4c14-8a20-7e8321d84507.html" target="element"> PD02.1. Subsistema Aseguramiento Calidad FT </a> </td>
																		<td> <a href="../elements/adee6a59-eb48-43d9-adec-13dd3d291d04.html" target="element"> Programas SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bad6ab87-8dc2-49db-9089-af85f3a51812.html" target="element"> ET y CUOC </a> </td>
																		<td> <a href="../elements/bad6ab87-8dc2-49db-9089-af85f3a51812.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f0b2e76c-65c0-4c14-8a20-7e8321d84507.html" target="element"> PD02.1. Subsistema Aseguramiento Calidad FT </a> </td>
																		<td> <a href="../elements/08b2d021-269d-4082-b7dc-785b2d855c93.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/af21bb8b-1baf-403e-ba18-cb9c9f684d9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/af21bb8b-1baf-403e-ba18-cb9c9f684d9e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																		<td> <a href="../elements/feaf9944-2ac1-4e0a-9daa-63c7981a246e.html" target="element"> Personas certificadas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ec285675-c48f-449a-ac50-76279946578f.html" target="element">  </a> </td>
																		<td> <a href="../elements/ec285675-c48f-449a-ac50-76279946578f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																		<td> <a href="../elements/05c5e5b4-134c-401c-afb6-ca18106541fa.html" target="element"> Entidades certificadoras de personas </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>