<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1-2 Prflmto. Características y reqrmts</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1-2 Prflmto. Caracter&#237;sticas y reqrmts</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ecc71568-1d02-4005-a828-670a09c74d3e.png" alt="1-2 Prflmto. Características y reqrmts" usemap="#ecc71568-1d02-4005-a828-670a09c74d3emap"/>
			   <map name="ecc71568-1d02-4005-a828-670a09c74d3emap">
				  		<area shape="rect" coords="1060,206,1180,261" href="../elements/af43d391-adbb-470b-aec4-dfaae2c87261.html"  target="element">
				  		<area shape="rect" coords="910,206,1030,261" href="../elements/a7f50fc9-a2ff-4d56-bc49-50e9bf08c4e1.html"  target="element">
				  		<area shape="rect" coords="760,206,880,261" href="../elements/591fbc23-e637-43d4-9cec-04b8eef5993c.html"  target="element">
				  		<area shape="rect" coords="1060,106,1180,161" href="../elements/68950c53-5887-4352-8017-2625fdd6a9ba.html"  target="element">
				  		<area shape="rect" coords="910,106,1030,161" href="../elements/6ace1c83-e8ea-451b-ac09-9c0c5377ebae.html"  target="element">
				  		<area shape="rect" coords="760,106,880,161" href="../elements/7d03119c-8b46-4134-8b6a-517a63efcc86.html"  target="element">
				  		<area shape="rect" coords="280,406,400,461" href="../elements/d1df2858-7b9f-4027-aeb6-7d17301c0d07.html"  target="element">
				  		<area shape="rect" coords="580,306,700,361" href="../elements/ce97ed83-2c22-4d95-85b8-f105640803c4.html"  target="element">
				  		<area shape="rect" coords="430,306,550,361" href="../elements/5698a2d8-64ed-4017-a78f-50737236e5b2.html"  target="element">
				  		<area shape="rect" coords="280,306,400,361" href="../elements/8d1d2f81-f38f-4871-aa46-3bc9f58e91d4.html"  target="element">
				  		<area shape="rect" coords="580,206,700,261" href="../elements/2305d97f-e1ca-4e7a-85ab-d7d3279e6c0d.html"  target="element">
				  		<area shape="rect" coords="430,206,550,261" href="../elements/fa2b977a-357c-4e67-80ca-2e5ff14ef443.html"  target="element">
				  		<area shape="rect" coords="280,206,400,261" href="../elements/4fc2acd1-2c2d-43f9-9f2d-1b291a70569b.html"  target="element">
				  		<area shape="rect" coords="580,106,700,161" href="../elements/42f0851c-b005-45bb-85ce-af84a6ebc676.html"  target="element">
				  		<area shape="rect" coords="430,106,550,161" href="../elements/9c201b7a-28e4-4831-8236-2354f3d7b33d.html"  target="element">
				  		<area shape="rect" coords="280,106,400,161" href="../elements/88052fee-94c2-47ec-b233-df17fff970de.html"  target="element">
				  		<area shape="rect" coords="436,1820,556,1875" href="../elements/8b2bbd48-365e-4066-97cb-0f54ab4ae776.html"  target="element">
				  		<area shape="rect" coords="286,1820,406,1875" href="../elements/a1f315ca-ce99-431d-aac7-906e05bbbff1.html"  target="element">
				  		<area shape="rect" coords="586,1720,706,1775" href="../elements/0a5d6bf0-6671-4850-bd4d-99701fe40b09.html"  target="element">
				  		<area shape="rect" coords="436,1720,556,1775" href="../elements/f642c1bb-cd60-4687-8c61-266f489802d4.html"  target="element">
				  		<area shape="rect" coords="286,1720,406,1775" href="../elements/4950ed2a-9818-4eca-ac44-5058616e9dbf.html"  target="element">
				  		<area shape="rect" coords="586,1620,706,1675" href="../elements/7dc1ff2c-a497-4061-acc3-cd09c5e1fc41.html"  target="element">
				  		<area shape="rect" coords="436,1620,556,1675" href="../elements/0ea538e6-85be-40bf-8e40-f12cfb5dc16e.html"  target="element">
				  		<area shape="rect" coords="286,1620,406,1675" href="../elements/0457659d-27d4-4312-a768-759fbc32e713.html"  target="element">
				  		<area shape="rect" coords="586,1520,706,1575" href="../elements/a4a816f4-b95e-4de6-8aed-eb645a1718b8.html"  target="element">
				  		<area shape="rect" coords="436,1520,556,1575" href="../elements/07ee8f8e-105a-4ba6-b308-13ce5aeef365.html"  target="element">
				  		<area shape="rect" coords="586,1420,706,1475" href="../elements/fad9b50d-3938-419f-8c0d-45de83e97a82.html"  target="element">
				  		<area shape="rect" coords="436,1420,556,1475" href="../elements/6c095c3d-4b4a-4033-b189-e50c6a612b58.html"  target="element">
				  		<area shape="rect" coords="286,1420,406,1475" href="../elements/4fc46839-fb23-46bf-b734-bf68165a7815.html"  target="element">
				  		<area shape="rect" coords="586,1320,706,1375" href="../elements/623b4dc0-8518-418e-82ee-cc8ffc8b599c.html"  target="element">
				  		<area shape="rect" coords="436,1320,556,1375" href="../elements/f054087e-83c4-44ae-b973-44104dc9296b.html"  target="element">
				  		<area shape="rect" coords="286,1320,406,1375" href="../elements/358f4c02-8aae-44d7-a36d-4a1a9ff7d94e.html"  target="element">
				  		<area shape="rect" coords="586,1220,706,1275" href="../elements/5f06a94a-e758-4274-9ee9-1e79eb2c2a54.html"  target="element">
				  		<area shape="rect" coords="436,1220,556,1275" href="../elements/e2cfb84f-5ee3-43d3-9350-2aad150eb237.html"  target="element">
				  		<area shape="rect" coords="286,1220,406,1275" href="../elements/603652ce-9841-4638-a7e6-a39637f1208a.html"  target="element">
				  		<area shape="rect" coords="586,1120,706,1175" href="../elements/d0f0d769-1592-4b9d-856a-c9480b90cdb8.html"  target="element">
				  		<area shape="rect" coords="436,1120,556,1175" href="../elements/8d8ccd7e-353b-4cc2-9669-b31513528836.html"  target="element">
				  		<area shape="rect" coords="286,1120,406,1175" href="../elements/7a37f1c4-3853-4623-abc1-e5bfbedf28e3.html"  target="element">
				  		<area shape="rect" coords="586,1020,706,1075" href="../elements/e83b2d1a-e7b9-45a6-a148-e82abaae98ad.html"  target="element">
				  		<area shape="rect" coords="436,1020,556,1075" href="../elements/e298d181-4397-45be-ba0d-9d8c31119827.html"  target="element">
				  		<area shape="rect" coords="286,1020,406,1075" href="../elements/4d216d5c-6caa-404a-967e-a3a9e296e270.html"  target="element">
				  		<area shape="rect" coords="586,920,706,975" href="../elements/c72dc4df-5f62-46f3-a988-c0ad5bb774ea.html"  target="element">
				  		<area shape="rect" coords="436,920,556,975" href="../elements/e0174915-d868-464a-8c9a-044d0056e7f7.html"  target="element">
				  		<area shape="rect" coords="286,920,406,975" href="../elements/5caafb1c-defb-40cf-9188-ca28f8b4637f.html"  target="element">
				  		<area shape="rect" coords="586,820,706,875" href="../elements/41363eb6-f155-4f7b-a932-1a35af1a7955.html"  target="element">
				  		<area shape="rect" coords="436,820,556,875" href="../elements/4a33f2a9-3077-4fa0-a048-a38484764ea5.html"  target="element">
				  		<area shape="rect" coords="286,820,406,875" href="../elements/c65617cc-d554-4531-a26f-753d39127a1b.html"  target="element">
				  		<area shape="rect" coords="586,720,706,775" href="../elements/0f6520dd-cf48-4987-8fd4-f4ba4454435d.html"  target="element">
				  		<area shape="rect" coords="436,720,556,775" href="../elements/91c53afa-d380-4113-8f57-8e4911452097.html"  target="element">
				  		<area shape="rect" coords="286,720,406,775" href="../elements/a34ba5e0-7a41-43bc-8ddb-420012a973ec.html"  target="element">
				  		<area shape="rect" coords="586,620,706,675" href="../elements/9c4d4e41-4763-4e29-a7b7-15b0d6dbe038.html"  target="element">
				  		<area shape="rect" coords="436,620,556,675" href="../elements/d85efe17-b464-4b50-8de6-c8f66d54748b.html"  target="element">
				  		<area shape="rect" coords="286,620,406,675" href="../elements/e5325d58-9b1c-4b6a-bd18-f2d4dc4f1aff.html"  target="element">
				  		<area shape="rect" coords="586,520,706,575" href="../elements/8c35b065-3228-42d4-9f63-9df376adfe84.html"  target="element">
				  		<area shape="rect" coords="436,520,556,575" href="../elements/68efdced-514f-4cd2-ac7e-fb3d29b71f33.html"  target="element">
				  		<area shape="rect" coords="286,520,406,575" href="../elements/68f6f478-4e04-46b4-b532-34d9094c1400.html"  target="element">
				  		<area shape="rect" coords="10,370,183,425" href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html"  target="element">
				  		<area shape="rect" coords="10,199,183,254" href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html"  target="element">
				  		<area shape="rect" coords="10,283,183,338" href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html"  target="element">
				  		<area shape="rect" coords="10,10,183,65" href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html"  target="element">
				  		<area shape="rect" coords="10,460,183,515" href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html"  target="element">
				  		<area shape="rect" coords="10,100,183,155" href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element"> EPC01. Perfil descargable </a> </td>
											    <td> <a href="../elements/cd73a57b-52a7-4526-b2f8-14b6f4bec449.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element"> EPC02. Login y Perfiles </a> </td>
											    <td> <a href="../elements/4ba15954-5873-400d-99a1-a5196a124b9e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element"> EPC03. Navegaci&#243;n y entendimiento </a> </td>
											    <td> <a href="../elements/8dbb7b6e-ceb6-4e70-b10a-84ec19b145a7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element"> EPC04. Recomendaciones </a> </td>
											    <td> <a href="../elements/76ba080b-a8e9-4f2c-9c1c-164380600130.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element"> EPC05. Certificaci&#243;n </a> </td>
											    <td> <a href="../elements/9c810bae-5f21-4e13-8a1c-fd16c43fbf0b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element"> EPC06. Visualizaci&#243;n y Anltca. </a> </td>
											    <td> <a href="../elements/5dffc859-b5eb-4a7d-860c-2a0515353425.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/68f6f478-4e04-46b4-b532-34d9094c1400.html" target="element"> RQ200. Objetivos y audiencias </a> </td>
											    <td> <a href="../elements/68f6f478-4e04-46b4-b532-34d9094c1400.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/68efdced-514f-4cd2-ac7e-fb3d29b71f33.html" target="element"> RQ201. C&#243;mo usar la plataforma </a> </td>
											    <td> <a href="../elements/68efdced-514f-4cd2-ac7e-fb3d29b71f33.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8c35b065-3228-42d4-9f63-9df376adfe84.html" target="element"> RQ202. Mercado laboral </a> </td>
											    <td> <a href="../elements/8c35b065-3228-42d4-9f63-9df376adfe84.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e5325d58-9b1c-4b6a-bd18-f2d4dc4f1aff.html" target="element"> RQ203. Test de autoconocimiento y fortalezas </a> </td>
											    <td> <a href="../elements/e5325d58-9b1c-4b6a-bd18-f2d4dc4f1aff.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d85efe17-b464-4b50-8de6-c8f66d54748b.html" target="element"> RQ204. Quiero intermediaci&#243;n </a> </td>
											    <td> <a href="../elements/d85efe17-b464-4b50-8de6-c8f66d54748b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c4d4e41-4763-4e29-a7b7-15b0d6dbe038.html" target="element"> RQ205. Sobre el SPE </a> </td>
											    <td> <a href="../elements/9c4d4e41-4763-4e29-a7b7-15b0d6dbe038.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a34ba5e0-7a41-43bc-8ddb-420012a973ec.html" target="element"> RQ206. Login </a> </td>
											    <td> <a href="../elements/a34ba5e0-7a41-43bc-8ddb-420012a973ec.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91c53afa-d380-4113-8f57-8e4911452097.html" target="element"> RQ207. Informaci&#243;n b&#225;sica </a> </td>
											    <td> <a href="../elements/91c53afa-d380-4113-8f57-8e4911452097.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0f6520dd-cf48-4987-8fd4-f4ba4454435d.html" target="element"> RQ208. Experiencia laboral </a> </td>
											    <td> <a href="../elements/0f6520dd-cf48-4987-8fd4-f4ba4454435d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c65617cc-d554-4531-a26f-753d39127a1b.html" target="element"> RQ209. Formaci&#243;n </a> </td>
											    <td> <a href="../elements/c65617cc-d554-4531-a26f-753d39127a1b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a33f2a9-3077-4fa0-a048-a38484764ea5.html" target="element"> RQ210. Hobbies y otros </a> </td>
											    <td> <a href="../elements/4a33f2a9-3077-4fa0-a048-a38484764ea5.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41363eb6-f155-4f7b-a932-1a35af1a7955.html" target="element"> RQ211. Aspiraciones </a> </td>
											    <td> <a href="../elements/41363eb6-f155-4f7b-a932-1a35af1a7955.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5caafb1c-defb-40cf-9188-ca28f8b4637f.html" target="element"> RQ212. Competencias favoritas </a> </td>
											    <td> <a href="../elements/5caafb1c-defb-40cf-9188-ca28f8b4637f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0174915-d868-464a-8c9a-044d0056e7f7.html" target="element"> RQ213. Preferencias </a> </td>
											    <td> <a href="../elements/e0174915-d868-464a-8c9a-044d0056e7f7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c72dc4df-5f62-46f3-a988-c0ad5bb774ea.html" target="element"> RQ214. Integraci&#243;n con otras p&#225;ginas </a> </td>
											    <td> <a href="../elements/c72dc4df-5f62-46f3-a988-c0ad5bb774ea.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d216d5c-6caa-404a-967e-a3a9e296e270.html" target="element"> RQ215. Documentos </a> </td>
											    <td> <a href="../elements/4d216d5c-6caa-404a-967e-a3a9e296e270.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e298d181-4397-45be-ba0d-9d8c31119827.html" target="element"> RQ216. V&#237;deos y otros </a> </td>
											    <td> <a href="../elements/e298d181-4397-45be-ba0d-9d8c31119827.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e83b2d1a-e7b9-45a6-a148-e82abaae98ad.html" target="element"> RQ217. Referencias </a> </td>
											    <td> <a href="../elements/e83b2d1a-e7b9-45a6-a148-e82abaae98ad.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7a37f1c4-3853-4623-abc1-e5bfbedf28e3.html" target="element"> RQ218. Autoevaluaci&#243;n </a> </td>
											    <td> <a href="../elements/7a37f1c4-3853-4623-abc1-e5bfbedf28e3.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d8ccd7e-353b-4cc2-9669-b31513528836.html" target="element"> RQ219. Validaci&#243;n de terceros </a> </td>
											    <td> <a href="../elements/8d8ccd7e-353b-4cc2-9669-b31513528836.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d0f0d769-1592-4b9d-856a-c9480b90cdb8.html" target="element"> RQ220. Autocertificaci&#243;n b&#225;sica </a> </td>
											    <td> <a href="../elements/d0f0d769-1592-4b9d-856a-c9480b90cdb8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/603652ce-9841-4638-a7e6-a39637f1208a.html" target="element"> RQ221. Perfil descargable general </a> </td>
											    <td> <a href="../elements/603652ce-9841-4638-a7e6-a39637f1208a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e2cfb84f-5ee3-43d3-9350-2aad150eb237.html" target="element"> RQ222. Personalizar formato </a> </td>
											    <td> <a href="../elements/e2cfb84f-5ee3-43d3-9350-2aad150eb237.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f06a94a-e758-4274-9ee9-1e79eb2c2a54.html" target="element"> RQ223. Personalizar contenido </a> </td>
											    <td> <a href="../elements/5f06a94a-e758-4274-9ee9-1e79eb2c2a54.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/358f4c02-8aae-44d7-a36d-4a1a9ff7d94e.html" target="element"> RQ224. Adaptaci&#243;n por ocupaci&#243;n </a> </td>
											    <td> <a href="../elements/358f4c02-8aae-44d7-a36d-4a1a9ff7d94e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f054087e-83c4-44ae-b973-44104dc9296b.html" target="element"> RQ225. Adaptaci&#243;n por vacante </a> </td>
											    <td> <a href="../elements/f054087e-83c4-44ae-b973-44104dc9296b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/623b4dc0-8518-418e-82ee-cc8ffc8b599c.html" target="element"> RQ226. Compartir por redes sociales </a> </td>
											    <td> <a href="../elements/623b4dc0-8518-418e-82ee-cc8ffc8b599c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4fc46839-fb23-46bf-b734-bf68165a7815.html" target="element"> RQ227. Destacar fortalezas </a> </td>
											    <td> <a href="../elements/4fc46839-fb23-46bf-b734-bf68165a7815.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c095c3d-4b4a-4033-b189-e50c6a612b58.html" target="element"> RQ228. Recomendaciones de carreras generales </a> </td>
											    <td> <a href="../elements/6c095c3d-4b4a-4033-b189-e50c6a612b58.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fad9b50d-3938-419f-8c0d-45de83e97a82.html" target="element"> RQ229. Informaci&#243;n adicional sobre carreras </a> </td>
											    <td> <a href="../elements/fad9b50d-3938-419f-8c0d-45de83e97a82.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07ee8f8e-105a-4ba6-b308-13ce5aeef365.html" target="element"> RQ230. Recomendaciones de carreras espec&#237;ficas </a> </td>
											    <td> <a href="../elements/07ee8f8e-105a-4ba6-b308-13ce5aeef365.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4a816f4-b95e-4de6-8aed-eb645a1718b8.html" target="element"> RQ231. Brecha de competencias </a> </td>
											    <td> <a href="../elements/a4a816f4-b95e-4de6-8aed-eb645a1718b8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0457659d-27d4-4312-a768-759fbc32e713.html" target="element"> RQ232. Generales </a> </td>
											    <td> <a href="../elements/0457659d-27d4-4312-a768-759fbc32e713.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0ea538e6-85be-40bf-8e40-f12cfb5dc16e.html" target="element"> RQ233. Reales </a> </td>
											    <td> <a href="../elements/0ea538e6-85be-40bf-8e40-f12cfb5dc16e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7dc1ff2c-a497-4061-acc3-cd09c5e1fc41.html" target="element"> RQ234. Generales </a> </td>
											    <td> <a href="../elements/7dc1ff2c-a497-4061-acc3-cd09c5e1fc41.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4950ed2a-9818-4eca-ac44-5058616e9dbf.html" target="element"> RQ235. Reales </a> </td>
											    <td> <a href="../elements/4950ed2a-9818-4eca-ac44-5058616e9dbf.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f642c1bb-cd60-4687-8c61-266f489802d4.html" target="element"> RQ236. Lista </a> </td>
											    <td> <a href="../elements/f642c1bb-cd60-4687-8c61-266f489802d4.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0a5d6bf0-6671-4850-bd4d-99701fe40b09.html" target="element"> RQ237. Tracker </a> </td>
											    <td> <a href="../elements/0a5d6bf0-6671-4850-bd4d-99701fe40b09.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a1f315ca-ce99-431d-aac7-906e05bbbff1.html" target="element"> RQ238. Fortalezas </a> </td>
											    <td> <a href="../elements/a1f315ca-ce99-431d-aac7-906e05bbbff1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b2bbd48-365e-4066-97cb-0f54ab4ae776.html" target="element"> RQ239. Competencias &#250;nicas </a> </td>
											    <td> <a href="../elements/8b2bbd48-365e-4066-97cb-0f54ab4ae776.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/88052fee-94c2-47ec-b233-df17fff970de.html" target="element"> RQ240. Competencias transferibles </a> </td>
											    <td> <a href="../elements/88052fee-94c2-47ec-b233-df17fff970de.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c201b7a-28e4-4831-8236-2354f3d7b33d.html" target="element"> RQ241. Aspiraciones </a> </td>
											    <td> <a href="../elements/9c201b7a-28e4-4831-8236-2354f3d7b33d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42f0851c-b005-45bb-85ce-af84a6ebc676.html" target="element"> RQ242. Competencias favoritas </a> </td>
											    <td> <a href="../elements/42f0851c-b005-45bb-85ce-af84a6ebc676.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4fc2acd1-2c2d-43f9-9f2d-1b291a70569b.html" target="element"> RQ243. Virtual </a> </td>
											    <td> <a href="../elements/4fc2acd1-2c2d-43f9-9f2d-1b291a70569b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa2b977a-357c-4e67-80ca-2e5ff14ef443.html" target="element"> RQ244. Presencial </a> </td>
											    <td> <a href="../elements/fa2b977a-357c-4e67-80ca-2e5ff14ef443.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2305d97f-e1ca-4e7a-85ab-d7d3279e6c0d.html" target="element"> RQ245. Ver perfiles individuales </a> </td>
											    <td> <a href="../elements/2305d97f-e1ca-4e7a-85ab-d7d3279e6c0d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d1d2f81-f38f-4871-aa46-3bc9f58e91d4.html" target="element"> RQ246. B&#250;squeda por competencias </a> </td>
											    <td> <a href="../elements/8d1d2f81-f38f-4871-aa46-3bc9f58e91d4.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5698a2d8-64ed-4017-a78f-50737236e5b2.html" target="element"> RQ247. Probabilidad de empleabilidad por perfil </a> </td>
											    <td> <a href="../elements/5698a2d8-64ed-4017-a78f-50737236e5b2.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ce97ed83-2c22-4d95-85b8-f105640803c4.html" target="element"> RQ248. Notas del orientador </a> </td>
											    <td> <a href="../elements/ce97ed83-2c22-4d95-85b8-f105640803c4.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1df2858-7b9f-4027-aeb6-7d17301c0d07.html" target="element"> RQ249. N&#250;mero de perfiles por sector, ocupaci&#243;n o competencia </a> </td>
											    <td> <a href="../elements/d1df2858-7b9f-4027-aeb6-7d17301c0d07.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d03119c-8b46-4134-8b6a-517a63efcc86.html" target="element"> RQ250. Segmentaci&#243;n / clustering de perfiles </a> </td>
											    <td> <a href="../elements/7d03119c-8b46-4134-8b6a-517a63efcc86.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6ace1c83-e8ea-451b-ac09-9c0c5377ebae.html" target="element"> RQ251. Carreras y ocupaciones m&#225;s y menos comunes </a> </td>
											    <td> <a href="../elements/6ace1c83-e8ea-451b-ac09-9c0c5377ebae.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/68950c53-5887-4352-8017-2625fdd6a9ba.html" target="element"> RQ252. Competencias m&#225;s y menos comunes </a> </td>
											    <td> <a href="../elements/68950c53-5887-4352-8017-2625fdd6a9ba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/591fbc23-e637-43d4-9cec-04b8eef5993c.html" target="element"> RQ253. Competencias transferibles m&#225;s y menos comunes </a> </td>
											    <td> <a href="../elements/591fbc23-e637-43d4-9cec-04b8eef5993c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a7f50fc9-a2ff-4d56-bc49-50e9bf08c4e1.html" target="element"> RQ254. Factores de influencia en probabilidad de empleabilidad </a> </td>
											    <td> <a href="../elements/a7f50fc9-a2ff-4d56-bc49-50e9bf08c4e1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af43d391-adbb-470b-aec4-dfaae2c87261.html" target="element"> RQ255. Creaci&#243;n a medida </a> </td>
											    <td> <a href="../elements/af43d391-adbb-470b-aec4-dfaae2c87261.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>