<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. Aplicaciones y Requerimientos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. Aplicaciones y Requerimientos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ecea46a7-8759-4846-a75d-f82648c7c228.png" alt="APP. Aplicaciones y Requerimientos" usemap="#ecea46a7-8759-4846-a75d-f82648c7c228map"/>
			   <map name="ecea46a7-8759-4846-a75d-f82648c7c228map">
				  		<area shape="rect" coords="369,706,489,761" href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html"  target="element">
				  		<area shape="rect" coords="584,867,704,922" href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html"  target="element">
				  		<area shape="rect" coords="500,639,620,694" href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html"  target="element">
				  		<area shape="rect" coords="286,867,406,922" href="../elements/a46b0b61-1e94-448a-b0d9-6735a101024a.html"  target="element">
				  		<area shape="rect" coords="142,867,262,922" href="../elements/f81e25e1-682d-4487-a7ea-c2c522114202.html"  target="element">
				  		<area shape="rect" coords="10,567,250,659" href="../elements/e98e3c9a-7222-4638-a0ad-5ff1e88b6835.html"  target="element">
				          <area shape="rect" coords="142,10,466,178" href="../objects/fb7330ed-97bf-481c-9498-f4ef0f093246.html" target="element" >
				  		<area shape="rect" coords="500,567,620,622" href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html"  target="element">
				  		<area shape="rect" coords="369,639,489,694" href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html"  target="element">
				  		<area shape="rect" coords="448,867,568,922" href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html"  target="element">
				  		<area shape="rect" coords="970,418,1163,473" href="../elements/3002497d-2d8b-49fc-a3b9-b57c2078a656.html"  target="element">
				  		<area shape="rect" coords="766,418,959,473" href="../elements/cbb767f3-a823-4b5a-b7c0-e2a92de4d4ee.html"  target="element">
				  		<area shape="rect" coords="970,351,1163,406" href="../elements/5f7ea8b0-a922-41a8-84bf-af4dc8d3701a.html"  target="element">
				  		<area shape="rect" coords="766,351,959,406" href="../elements/a13fd8c1-8e0e-4622-bfb8-5298ec8c9f1e.html"  target="element">
				  		<area shape="rect" coords="970,291,1163,346" href="../elements/c8e505d1-128f-4e8b-a28d-d666665db840.html"  target="element">
				  		<area shape="rect" coords="970,226,1163,281" href="../elements/20a241b4-e84f-473c-bad6-b02927a2fa64.html"  target="element">
				  		<area shape="rect" coords="766,291,959,346" href="../elements/2a224bae-1f46-4311-ae9e-0899f64802f7.html"  target="element">
				  		<area shape="rect" coords="766,226,959,281" href="../elements/62942782-4f70-4491-90f6-c62a4d217950.html"  target="element">
				  		<area shape="rect" coords="285,567,405,622" href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html"  target="element">
				  						<area shape="rect" coords="454,283,539,323" href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="322,259,551,334" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
				  						<area shape="rect" coords="262,411,349,452" href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="214,387,359,460" href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html"  target="element">
				  				<area shape="rect" coords="166,279,286,334" href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html"  target="element">

				  		<area shape="rect" coords="142,202,599,496" href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Con esta plataforma tecnol&#243;gica se consolidar&#225; un sistema gerencial de gesti&#243;n del empleocentro de inteligencia con un DWH que articular&#225; unificar&#225; otros sistemas de informaci&#243;n necesarios para la revisi&#243;n de la efectividad entre la pol&#237;tica activa y pasiva mostrada a trav&#233;s de resultados, y se espera entre otros tener la informaci&#243;n del sistema del Servicio P&#250;blico de Empleo, la Planilla Integrada de Liquidaci&#243;n de Aportes (PILA), el Sistema Nacional de Cualificaciones (SNC) y otras fuentes de informaci&#243;n relevantes que puedan aportar en aspectos como 

--Capacitaci&#243;n
--Incentivos de cesant&#237;as
--Seguimiento
--Verificaci&#243;n de requisitos

Adicionalmente, la plataforma tendr&#225; herramientas que permiten centralizar y procesar informaci&#243;n de volumen para generar reportes, an&#225;lisis y visualizaciones que informen la pol&#237;tica de empleo y migraci&#243;n. 

Finalmente, este nuevo servicio de informaci&#243;n permitir&#225; consolidar unaesta plataforma tecnol&#243;gica que facilitefacilitar&#225; el seguimiento a los usuarios de los servicios ofrecidos por el Sector Trabajo y el an&#225;lisis de los resultados de pol&#237;tica que permitan orientar la toma de decisiones del Ministerio Trabajo en t&#233;rminos de la pol&#237;tica de empleo, de formaci&#243;n para el trabajo y migraci&#243;n laboral. Asimismo, se contempla la creaci&#243;n de capacidades (capacitaciones, acompa&#241;amiento y dem&#225;s actividades que aseguren el uso y apropiaci&#243;n de la herramienta por parte a los funcionarios del sector trabajoministerio), involucrados en la administraci&#243;n, soporte y operaci&#243;n de los diferentes sistemas de informaci&#243;n y, la realizaci&#243;n de definiciones en relaci&#243;n con la gobernanza de los datos del sistema, la seguridad y la &#233;tica de acceso y procesamiento de la informaci&#243;n.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element"> GRP. Applicaciones del Programa </a> </td>
											    <td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
													    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
													    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html" target="view"> APP2. SGE </a> </td>
															    <td> <a href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
													    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html" target="view"> APP2. SGE </a> </td>
															    <td> <a href="../views/id-714214ff-c925-4446-b605-5fc60046e263.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
											<tr>
											    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
											    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62942782-4f70-4491-90f6-c62a4d217950.html" target="element"> RQ01. Brindar informaci&#243;n de ocupaciones, oferta y competencias </a> </td>
											    <td> <a href="../elements/62942782-4f70-4491-90f6-c62a4d217950.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a224bae-1f46-4311-ae9e-0899f64802f7.html" target="element"> RQ02. Proveer informaci&#243;n de procesos de talento humano </a> </td>
											    <td> <a href="../elements/2a224bae-1f46-4311-ae9e-0899f64802f7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/20a241b4-e84f-473c-bad6-b02927a2fa64.html" target="element"> RQ03. Brindar informaci&#243;n del CUOC y oferta de programas </a> </td>
											    <td> <a href="../elements/20a241b4-e84f-473c-bad6-b02927a2fa64.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8e505d1-128f-4e8b-a28d-d666665db840.html" target="element"> RQ04. Dar informaci&#243;n de acreditaci&#243;n de calidad educativa </a> </td>
											    <td> <a href="../elements/c8e505d1-128f-4e8b-a28d-d666665db840.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a13fd8c1-8e0e-4622-bfb8-5298ec8c9f1e.html" target="element"> RQ05. Brindar informaci&#243;n de procesos de certificaci&#243;n </a> </td>
											    <td> <a href="../elements/a13fd8c1-8e0e-4622-bfb8-5298ec8c9f1e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f7ea8b0-a922-41a8-84bf-af4dc8d3701a.html" target="element"> RQ06. Brindar orientaci&#243;n a trayectoras formativas </a> </td>
											    <td> <a href="../elements/5f7ea8b0-a922-41a8-84bf-af4dc8d3701a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbb767f3-a823-4b5a-b7c0-e2a92de4d4ee.html" target="element"> RQ07.  Brindar informaci&#243;n a proveedores de formaci&#243;n </a> </td>
											    <td> <a href="../elements/cbb767f3-a823-4b5a-b7c0-e2a92de4d4ee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3002497d-2d8b-49fc-a3b9-b57c2078a656.html" target="element"> RQ08. Proveer informaci&#243;n para identificaci&#243;n de brechas de calidad formaci&#243;n </a> </td>
											    <td> <a href="../elements/3002497d-2d8b-49fc-a3b9-b57c2078a656.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element"> APP. CONACES </a> </td>
											    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
											    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element"> APP5. Web SNC </a> </td>
											    <td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/fb7330ed-97bf-481c-9498-f4ef0f093246.html" target="element">  </a> </td>
									           <td> <a href="../objects/fb7330ed-97bf-481c-9498-f4ef0f093246.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e98e3c9a-7222-4638-a0ad-5ff1e88b6835.html" target="element"> GRP00. Otras Fuentes de Datos </a> </td>
											    <td> <a href="../elements/e98e3c9a-7222-4638-a0ad-5ff1e88b6835.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f81e25e1-682d-4487-a7ea-c2c522114202.html" target="element"> APP6. Empleo Sin Fronteras </a> </td>
											    <td> <a href="../elements/f81e25e1-682d-4487-a7ea-c2c522114202.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a46b0b61-1e94-448a-b0d9-6735a101024a.html" target="element"> APP7. Perfilamiento </a> </td>
											    <td> <a href="../elements/a46b0b61-1e94-448a-b0d9-6735a101024a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> APP. PILA </a> </td>
											    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element"> APP. SEN </a> </td>
											    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> APP. SIMPC </a> </td>
											    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-74755237-a3b1-4b4d-8148-a5af3f8502ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74755237-a3b1-4b4d-8148-a5af3f8502ce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element"> GRP. Applicaciones del Programa </a> </td>
																		<td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1410e406-8a95-4062-88d0-b03123df715f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1410e406-8a95-4062-88d0-b03123df715f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element"> GRP. Applicaciones del Programa </a> </td>
																		<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f961ade7-4c8c-42b8-9ab1-ad289da62bb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f961ade7-4c8c-42b8-9ab1-ad289da62bb6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element"> GRP. Applicaciones del Programa </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ce4c1c17-8b5b-4405-9b84-9f212c2e8d0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce4c1c17-8b5b-4405-9b84-9f212c2e8d0e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
																				<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2608b06f-dfb3-4c49-89df-424024aa9e83.html" target="element">  </a> </td>
																				<td> <a href="../elements/2608b06f-dfb3-4c49-89df-424024aa9e83.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/62942782-4f70-4491-90f6-c62a4d217950.html" target="element"> RQ01. Brindar informaci&#243;n de ocupaciones, oferta y competencias </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/96405e59-7e02-4626-83f8-45a7d32488fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/96405e59-7e02-4626-83f8-45a7d32488fe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/20a241b4-e84f-473c-bad6-b02927a2fa64.html" target="element"> RQ03. Brindar informaci&#243;n del CUOC y oferta de programas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dbf72dd6-72ab-43a9-8ea3-c534ba00e7ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/dbf72dd6-72ab-43a9-8ea3-c534ba00e7ea.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/2a224bae-1f46-4311-ae9e-0899f64802f7.html" target="element"> RQ02. Proveer informaci&#243;n de procesos de talento humano </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0ab522c7-48e1-4c3f-9641-7a1ed75426a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/0ab522c7-48e1-4c3f-9641-7a1ed75426a0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/c8e505d1-128f-4e8b-a28d-d666665db840.html" target="element"> RQ04. Dar informaci&#243;n de acreditaci&#243;n de calidad educativa </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/416b1f1d-8384-4e71-a7af-e02209a1e1de.html" target="element">  </a> </td>
																				<td> <a href="../elements/416b1f1d-8384-4e71-a7af-e02209a1e1de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/a13fd8c1-8e0e-4622-bfb8-5298ec8c9f1e.html" target="element"> RQ05. Brindar informaci&#243;n de procesos de certificaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/59a96e5e-e0c9-4993-979e-7ed4060a5c56.html" target="element">  </a> </td>
																				<td> <a href="../elements/59a96e5e-e0c9-4993-979e-7ed4060a5c56.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/cbb767f3-a823-4b5a-b7c0-e2a92de4d4ee.html" target="element"> RQ07.  Brindar informaci&#243;n a proveedores de formaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3590561f-dabc-41a0-9171-4474e3a66ded.html" target="element">  </a> </td>
																				<td> <a href="../elements/3590561f-dabc-41a0-9171-4474e3a66ded.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/3002497d-2d8b-49fc-a3b9-b57c2078a656.html" target="element"> RQ08. Proveer informaci&#243;n para identificaci&#243;n de brechas de calidad formaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6b065703-c77d-4b69-8351-365145e33037.html" target="element">  </a> </td>
																				<td> <a href="../elements/6b065703-c77d-4b69-8351-365145e33037.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																				<td> <a href="../elements/5f7ea8b0-a922-41a8-84bf-af4dc8d3701a.html" target="element"> RQ06. Brindar orientaci&#243;n a trayectoras formativas </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											
																	<tr>
																		<td> <a href="../elements/id-8a9bc039-41d4-4231-893c-b4c35af7dfa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a9bc039-41d4-4231-893c-b4c35af7dfa3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
																		<td> <a href="../elements/id-060d72ba-f77a-408a-8fb0-2c3f156a946e.html" target="element"> GRP. Applicaciones del Programa </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24892aba-31c7-49bc-a561-085b27314961.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24892aba-31c7-49bc-a561-085b27314961.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/77bbde92-bab2-4c61-8140-1750803be0f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/77bbde92-bab2-4c61-8140-1750803be0f7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/178277be-1f83-4e1e-8c63-e41bfa959481.html" target="element"> APP5. Web SNC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a8d5554c-86bd-4bdf-8026-37f029a8aebc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8d5554c-86bd-4bdf-8026-37f029a8aebc.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e98e3c9a-7222-4638-a0ad-5ff1e88b6835.html" target="element"> GRP00. Otras Fuentes de Datos </a> </td>
																		<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/99014116-2fcc-4620-9add-9949bf5ba36f.html" target="element">  </a> </td>
																		<td> <a href="../elements/99014116-2fcc-4620-9add-9949bf5ba36f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> APP. PILA </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7f907728-c538-4dc5-924e-f4c72be7ce0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f907728-c538-4dc5-924e-f4c72be7ce0b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> APP. SIMPC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>