<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. API -Datos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. API -Datos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2475fdf0-4605-417f-814e-eda1080b9eb8.png" alt="APP. SNC. API -Datos" usemap="#id-2475fdf0-4605-417f-814e-eda1080b9eb8map"/>
			   <map name="id-2475fdf0-4605-417f-814e-eda1080b9eb8map">
				  		<area shape="rect" coords="298,598,443,653" href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html"  target="element">
				          <area shape="rect" coords="10,10,239,142" href="../objects/66978946-930b-4383-a464-1249a83091de.html" target="element" >
				  		<area shape="rect" coords="994,958,1114,1013" href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html"  target="element">
				  		<area shape="rect" coords="1126,898,1246,953" href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html"  target="element">
				  		<area shape="rect" coords="994,754,1114,809" href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html"  target="element">
				  		<area shape="rect" coords="994,898,1114,953" href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html"  target="element">
				  		<area shape="rect" coords="1126,634,1246,689" href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html"  target="element">
				  		<area shape="rect" coords="1126,562,1246,617" href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html"  target="element">
				  		<area shape="rect" coords="994,634,1114,689" href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html"  target="element">
				  		<area shape="rect" coords="994,562,1114,617" href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html"  target="element">
				  		<area shape="rect" coords="994,398,1114,453" href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html"  target="element">
				  		<area shape="rect" coords="994,466,1114,521" href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html"  target="element">
				  		<area shape="rect" coords="10,490,130,545" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
				  		<area shape="rect" coords="298,490,443,545" href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html"  target="element">
				  		<area shape="rect" coords="598,490,743,545" href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html"  target="element">
				  		<area shape="rect" coords="598,398,743,453" href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html"  target="element">
				  		<area shape="rect" coords="298,398,443,453" href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html"  target="element">
				  		<area shape="rect" coords="598,298,743,353" href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html"  target="element">
				  		<area shape="rect" coords="598,598,743,653" href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html"  target="element">
				  		<area shape="rect" coords="298,298,443,353" href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html"  target="element">
				  		<area shape="rect" coords="598,210,743,265" href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html"  target="element">
				  		<area shape="rect" coords="448,210,593,265" href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html"  target="element">
				  		<area shape="rect" coords="298,210,443,265" href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html"  target="element">
				  		<area shape="rect" coords="598,110,743,165" href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html"  target="element">
				  		<area shape="rect" coords="448,110,593,165" href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html"  target="element">
				  		<area shape="rect" coords="298,110,443,165" href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html"  target="element">
				  		<area shape="rect" coords="598,10,743,65" href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html"  target="element">
				  		<area shape="rect" coords="448,10,593,65" href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html"  target="element">
				  		<area shape="rect" coords="298,10,443,65" href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El Mapa de API de la Plataforma de Informaci&#243;n del SNC.  Presenta operaciones de consulta de informaci&#243;n y acceso a  servicios de gesti&#243;n de informaci&#243;n dirigidos a los grupos de inter&#233;s. 
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
											    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td>
											    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td>
											    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
											    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
											    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td>
											    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
											    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element"> API12. Esquema de movilidad educativa y formativa </a> </td>
											    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
											    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
											    <td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
											    <td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
											    <td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element"> DO18. Perfil Ocupacional </a> </td>
											    <td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element"> DO19. Ocupaciones del Mercado </a> </td>
											    <td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element"> DO21. Oferta Educaci&#243;n Superior </a> </td>
											    <td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element"> DO23. Oferta de Certificaci&#243;n de Competencias Laborales </a> </td>
											    <td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element"> DO21. Oferta Educaci&#243;n Superior (copy) (copy) </a> </td>
											    <td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element"> DO24. Acreditaci&#243;n de Alta Calidad </a> </td>
											    <td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element"> DO25. Comparativas de Movilidad. </a> </td>
											    <td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element"> DO26. Requisitos para Normalizaci&#243;n de Competencias. </a> </td>
											    <td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element"> DO27. V&#237;as de Cualificaci&#243;n </a> </td>
											    <td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/66978946-930b-4383-a464-1249a83091de.html" target="element">  </a> </td>
									           <td> <a href="../objects/66978946-930b-4383-a464-1249a83091de.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html" target="element"> API16. Gesti&#243;n de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/9271dbe6-94ca-4cd2-8114-65ce875167f8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element"> DO17. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/f2840585-596e-4518-8f72-fbaef52a2d48.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones CUOC </a> </td>
																		<td> <a href="../elements/5d130edc-0126-427b-8c86-26a9c510a21d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0d7a553-0dd5-479b-b5f3-83a73f214791.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0d7a553-0dd5-479b-b5f3-83a73f214791.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a086e8ec-fb71-45c5-b9a0-14ea6d189465.html" target="element">  </a> </td>
																		<td> <a href="../elements/a086e8ec-fb71-45c5-b9a0-14ea6d189465.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element"> DO16. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																		<td> <a href="../elements/94e690f1-e623-464b-b3f0-8282f872498c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6e728565-2297-400a-8c79-094717d5a6c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e728565-2297-400a-8c79-094717d5a6c6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a94b71e-673e-49c4-a651-7a4220db09ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a94b71e-673e-49c4-a651-7a4220db09ec.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/6f24c31e-3934-4a59-902d-5705f004bef0.html" target="element"> DO18. Perfil Ocupacional </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3df4b0f7-fbe4-4c26-8c4f-46d09da10e8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3df4b0f7-fbe4-4c26-8c4f-46d09da10e8b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0c2c28bc-5839-4895-9fd6-3d4644d6cc15.html" target="element"> API13. Consultas Mercado Laboral </a> </td>
																		<td> <a href="../elements/34f2b9d9-f0d8-49dd-af45-1c49110f950d.html" target="element"> DO19. Ocupaciones del Mercado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ad704838-38fa-4bca-9794-d7aae0ad64c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad704838-38fa-4bca-9794-d7aae0ad64c4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/f482c65b-5408-49fe-a4fd-78f848550d14.html" target="element"> DO21. Oferta Educaci&#243;n Superior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc7246d1-2caf-4a6c-b35c-b3f87046b4cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc7246d1-2caf-4a6c-b35c-b3f87046b4cc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/34c25059-c5fa-41df-be66-0b2b475dcfd2.html" target="element"> DO21. Oferta Educaci&#243;n Superior (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcd1dbca-5cb1-4699-94a6-d1c6f741e39e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcd1dbca-5cb1-4699-94a6-d1c6f741e39e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/72b60f89-e2ad-4f8d-bebc-ba54c099f38f.html" target="element"> DO24. Acreditaci&#243;n de Alta Calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0bbc670-552a-453c-b28a-1336a99f17ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0bbc670-552a-453c-b28a-1336a99f17ee.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c4f45e61-025c-42da-8c59-dc01340bc0cb.html" target="element"> API14. Consultas Formaci&#243;n, Educaci&#243;n y Reconocimiento Aprendizajes Previos </a> </td>
																		<td> <a href="../elements/676182d3-14b8-4472-8ceb-b247cfa9cc22.html" target="element"> DO23. Oferta de Certificaci&#243;n de Competencias Laborales </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb9efec4-00e0-4ebb-989c-938e3e2eaf30.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb9efec4-00e0-4ebb-989c-938e3e2eaf30.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																		<td> <a href="../elements/ec635a35-937c-4439-9f6c-dc543a504315.html" target="element"> DO25. Comparativas de Movilidad. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66d702ce-7622-4275-9c63-bcf6d60d2d53.html" target="element">  </a> </td>
																		<td> <a href="../elements/66d702ce-7622-4275-9c63-bcf6d60d2d53.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																		<td> <a href="../elements/c4f6159c-fe14-4d78-bf51-09d65e0c7cdc.html" target="element"> DO26. Requisitos para Normalizaci&#243;n de Competencias. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc703e10-44ec-43d3-8dc0-444bbc69d6dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc703e10-44ec-43d3-8dc0-444bbc69d6dd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/076be6d2-a4bf-4cae-a549-36e620fa7046.html" target="element"> API15. Consultas SNC </a> </td>
																		<td> <a href="../elements/528a0868-e371-412e-9ab5-60ef9cf501d3.html" target="element"> DO27. V&#237;as de Cualificaci&#243;n </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>