<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Colaboración</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Colaboraci&#243;n</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/id-3c8f85ec-a734-4885-b13b-667379543f63.png" alt="Colaboración" usemap="#id-3c8f85ec-a734-4885-b13b-667379543f63map">
			<map name="id-3c8f85ec-a734-4885-b13b-667379543f63map">
								<area shape="rect" coords="90,78,210,133" href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html"  target="element">
								<area shape="rect" coords="91,155,211,210" href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html"  target="element">
								<area shape="rect" coords="250,78,370,133" href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html"  target="element">
								<area shape="rect" coords="406,154,526,209" href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html"  target="element">
								<area shape="rect" coords="250,155,370,210" href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html"  target="element">

						<area shape="rect" coords="10,10,599,239" href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html"  target="element">
						<area shape="rect" coords="250,334,370,389" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
								<area shape="rect" coords="226,622,387,677" href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html"  target="element">
								<area shape="rect" coords="400,499,561,554" href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html"  target="element">
								<area shape="rect" coords="49,622,210,677" href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html"  target="element">
								<area shape="rect" coords="400,622,561,677" href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html"  target="element">
								<area shape="rect" coords="226,562,387,617" href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html"  target="element">
								<area shape="rect" coords="49,499,210,554" href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html"  target="element">
								<area shape="rect" coords="226,499,387,554" href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html"  target="element">
								<area shape="rect" coords="400,562,561,617" href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html"  target="element">
								<area shape="rect" coords="49,562,210,617" href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html"  target="element">

						<area shape="rect" coords="11,454,599,718" href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html"  target="element">
						<area shape="rect" coords="418,334,538,389" href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La implementaci&#243;n del Sistema de Informaci&#243;n para la gesti&#243;n del empleo y la productividad como herramienta tecnol&#243;gica de informaci&#243;n debe integrar, interoperar, coordinar y focalizar los instrumentos de pol&#237;ticas activas y pasivas de empleo para el seguimiento y an&#225;lisis de las estrategias de inserci&#243;n laboral y la efectividad de los recursos destinados a la pol&#237;tica de empleo, a trav&#233;s de la articulaci&#243;n del sistema del Servicio P&#250;blico de Empleo, la planilla integrada de liquidaci&#243;n de aportes (PILA), el sistema de seguimiento del mecanismo de protecci&#243;n al cesante (SIMPC), del sistema nacional de cualificaciones (SNC).

La plataforma tendr&#225; la capacidad de registrar, almacenar, administrar, procesar, actualizar y generar reportes sobre la demanda de cualificaciones y la oferta de formaci&#243;n para el trabajo, a partir de los siguientes elementos:

Informaci&#243;n de demanda laboral relacionada con las ocupaciones y sus descriptores, es decir, funciones, conocimientos y destrezas (competencias t&#233;cnicas), competencias transversales y n&#250;mero de vacantes asociadas a cada una de las ocupaciones, informaci&#243;n de nivel educativo requerido y programas educativos y formativos asociados, experiencia laboral requerida, informaci&#243;n de las competencias m&#225;s demandadas, entre otras.  Se publicar&#225;n resultados de an&#225;lisis con datos administrativos (por ejemplo, vacantes del SPE) o procesos consultivos con empresarios (por ejemplo, ejercicios de prospectiva y mesas sectoriales).

Informaci&#243;n de oferta laboral a partir de las hojas de vida registradas en el Servicio P&#250;blico de Empleo, de donde s&#243;lo se extrae informaci&#243;n de experiencia laboral, formaci&#243;n y perfil laboral de la persona.

Informaci&#243;n de oferta educativa y formativa cuantitativa y cualitativa de todos los programas de educaci&#243;n superior (t&#233;cnicos profesionales, tecn&#243;logos, pregrado universitario, especializaci&#243;n universitaria y especializaci&#243;n tecnol&#243;gica) y los programas de Educaci&#243;n para el Trabajo y el Desarrollo Humano &#8211; ETDH (t&#233;cnicos laborales).  En lo que respecta a informaci&#243;n sobre la oferta de ETDH, se describir&#225;n programas y centros y, seg&#250;n la disponibilidad, resultados en empleabilidad y calidad de aprendizaje. Se incorporar&#225; un enfoque de g&#233;nero, para diseminar los resultados de empleabilidad de mujeres que ingresan a programas de ETDH altamente masculinizados, como beneficios adicionales que se describen m&#225;s adelante.
Informaci&#243;n de brechas de capital humano en t&#233;rminos de brechas de cantidad, brechas de pertinencia, brechas de calidad, brechas de perfilamiento y brechas de competencias.

Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias (componente del SNC): instancias evaluadoras y certificadoras, n&#250;mero de personas evaluadas, tipos de certificaciones, n&#250;mero de personas certificadas por tipo de certificaci&#243;n (caracterizadas por sector y caracter&#237;sticas de la poblaci&#243;n como edad, sexo, escolaridad, entre otros).

Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH (componente del SNC): certificados de acreditaci&#243;n, instituciones acreditadas, actos administrativos de aprobaci&#243;n, habilitaci&#243;n o negaci&#243;n.

Informaci&#243;n del componente de normalizaci&#243;n de competencias (componente del SNC): normas de competencia laboral, instancias normalizadoras, mapas funcionales, entre otros.

Informaci&#243;n del componente del Marco Nacional de Cualificaciones: cat&#225;logos de cualificaciones de las diferentes &#225;reas de cualificaci&#243;n.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html" target="element"> Gesti&#243;n Empleo y Productividad </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
													<tr><td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> PILA </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> SIMPC </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html" target="element"> Otras fuentes (sistemas) </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
													<tr><td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											
											<tr><td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
											<tr><td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>
													<tr><td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
													<tr><td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
											
											<tr><td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. Gesti&#243;n </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-24892aba-31c7-49bc-a561-085b27314961.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24892aba-31c7-49bc-a561-085b27314961.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html" target="element"> Gesti&#243;n Empleo y Productividad </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-816449d7-a5b5-4bc1-8fc9-1059f59672e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-816449d7-a5b5-4bc1-8fc9-1059f59672e8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html" target="element"> Otras fuentes (sistemas) </a> </td>
																				<td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9444b987-6b2c-43e5-8044-dca6b8b9b4d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9444b987-6b2c-43e5-8044-dca6b8b9b4d0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-477abc90-197b-4e18-8c43-00eeff6cca66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-477abc90-197b-4e18-8c43-00eeff6cca66.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-83776054-5519-4239-970b-1bd5a461acd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83776054-5519-4239-970b-1bd5a461acd8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3d82eda-edd0-41a3-b97f-229300bdd7f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3d82eda-edd0-41a3-b97f-229300bdd7f9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e661cb4-9b7e-438b-a719-b92ad7d500ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e661cb4-9b7e-438b-a719-b92ad7d500ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e19a1da-7efe-46dd-b01c-a248b1d84184.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e19a1da-7efe-46dd-b01c-a248b1d84184.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94152af0-21d0-4a41-9544-97fa29c61d2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94152af0-21d0-4a41-9544-97fa29c61d2e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41f432bf-faf4-4e48-98df-e6da3948bdfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41f432bf-faf4-4e48-98df-e6da3948bdfe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-261b21a8-f959-454a-957a-ba2bc30ccc54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-261b21a8-f959-454a-957a-ba2bc30ccc54.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88a59698-1406-4d74-8217-78bd232f0cef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88a59698-1406-4d74-8217-78bd232f0cef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-88ba3294-eae0-46ff-9c0c-e678f0525724.html" target="element"> Proveedores de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>