<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. API -Colaboración.1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. API -Colaboraci&#243;n.1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3c8f85ec-a734-4885-b13b-667379543f63.png" alt="APP. SNC. API -Colaboración.1" usemap="#id-3c8f85ec-a734-4885-b13b-667379543f63map"/>
			   <map name="id-3c8f85ec-a734-4885-b13b-667379543f63map">
				  				<area shape="rect" coords="250,646,411,701" href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html"  target="element">
				  				<area shape="rect" coords="73,646,234,701" href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html"  target="element">
				  				<area shape="rect" coords="73,706,234,761" href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html"  target="element">
				  				<area shape="rect" coords="250,706,411,761" href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html"  target="element">
				  				<area shape="rect" coords="424,706,585,761" href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html"  target="element">
				  				<area shape="rect" coords="424,646,585,701" href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html"  target="element">
				  				<area shape="rect" coords="424,586,585,641" href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html"  target="element">
				  				<area shape="rect" coords="250,586,411,641" href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html"  target="element">
				  				<area shape="rect" coords="73,586,234,641" href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html"  target="element">
				  				<area shape="rect" coords="599,523,760,578" href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html"  target="element">
				  				<area shape="rect" coords="424,523,585,578" href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html"  target="element">
				  				<area shape="rect" coords="250,523,411,578" href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html"  target="element">
				  				<area shape="rect" coords="73,523,234,578" href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html"  target="element">

				  		<area shape="rect" coords="10,478,874,790" href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html"  target="element">
				          <area shape="rect" coords="10,10,299,310" href="../objects/48764eaa-addb-4588-b7fe-8b9fd2561ad3.html" target="element" >
				  		<area shape="rect" coords="694,334,814,389" href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html"  target="element">
				  		<area shape="rect" coords="526,334,646,389" href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html"  target="element">
				  				<area shape="rect" coords="526,46,646,101" href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html"  target="element">
				  				<area shape="rect" coords="682,106,802,161" href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html"  target="element">
				  				<area shape="rect" coords="682,46,802,101" href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html"  target="element">
				  				<area shape="rect" coords="526,167,646,222" href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html"  target="element">
				  				<area shape="rect" coords="682,166,802,221" href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html"  target="element">
				  				<area shape="rect" coords="526,106,646,161" href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html"  target="element">
				  				<area shape="rect" coords="367,167,487,222" href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html"  target="element">
				  				<area shape="rect" coords="366,106,486,161" href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html"  target="element">

				  		<area shape="rect" coords="310,10,875,263" href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La implementaci&#243;n del Sistema de Informaci&#243;n para la gesti&#243;n del empleo y la productividad como herramienta tecnol&#243;gica de informaci&#243;n debe integrar, interoperar, coordinar y focalizar los instrumentos de pol&#237;ticas activas y pasivas de empleo para el seguimiento y an&#225;lisis de las estrategias de inserci&#243;n laboral y la efectividad de los recursos destinados a la pol&#237;tica de empleo, a trav&#233;s de la articulaci&#243;n del sistema del Servicio P&#250;blico de Empleo, la planilla integrada de liquidaci&#243;n de aportes (PILA), el sistema de seguimiento del mecanismo de protecci&#243;n al cesante (SIMPC), del sistema nacional de cualificaciones (SNC).

La plataforma tendr&#225; la capacidad de registrar, almacenar, administrar, procesar, actualizar y generar reportes sobre la demanda de cualificaciones y la oferta de formaci&#243;n para el trabajo, a partir de los siguientes elementos:

Informaci&#243;n de demanda laboral relacionada con las ocupaciones y sus descriptores, es decir, funciones, conocimientos y destrezas (competencias t&#233;cnicas), competencias transversales y n&#250;mero de vacantes asociadas a cada una de las ocupaciones, informaci&#243;n de nivel educativo requerido y programas educativos y formativos asociados, experiencia laboral requerida, informaci&#243;n de las competencias m&#225;s demandadas, entre otras.  Se publicar&#225;n resultados de an&#225;lisis con datos administrativos (por ejemplo, vacantes del SPE) o procesos consultivos con empresarios (por ejemplo, ejercicios de prospectiva y mesas sectoriales).

Informaci&#243;n de oferta laboral a partir de las hojas de vida registradas en el Servicio P&#250;blico de Empleo, de donde s&#243;lo se extrae informaci&#243;n de experiencia laboral, formaci&#243;n y perfil laboral de la persona.

Informaci&#243;n de oferta educativa y formativa cuantitativa y cualitativa de todos los programas de educaci&#243;n superior (t&#233;cnicos profesionales, tecn&#243;logos, pregrado universitario, especializaci&#243;n universitaria y especializaci&#243;n tecnol&#243;gica) y los programas de Educaci&#243;n para el Trabajo y el Desarrollo Humano &#8211; ETDH (t&#233;cnicos laborales).  En lo que respecta a informaci&#243;n sobre la oferta de ETDH, se describir&#225;n programas y centros y, seg&#250;n la disponibilidad, resultados en empleabilidad y calidad de aprendizaje. Se incorporar&#225; un enfoque de g&#233;nero, para diseminar los resultados de empleabilidad de mujeres que ingresan a programas de ETDH altamente masculinizados, como beneficios adicionales que se describen m&#225;s adelante.
Informaci&#243;n de brechas de capital humano en t&#233;rminos de brechas de cantidad, brechas de pertinencia, brechas de calidad, brechas de perfilamiento y brechas de competencias.

Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias (componente del SNC): instancias evaluadoras y certificadoras, n&#250;mero de personas evaluadas, tipos de certificaciones, n&#250;mero de personas certificadas por tipo de certificaci&#243;n (caracterizadas por sector y caracter&#237;sticas de la poblaci&#243;n como edad, sexo, escolaridad, entre otros).

Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH (componente del SNC): certificados de acreditaci&#243;n, instituciones acreditadas, actos administrativos de aprobaci&#243;n, habilitaci&#243;n o negaci&#243;n.

Informaci&#243;n del componente de normalizaci&#243;n de competencias (componente del SNC): normas de competencia laboral, instancias normalizadoras, mapas funcionales, entre otros.

Informaci&#243;n del componente del Marco Nacional de Cualificaciones: cat&#225;logos de cualificaciones de las diferentes &#225;reas de cualificaci&#243;n.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html" target="element"> GRP. Gesti&#243;n Empleo y Productividad </a> </td>
											    <td> <a href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element"> APP. PILA </a> </td>
													    <td> <a href="../elements/id-64a726f8-5978-412a-8a14-03c1fab76439.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element"> APP1. SPE </a> </td>
													    <td> <a href="../elements/id-40a56c7e-f90a-466c-a97b-b9296cd98cf6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element"> APP. SIMPC </a> </td>
													    <td> <a href="../elements/id-cab3ccbb-f93d-4eb4-94ff-d439f568e1b3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html" target="element"> Otras fuentes (sistemas) </a> </td>
													    <td> <a href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
													    <td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element"> APP. SEN </a> </td>
													    <td> <a href="../elements/id-5f82ef51-97e3-45e7-97e1-b04e7deb82b1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element"> APP. CUOC </a> </td>
													    <td> <a href="../elements/id-01765bbf-be50-48f0-8ca3-8919222e3aa5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element"> APP. CONACES </a> </td>
													    <td> <a href="../elements/521e31e2-7ca5-4076-9570-3e303233f47d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
											    <td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
											    <td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/48764eaa-addb-4588-b7fe-8b9fd2561ad3.html" target="element">  </a> </td>
									           <td> <a href="../objects/48764eaa-addb-4588-b7fe-8b9fd2561ad3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
											    <td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
													    <td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
													    <td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td>
													    <td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element"> API12. Esquema de movilidad educativa y formativa </a> </td>
													    <td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
													    <td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
													    <td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td>
													    <td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td>
													    <td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
													    <td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
													    <td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
													    <td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td>
													    <td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td>
													    <td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/16879115-ad05-4349-953a-e18add1682e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/16879115-ad05-4349-953a-e18add1682e2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-7cd68bd9-fe5b-4b89-9553-1794642bafff.html" target="element"> GRP. Gesti&#243;n Empleo y Productividad </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-816449d7-a5b5-4bc1-8fc9-1059f59672e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-816449d7-a5b5-4bc1-8fc9-1059f59672e8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-802dfc0a-c6b0-470d-8fe1-eea64523e869.html" target="element"> Otras fuentes (sistemas) </a> </td>
																				<td> <a href="../elements/id-55e498e3-c59b-4b1a-8e81-718b98732c4e.html" target="element"> APP4. CIE </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element"> SNC. Datos de trabajo para gesti&#243;n  </a> </td>
																		<td> <a href="../elements/id-4e1aaf81-6a00-438c-8d1c-7251c4fb4f40.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																		<td> <a href="../elements/id-93ef34ca-4ab3-4d52-90f3-841a15e28af0.html" target="element"> APP2. SGE </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/3db3d0ca-3ca2-4912-b3d3-3e79e0a0b1f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/3db3d0ca-3ca2-4912-b3d3-3e79e0a0b1f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-4f7ae5ff-7fff-4921-9e95-a97fd795e76d.html" target="element"> API1. Informaci&#243;n de demanda laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/30f96696-a577-4f8b-ac30-5a3cb2fa57ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/30f96696-a577-4f8b-ac30-5a3cb2fa57ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-b33ff159-2329-4fa2-8406-d1f85bd998f0.html" target="element"> API5. Informaci&#243;n de brechas de capital humano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2277123a-bf65-45fb-ba34-287b4e8cb9c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/2277123a-bf65-45fb-ba34-287b4e8cb9c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-2354a493-b807-4377-a98c-d75d38166e9f.html" target="element"> API6. Informaci&#243;n del componente de acreditaci&#243;n y calidad de las ETDH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6ece1af1-2242-46d9-bc2b-0558b4f40de6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ece1af1-2242-46d9-bc2b-0558b4f40de6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/58b59c3a-4b1b-4896-9d44-28ff1a4c6f49.html" target="element"> API12. Esquema de movilidad educativa y formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21739a42-5889-4906-ba4d-9c943c469e5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/21739a42-5889-4906-ba4d-9c943c469e5b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-de2b291e-8721-43c2-8bf3-46d12034ab6e.html" target="element"> API4. Informaci&#243;n de oferta laboral a partir de H.V. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3567b77c-042b-4a08-a515-53f4b3aabb2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/3567b77c-042b-4a08-a515-53f4b3aabb2f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-a6c977bf-f571-4fa0-b0dd-c4dcd3744403.html" target="element"> API3. Informaci&#243;n del componente de evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32fba53d-84c9-4984-9cf9-14e2c8ea6434.html" target="element">  </a> </td>
																		<td> <a href="../elements/32fba53d-84c9-4984-9cf9-14e2c8ea6434.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-76e8a8f4-12cf-4ac0-9d2a-1cc5cd5c4c95.html" target="element"> API7. Informaci&#243;n del componente de normalizaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e9ff82b-8d9d-495a-a4b0-60d0d12b28fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e9ff82b-8d9d-495a-a4b0-60d0d12b28fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-761e9a24-9350-4de3-a864-e2cad4e21eaa.html" target="element"> API8. Informaci&#243;n del componente del Marco Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7251ca26-a40d-438b-aa0f-6dd73f462090.html" target="element">  </a> </td>
																		<td> <a href="../elements/7251ca26-a40d-438b-aa0f-6dd73f462090.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-82602794-e52a-47f4-a6d4-ee43aff7bc1c.html" target="element"> API11. Cat&#225;logo Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fdf75f5e-6360-4bef-bdff-f4d29d945c27.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdf75f5e-6360-4bef-bdff-f4d29d945c27.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-4929b266-aa6a-4fb9-bad1-8394b76981d8.html" target="element"> API10. Matriz de descriptores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4eee12c5-d947-4ef2-9ae0-b0da8cb72b11.html" target="element">  </a> </td>
																		<td> <a href="../elements/4eee12c5-d947-4ef2-9ae0-b0da8cb72b11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-cc4cd3c7-6e2c-44f7-b90f-22cd81ecd9a8.html" target="element"> API9. Ficha de Cualificaci&#243;n (CUOC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99fd1c8e-f1af-4dd1-bd59-234c43284002.html" target="element">  </a> </td>
																		<td> <a href="../elements/99fd1c8e-f1af-4dd1-bd59-234c43284002.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-cc54de94-e001-42f6-9d4f-528146acafc0.html" target="element"> API2. Informaci&#243;n de oferta educativa y formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/69e9419e-7288-4ed6-b811-da7bc39f618d.html" target="element">  </a> </td>
																		<td> <a href="../elements/69e9419e-7288-4ed6-b811-da7bc39f618d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-4b0a3e19-7e23-4509-86a5-b4d9bf06c0ef.html" target="element"> API4. Informaci&#243;n de oferta educativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c613194f-ec9b-4012-b3a8-4f2f2e25af6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c613194f-ec9b-4012-b3a8-4f2f2e25af6a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/78d42720-2e6b-40e4-8f2c-5c98979f4ad4.html" target="element"> GRP04. API del SNC </a> </td>
																		<td> <a href="../elements/id-02d3473b-1d15-4e15-914c-c203ba1ae6f4.html" target="element"> APP3. SNC </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>