<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BMM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>BMM</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/id-6d570471-40a8-4dda-83ee-c4ec67441e71.png" alt="BMM" usemap="#id-6d570471-40a8-4dda-83ee-c4ec67441e71map">
			<map name="id-6d570471-40a8-4dda-83ee-c4ec67441e71map">
						<area shape="rect" coords="238,280,430,335" href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html"  target="element">
						<area shape="rect" coords="238,208,430,263" href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html"  target="element">
						<area shape="rect" coords="238,412,430,467" href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html"  target="element">
						<area shape="rect" coords="238,340,430,395" href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html"  target="element">
						<area shape="rect" coords="238,484,430,539" href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html"  target="element">
						<area shape="rect" coords="10,280,155,335" href="../elements/id-ebcc024f-98e9-4e01-b6fb-b69f171e3719.html"  target="element">
						<area shape="rect" coords="10,208,155,263" href="../elements/id-79ce7c3e-3d94-436f-beb6-898e70058543.html"  target="element">
						<area shape="rect" coords="10,412,155,467" href="../elements/id-a5ae5d8d-13ef-49e6-924e-0d82c109430e.html"  target="element">
						<area shape="rect" coords="598,544,748,599" href="../elements/id-8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html"  target="element">
						<area shape="rect" coords="760,544,910,599" href="../elements/id-47a24a51-c69d-4587-828a-b2f049c52373.html"  target="element">
						<area shape="rect" coords="922,544,1072,599" href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html"  target="element">
						<area shape="rect" coords="622,640,772,695" href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html"  target="element">
						<area shape="rect" coords="742,160,892,215" href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html"  target="element">
						<area shape="rect" coords="742,382,892,437" href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html"  target="element">
						<area shape="rect" coords="922,382,1072,437" href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html"  target="element">
						<area shape="rect" coords="742,10,891,77" href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html"  target="element">
						<area shape="rect" coords="238,16,430,71" href="../elements/id-20f2e460-bb88-4474-be23-907dfc25955c.html"  target="element">
						<area shape="rect" coords="238,76,430,131" href="../elements/id-5a68ee3f-2870-4be3-8e58-4a0abe82c9e1.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El Ministerio del Trabajo, de acuerdo con el Decreto 4108 de 2011, tiene entre sus objetivos la formulaci&#243;n y adopci&#243;n de las pol&#237;ticas, planes generales, programas y proyectos para el trabajo, el respeto por los derechos fundamentales, las garant&#237;as de los trabajadores, el fortalecimiento, promoci&#243;n y protecci&#243;n del trabajo decente.

Al Ministerio le corresponde formular, dirigir y evaluar las pol&#237;ticas y lineamientos de formaci&#243;n para el trabajo, la normalizaci&#243;n y certificaci&#243;n de competencias laborales y su articulaci&#243;n con las pol&#237;ticas de formaci&#243;n del capital humano.  Adicionalmente, de manera particular la Ley 1955 de 2019 del Plan Nacional de Desarrollo 2018-2022 &#8220;Pacto por Colombia, pacto por la equidad&#8221; en el art&#237;culo 194 expresa: 

Cr&#233;ase el Sistema Nacional de Cualificaciones (SNC) como un conjunto de pol&#237;ticas, instrumentos, componentes y procesos necesarios para alinear la educaci&#243;n y formaci&#243;n a las necesidades sociales y productivas del pa&#237;s y que promueve el reconocimiento de aprendizajes, el desarrollo personal y profesional de los ciudadanos, la inserci&#243;n o reinserci&#243;n laboral y el desarrollo productivo del pa&#237;s. Son componentes del SNC: el Marco Nacional de Cualificaciones (MNC), los subsistemas de aseguramiento de la calidad de la educaci&#243;n y la formaci&#243;n, de normalizaci&#243;n de competencias y de evaluaci&#243;n y certificaci&#243;n de competencias, el esquema de movilidad educativa y formativa, as&#237; como la plataforma de informaci&#243;n del SNC.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html" target="element"> EST01. Implementaci&#243;n SPE </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Sistema Informaci&#243;n Gesti&#243;n Empleo y Productividad </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element"> EST04. Implementaci&#243;n Subsistema Aseguramiento Calidad de la Formaci&#243;n </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element"> EST05. Consolidaci&#243;n Lineamientos del Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-ebcc024f-98e9-4e01-b6fb-b69f171e3719.html" target="element"> PL01. Adaptar la oferta demanda de calificaciones </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
											<tr><td> <a href="../elements/id-79ce7c3e-3d94-436f-beb6-898e70058543.html" target="element"> PL02. Adaptarse al cambio </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
											<tr><td> <a href="../elements/id-a5ae5d8d-13ef-49e6-924e-0d82c109430e.html" target="element"> PL03. Anticipar y proporcionar calificaciones </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
											<tr><td> <a href="../elements/id-8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html" target="element"> G01. Dise&#241;ar Subsistema Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-47a24a51-c69d-4587-828a-b2f049c52373.html" target="element"> G02. Normalizaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> G03. Aseguramiento de la Calidad </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> G04. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html" target="element"> GLO. Fortalecer empleo y formaci&#243;n trabajo </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLE1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html" target="element"> (proyecto) Programa para Fortalecer Pol&#237;ticas de Empleo (CO-L1250) </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
											<tr><td> <a href="../elements/id-20f2e460-bb88-4474-be23-907dfc25955c.html" target="element"> Decreto 4108 de 2011 </a> </td><td class="i18n-elementtype-ImplementationEvent"></td></tr>
											<tr><td> <a href="../elements/id-5a68ee3f-2870-4be3-8e58-4a0abe82c9e1.html" target="element"> Ley 1955 de 2019 del PND 2018-2022 </a> </td><td class="i18n-elementtype-ImplementationEvent"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a7d14448-c780-493d-b509-349a4d68adbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7d14448-c780-493d-b509-349a4d68adbe.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-51ccb514-c8f3-4af8-9321-c0fcc0a15eec.html" target="element"> EST01. Implementaci&#243;n SPE </a> </td>
																		<td> <a href="../elements/id-ebcc024f-98e9-4e01-b6fb-b69f171e3719.html" target="element"> PL01. Adaptar la oferta demanda de calificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bab8b07c-4d77-4f25-8f2b-281c2adac89b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bab8b07c-4d77-4f25-8f2b-281c2adac89b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> G04. Plataforma de informaci&#243;n del SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d5545d18-31cd-4dca-8151-bb177afc1c54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5545d18-31cd-4dca-8151-bb177afc1c54.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element"> EST04. Implementaci&#243;n Subsistema Aseguramiento Calidad de la Formaci&#243;n </a> </td>
																		<td> <a href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> G03. Aseguramiento de la Calidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eafe61ad-864e-44a7-a397-d18c0cb5690e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eafe61ad-864e-44a7-a397-d18c0cb5690e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ebcc024f-98e9-4e01-b6fb-b69f171e3719.html" target="element"> PL01. Adaptar la oferta demanda de calificaciones </a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-83a88403-915e-4b80-becb-519392c268a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83a88403-915e-4b80-becb-519392c268a1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-79ce7c3e-3d94-436f-beb6-898e70058543.html" target="element"> PL02. Adaptarse al cambio </a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cd5c171a-6be2-4367-84fa-01600f39ea56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd5c171a-6be2-4367-84fa-01600f39ea56.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a5ae5d8d-13ef-49e6-924e-0d82c109430e.html" target="element"> PL03. Anticipar y proporcionar calificaciones </a> </td>
																		<td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Sistema Informaci&#243;n Gesti&#243;n Empleo y Productividad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b7233074-ba56-42ae-a385-735a490f90d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7233074-ba56-42ae-a385-735a490f90d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html" target="element"> GLO. Fortalecer empleo y formaci&#243;n trabajo </a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86cb0644-8872-4ae9-9765-09c3c661a180.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86cb0644-8872-4ae9-9765-09c3c661a180.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html" target="element"> GLO. Fortalecer empleo y formaci&#243;n trabajo </a> </td>
																		<td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLE1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-35c7dd15-0d0d-4b08-91c6-25671220fc67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35c7dd15-0d0d-4b08-91c6-25671220fc67.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html" target="element"> G01. Dise&#241;ar Subsistema Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4680ea38-b375-4d0e-9e62-723c1e0ae626.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4680ea38-b375-4d0e-9e62-723c1e0ae626.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-47a24a51-c69d-4587-828a-b2f049c52373.html" target="element"> G02. Normalizaci&#243;n de competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-655fc176-071b-42b0-823a-a8d76fd32673.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-655fc176-071b-42b0-823a-a8d76fd32673.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> G03. Aseguramiento de la Calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b119dc3-f32f-45f7-86cd-6c11ddce62f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b119dc3-f32f-45f7-86cd-6c11ddce62f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> G04. Plataforma de informaci&#243;n del SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fe10ed9-c237-49aa-b10e-c1efecff7e6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fe10ed9-c237-49aa-b10e-c1efecff7e6d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element"> EST05. Consolidaci&#243;n Lineamientos del Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c17deaf5-c478-4d67-bf57-42532947f7dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c17deaf5-c478-4d67-bf57-42532947f7dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td>
																		<td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Sistema Informaci&#243;n Gesti&#243;n Empleo y Productividad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bb54367a-abdf-4089-bc38-223041f9744a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb54367a-abdf-4089-bc38-223041f9744a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html" target="element"> (proyecto) Programa para Fortalecer Pol&#237;ticas de Empleo (CO-L1250) </a> </td>
																		<td> <a href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html" target="element"> GLO. Fortalecer empleo y formaci&#243;n trabajo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a11169eb-5ea0-4bb6-8234-f40824b34226.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a11169eb-5ea0-4bb6-8234-f40824b34226.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-20f2e460-bb88-4474-be23-907dfc25955c.html" target="element"> Decreto 4108 de 2011 </a> </td>
																		<td> <a href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html" target="element"> (proyecto) Programa para Fortalecer Pol&#237;ticas de Empleo (CO-L1250) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae6b6236-4ccd-44f5-90ae-7b9ba3e97099.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae6b6236-4ccd-44f5-90ae-7b9ba3e97099.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-5a68ee3f-2870-4be3-8e58-4a0abe82c9e1.html" target="element"> Ley 1955 de 2019 del PND 2018-2022 </a> </td>
																		<td> <a href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html" target="element"> (proyecto) Programa para Fortalecer Pol&#237;ticas de Empleo (CO-L1250) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>