<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. Capacidades</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. Capacidades</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9005bc9546004cdcb7256c76c52bda02.png" alt="APP. SNC. Capacidades" usemap="#id-9005bc9546004cdcb7256c76c52bda02map"/>
			   <map name="id-9005bc9546004cdcb7256c76c52bda02map">
				  		<area shape="rect" coords="22,646,142,701" href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html"  target="element">
				  		<area shape="rect" coords="22,562,142,617" href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html"  target="element">
				  				<area shape="rect" coords="82,370,202,425" href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html"  target="element">
				  				<area shape="rect" coords="82,271,202,326" href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">
				  				<area shape="rect" coords="82,199,202,254" href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html"  target="element">
				  				<area shape="rect" coords="82,55,202,110" href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html"  target="element">
				  				<area shape="rect" coords="82,127,202,182" href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">

				  		<area shape="rect" coords="10,10,287,474" href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html"  target="element">
				  		<area shape="rect" coords="466,430,592,491" href="../elements/id-20666b6de3b1467ead1eb563c73278ba.html"  target="element">
				  		<area shape="rect" coords="466,346,611,419" href="../elements/id-171d8700238b4dd59525ab6e010359f6.html"  target="element">
				  		<area shape="rect" coords="466,286,614,340" href="../elements/id-68279d6bf29544219023ec9950e0a2d3.html"  target="element">
				  		<area shape="rect" coords="466,211,623,272" href="../elements/id-e4a68c5c707e48c594b63bf2dd7fe582.html"  target="element">
				  		<area shape="rect" coords="466,142,586,197" href="../elements/id-6271a0c788a7471e84a218a5042fde24.html"  target="element">
				  		<area shape="rect" coords="466,70,586,125" href="../elements/id-bffcfc7fdcf74f1d82c6a90fe1f39645.html"  target="element">
				  		<area shape="rect" coords="466,10,586,65" href="../elements/id-d510c4e2214447e5969afd13c9f516bf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d510c4e2214447e5969afd13c9f516bf.html" target="element"> ASRV. Informaci&#243;n sobre Demanda laboral </a> </td>
											    <td> <a href="../elements/id-d510c4e2214447e5969afd13c9f516bf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bffcfc7fdcf74f1d82c6a90fe1f39645.html" target="element"> ASRV. Informaci&#243;n sobre Oferta laboral </a> </td>
											    <td> <a href="../elements/id-bffcfc7fdcf74f1d82c6a90fe1f39645.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6271a0c788a7471e84a218a5042fde24.html" target="element"> ASRV. Informaci&#243;n sobre Oferta de formaci&#243;n para el trabajo </a> </td>
											    <td> <a href="../elements/id-6271a0c788a7471e84a218a5042fde24.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4a68c5c707e48c594b63bf2dd7fe582.html" target="element"> ASRV. Informaci&#243;n sobre Oferta educativa y formativa </a> </td>
											    <td> <a href="../elements/id-e4a68c5c707e48c594b63bf2dd7fe582.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68279d6bf29544219023ec9950e0a2d3.html" target="element"> ASRV. Informaci&#243;n sobre brechas de capital humano </a> </td>
											    <td> <a href="../elements/id-68279d6bf29544219023ec9950e0a2d3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-171d8700238b4dd59525ab6e010359f6.html" target="element"> ASRV. Informaci&#243;n sobre evaluaci&#243;n y certificaci&#243;n de competencias </a> </td>
											    <td> <a href="../elements/id-171d8700238b4dd59525ab6e010359f6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20666b6de3b1467ead1eb563c73278ba.html" target="element"> ASRV. Indicadores de resultado y de impacto </a> </td>
											    <td> <a href="../elements/id-20666b6de3b1467ead1eb563c73278ba.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
											    <td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
													    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
													    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
													    <td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
													    <td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
													    <td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td>
											    <td> <a href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td>
											    <td> <a href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8df670e6-72a9-46d9-a052-1ea2a002c8b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8df670e6-72a9-46d9-a052-1ea2a002c8b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c22bf4a1-e71e-4441-bc07-5ba59621b94f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c22bf4a1-e71e-4441-bc07-5ba59621b94f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48610a6e-cc0a-4fb3-8038-e6d6aca84142.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48610a6e-cc0a-4fb3-8038-e6d6aca84142.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-898521c4-9d8b-4010-9aa9-fcbc7e9e60a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-898521c4-9d8b-4010-9aa9-fcbc7e9e60a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d2eb987-9f06-462b-9232-7fad6e8991b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d2eb987-9f06-462b-9232-7fad6e8991b5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>