<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bdba00a0-3caa-4cca-ab0a-d372d6157434.png" alt="APP. SNC" usemap="#id-bdba00a0-3caa-4cca-ab0a-d372d6157434map"/>
			   <map name="id-bdba00a0-3caa-4cca-ab0a-d372d6157434map">
				  		<area shape="rect" coords="394,34,514,89" href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html"  target="element">
				          <area shape="rect" coords="10,10,323,166" href="../objects/id-a02a2ffe-10dd-492f-a76c-990a0abf7bdb.html" target="element" >
				          <area shape="rect" coords="10,430,323,598" href="../objects/id-b51bd0e6-91d3-468e-8442-fa2485b9d01c.html" target="element" >
				  		<area shape="rect" coords="142,880,309,935" href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html"  target="element">
				  		<area shape="rect" coords="933,514,1115,569" href="../elements/id-e032d10e-217b-42c7-bcc9-ddecfc6b7e2a.html"  target="element">
				  		<area shape="rect" coords="1138,454,1319,509" href="../elements/id-489c53f3-3727-431b-a856-bc6ac5423b17.html"  target="element">
				  		<area shape="rect" coords="1138,394,1319,449" href="../elements/id-a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html"  target="element">
				  		<area shape="rect" coords="1138,334,1319,389" href="../elements/id-9ed9b111-0157-4f7f-af00-540cd9ca3a97.html"  target="element">
				  		<area shape="rect" coords="933,334,1115,389" href="../elements/id-7ee62c57-9d63-48f7-bef2-9179134e3d5e.html"  target="element">
				  		<area shape="rect" coords="933,454,1115,509" href="../elements/id-1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html"  target="element">
				  		<area shape="rect" coords="933,394,1115,449" href="../elements/id-87f8af28-901d-4687-9117-1d86541aa8ab.html"  target="element">
				          <area shape="rect" coords="10,202,323,394" href="../objects/id-e4b0a4a8-b4c7-4af9-b902-4daf8c22cc8e.html" target="element" >
				  		<area shape="rect" coords="934,718,1090,773" href="../elements/id-f3dc5e03-dc72-4891-9855-89ea4c9650ff.html"  target="element">
				  		<area shape="rect" coords="1138,274,1319,329" href="../elements/id-9e3fb03a-d59d-49b4-b939-127c97159b09.html"  target="element">
				  		<area shape="rect" coords="934,274,1116,329" href="../elements/id-1962985e-5834-4dc7-99fa-41e4d96e7db2.html"  target="element">
				  		<area shape="rect" coords="142,1000,309,1055" href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html"  target="element">
				  		<area shape="rect" coords="1030,34,1222,89" href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html"  target="element">
				  				<area shape="rect" coords="521,993,688,1048" href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html"  target="element">
				  				<area shape="rect" coords="450,873,615,928" href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html"  target="element">
				  				<area shape="rect" coords="496,723,652,778" href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html"  target="element">
				  				<area shape="rect" coords="471,633,615,688" href="../elements/id-5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html"  target="element">
				  				<area shape="rect" coords="471,549,616,604" href="../elements/id-64b01880-5a48-400b-ba71-46eff02a7741.html"  target="element">
				  				<area shape="rect" coords="471,405,687,460" href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html"  target="element">
				  				<area shape="rect" coords="496,243,698,298" href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html"  target="element">

				  		<area shape="rect" coords="394,165,794,1089" href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El sistema de informaci&#243;n SNC recoge y procesa informaci&#243;n integral de la oferta y demanda de cualificaciones para orientar las pol&#237;ticas de empleo y de formaci&#243;n para el trabajo. As&#237; mismo, extrae informaci&#243;n del Centro de Inteligencia para procesar informaci&#243;n y generar reportes, an&#225;lisis y visualizaciones que informen la pol&#237;tica de empleo y de formaci&#243;n para el trabajo. 

Los objetivos del Sistema Nacional de Cualificaciones fueron definidos en el documento &#8220;Bases del Plan de Desarrollo 2018-2020, pacto por Colombia pacto por la Equidad&#8221; con miras al mejoramiento de las condiciones de empleabilidad de los ciudadanos.  

Objetivos espec&#237;ficos de la Plataforma
--Brindar informaci&#243;n de forma agregada y detallada sobre las ocupaciones, la oferta y la demanda laboral actuales y futuras del pa&#237;s, y las competencias requeridas por el mercado de trabajo
--Proveer informaci&#243;n para mejorar los procesos de gesti&#243;n del talento humano basados en competencias
--Brindar informaci&#243;n sobre las caracter&#237;sticas y contenidos de cat&#225;logos de cualificaciones y la oferta de programas de Formaci&#243;n para el trabajo, educaci&#243;n formal y procesos de reconocimiento de aprendizajes previos
--Dar informaci&#243;n sobre est&#225;ndares, procesos y requerimientos para la acreditaci&#243;n de calidad de la oferta educativa y formativa y la oferta acreditada existente con el fin de orientar la elecci&#243;n para el desarrollo de capital humano hacia los oferentes acreditados
--Brindar informaci&#243;n sobre los procesos de certificaci&#243;n de competencias laborales y los requerimientos para alcanzar estas certificaciones
--Brindar orientaci&#243;n para la elecci&#243;n de trayectorias formativas, educativas y laborales, procesos de certificaci&#243;n de competencia y rutas de servicios para mejorar la empleabilidad
--Brindar informaci&#243;n a los proveedores de Formaci&#243;n para el trabajo y educaci&#243;n superior sobre ajustes necesarios a su oferta para la mejora de la calidad y la pertinencia
--Proveer informaci&#243;n para facilitar la identificaci&#243;n de brechas de calidad, de pertinencia y de cantidad de la formaci&#243;n laboral/educativa con respecto a la demanda y oferta laboral


La Plataforma del SNC busca la trazabilidad y consistencia en cuanto a la Evaluaci&#243;n y Certificaci&#243;n de Movilidad y Formaci&#243;n para el Trabajo, la normalizaci&#243;n de competencias, la Formaci&#243;n para el Trabajo, Marco Nacional de Cualificaciones y el esquema de Movilidad y Formativa. 


Componentes
Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones
Orientaci&#243;n de Pol&#237;ticas activas y pasivas
Informes de la Formaci&#243;n Trabajo
Informes de la Pol&#237;tica Empleo
Recolecci&#243;n de fuentes Pol&#237;ticas Empleo
Publicaci&#243;n informaci&#243;n para Actores
Alimentaci&#243;n Indicadores</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element"> GRP01. Servicios de Aplic. del SNC </a> </td>
											    <td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
													    <td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
													    <td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64b01880-5a48-400b-ba71-46eff02a7741.html" target="element"> ASRV03. Informes de la Formaci&#243;n Trabajo </a> </td>
													    <td> <a href="../elements/id-64b01880-5a48-400b-ba71-46eff02a7741.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html" target="element"> ASRV04. Informes de la Pol&#237;tica Empleo </a> </td>
													    <td> <a href="../elements/id-5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element"> ASRV05. Recolecci&#243;n de fuentes Pol&#237;ticas Empleo </a> </td>
													    <td> <a href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html" target="element"> ASRV06. Publicaci&#243;n informaci&#243;n para Actores </a> </td>
													    <td> <a href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> ASRV07. Alimentaci&#243;n Indicadores </a> </td>
													    <td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> ASRV08. Centro de Inteligencia Informaci&#243;n de Empleo </a> </td>
											    <td> <a href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element"> ASRV12. Visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element"> FNC16. Recolecci&#243;n Intermediaci&#243;n laboral (SPE) </a> </td>
											    <td> <a href="../elements/id-1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element"> FNC09. Recolecci&#243;n Brechas Capital Humano </a> </td>
											    <td> <a href="../elements/id-9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3dc5e03-dc72-4891-9855-89ea4c9650ff.html" target="element"> FNC21. Recolecci&#243;n Pol&#237;ticas Act. y Pasv. </a> </td>
											    <td> <a href="../elements/id-f3dc5e03-dc72-4891-9855-89ea4c9650ff.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e4b0a4a8-b4c7-4af9-b902-4daf8c22cc8e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e4b0a4a8-b4c7-4af9-b902-4daf8c22cc8e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-87f8af28-901d-4687-9117-1d86541aa8ab.html" target="element"> FNC19. Recolecci&#243;n Oferta Laboral (SPE) </a> </td>
											    <td> <a href="../elements/id-87f8af28-901d-4687-9117-1d86541aa8ab.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html" target="element"> FNC18. Recolecci&#243;n Oferta Educativa y Formativa (cuantitativa y cualitativa) </a> </td>
											    <td> <a href="../elements/id-1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ee62c57-9d63-48f7-bef2-9179134e3d5e.html" target="element"> FNC15. Recolecci&#243;n Demanda Laboral </a> </td>
											    <td> <a href="../elements/id-7ee62c57-9d63-48f7-bef2-9179134e3d5e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9ed9b111-0157-4f7f-af00-540cd9ca3a97.html" target="element"> FNC12. Recolecci&#243;n Componente Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
											    <td> <a href="../elements/id-9ed9b111-0157-4f7f-af00-540cd9ca3a97.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html" target="element"> FNC11. Recolecci&#243;n Componente Acreditaci&#243;n y Calidad ETDH </a> </td>
											    <td> <a href="../elements/id-a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-489c53f3-3727-431b-a856-bc6ac5423b17.html" target="element"> FNC14. Recolecci&#243;n Componente Normalizaci&#243;n Competencias </a> </td>
											    <td> <a href="../elements/id-489c53f3-3727-431b-a856-bc6ac5423b17.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e032d10e-217b-42c7-bcc9-ddecfc6b7e2a.html" target="element"> FNC13. Recolecci&#243;n Componente Marco Nacional de Cualificaciones </a> </td>
											    <td> <a href="../elements/id-e032d10e-217b-42c7-bcc9-ddecfc6b7e2a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element"> ASRV11. Visor de Informaci&#243;n Empleabilidad y Formaci&#243;n </a> </td>
											    <td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b51bd0e6-91d3-468e-8442-fa2485b9d01c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b51bd0e6-91d3-468e-8442-fa2485b9d01c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a02a2ffe-10dd-492f-a76c-990a0abf7bdb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a02a2ffe-10dd-492f-a76c-990a0abf7bdb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
											    <td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/cd49d1f5-21d8-4f7a-9612-f52980146165.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd49d1f5-21d8-4f7a-9612-f52980146165.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element"> GRP01. Servicios de Aplic. del SNC </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c59bcbdb-8e5f-4cca-879c-1a7bc2eac8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/c59bcbdb-8e5f-4cca-879c-1a7bc2eac8be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element"> GRP01. Servicios de Aplic. del SNC </a> </td>
																		<td> <a href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html" target="element"> ASRV06. Publicaci&#243;n informaci&#243;n para Actores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa5aab4e-f264-4d59-bf5b-4b5cadedb562.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa5aab4e-f264-4d59-bf5b-4b5cadedb562.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element"> GRP01. Servicios de Aplic. del SNC </a> </td>
																		<td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> ASRV07. Alimentaci&#243;n Indicadores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cb362b3-b5e0-4890-859d-37d2a6991da6.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cb362b3-b5e0-4890-859d-37d2a6991da6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ed0e70e6-7caa-4685-b82c-855ad92432f5.html" target="element"> GRP01. Servicios de Aplic. del SNC </a> </td>
																		<td> <a href="../elements/id-62983d23-5b97-4675-9778-1a47ada24357.html" target="element"> BS01. SNC </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-26c29641-becb-4d10-9e4b-d6d19fc1691e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26c29641-becb-4d10-9e4b-d6d19fc1691e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																				<td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1e9df92c-85a4-4444-a7d8-6a775196f214.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e9df92c-85a4-4444-a7d8-6a775196f214.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																				<td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> ASRV07. Alimentaci&#243;n Indicadores </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8f2029cf-02cb-4807-8475-50656c6cb82a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8f2029cf-02cb-4807-8475-50656c6cb82a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
																				<td> <a href="../elements/id-64b01880-5a48-400b-ba71-46eff02a7741.html" target="element"> ASRV03. Informes de la Formaci&#243;n Trabajo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b59414d6-cb8d-40e0-b7b0-8f5efbcab50d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b59414d6-cb8d-40e0-b7b0-8f5efbcab50d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
																				<td> <a href="../elements/id-5c91c01e-cb9f-4a8c-b8b9-21987f1a86a3.html" target="element"> ASRV04. Informes de la Pol&#237;tica Empleo </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aeef99ff-a27a-4c7e-8ae7-9311f2487c2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aeef99ff-a27a-4c7e-8ae7-9311f2487c2d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
																				<td> <a href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html" target="element"> ASRV06. Publicaci&#243;n informaci&#243;n para Actores </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-849a149e-3e1b-4f8a-9cc7-738c9652d560.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-849a149e-3e1b-4f8a-9cc7-738c9652d560.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element"> ASRV05. Recolecci&#243;n de fuentes Pol&#237;ticas Empleo </a> </td>
																				<td> <a href="../elements/id-1d53e996-5888-48f2-be0f-321f2401ff94.html" target="element"> ASRV02. Orientaci&#243;n de Pol&#237;ticas activas y pasivas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-acba2d8b-ff9d-4230-b3bc-1b54ca13cc46.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-acba2d8b-ff9d-4230-b3bc-1b54ca13cc46.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element"> ASRV05. Recolecci&#243;n de fuentes Pol&#237;ticas Empleo </a> </td>
																				<td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> ASRV07. Alimentaci&#243;n Indicadores </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5b893866-3719-467e-b5e7-2928fb99fd7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b893866-3719-467e-b5e7-2928fb99fd7f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-261c579d-1bd3-4c89-8811-1694838da783.html" target="element"> ASRV06. Publicaci&#243;n informaci&#243;n para Actores </a> </td>
																				<td> <a href="../elements/id-4237549d-bc2e-4d06-a0fe-ecfdee04f8ad.html" target="element"> ASRV11. Visor de Informaci&#243;n Empleabilidad y Formaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b8821176-aafb-4a1e-8c0c-32885a76ae72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8821176-aafb-4a1e-8c0c-32885a76ae72.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-1c27468b-e913-4ef6-8636-feb7cb7a3869.html" target="element"> ASRV07. Alimentaci&#243;n Indicadores </a> </td>
																				<td> <a href="../elements/id-360850dc-ec0e-4faa-91f1-48a81aed72c8.html" target="element"> ASRV12. Visualizaci&#243;n </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a9559980-8a8a-4452-9027-22f6f5dfa0bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9559980-8a8a-4452-9027-22f6f5dfa0bb.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> ASRV08. Centro de Inteligencia Informaci&#243;n de Empleo </a> </td>
																		<td> <a href="../elements/id-1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element"> FNC16. Recolecci&#243;n Intermediaci&#243;n laboral (SPE) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24998f24-508e-45f5-89a7-0015ceb55302.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24998f24-508e-45f5-89a7-0015ceb55302.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> ASRV08. Centro de Inteligencia Informaci&#243;n de Empleo </a> </td>
																		<td> <a href="../elements/id-7ee62c57-9d63-48f7-bef2-9179134e3d5e.html" target="element"> FNC15. Recolecci&#243;n Demanda Laboral </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fce996e-05cc-4278-b41c-677b7e294a7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fce996e-05cc-4278-b41c-677b7e294a7a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0cf75bd3-517b-49ea-85d9-b6bbe4502d4b.html" target="element"> ASRV08. Centro de Inteligencia Informaci&#243;n de Empleo </a> </td>
																		<td> <a href="../elements/id-9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element"> FNC09. Recolecci&#243;n Brechas Capital Humano </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-905d8df2-e6b2-4bdb-85c3-d758913e611e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-905d8df2-e6b2-4bdb-85c3-d758913e611e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1962985e-5834-4dc7-99fa-41e4d96e7db2.html" target="element"> FNC16. Recolecci&#243;n Intermediaci&#243;n laboral (SPE) </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f8146d8-ec05-45ce-8e50-ca50f3b5d3fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f8146d8-ec05-45ce-8e50-ca50f3b5d3fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9e3fb03a-d59d-49b4-b939-127c97159b09.html" target="element"> FNC09. Recolecci&#243;n Brechas Capital Humano </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-24a26cfb-4924-4db9-bdf3-6b0abfa91918.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24a26cfb-4924-4db9-bdf3-6b0abfa91918.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f3dc5e03-dc72-4891-9855-89ea4c9650ff.html" target="element"> FNC21. Recolecci&#243;n Pol&#237;ticas Act. y Pasv. </a> </td>
																		<td> <a href="../elements/id-26c3813e-9c46-4e81-bbd0-0ba6192252c3.html" target="element"> ASRV05. Recolecci&#243;n de fuentes Pol&#237;ticas Empleo </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-1c1f2813-4542-47b0-a5a8-f7e9642819f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c1f2813-4542-47b0-a5a8-f7e9642819f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-87f8af28-901d-4687-9117-1d86541aa8ab.html" target="element"> FNC19. Recolecci&#243;n Oferta Laboral (SPE) </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6af4c81a-daf1-43f3-a67e-fa6de274268e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6af4c81a-daf1-43f3-a67e-fa6de274268e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1b735a2a-55d4-4554-92bd-2917dc5c9bc9.html" target="element"> FNC18. Recolecci&#243;n Oferta Educativa y Formativa (cuantitativa y cualitativa) </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0e1b7abc-d885-4dc4-89b6-ae44a1097386.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e1b7abc-d885-4dc4-89b6-ae44a1097386.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7ee62c57-9d63-48f7-bef2-9179134e3d5e.html" target="element"> FNC15. Recolecci&#243;n Demanda Laboral </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9ddee9d-c37f-419e-86fe-be58806cad6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9ddee9d-c37f-419e-86fe-be58806cad6c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9ed9b111-0157-4f7f-af00-540cd9ca3a97.html" target="element"> FNC12. Recolecci&#243;n Componente Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d87290b-bba6-4e8e-919b-8c4afba96e9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d87290b-bba6-4e8e-919b-8c4afba96e9c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a2420a72-ed1b-4b1f-bbb0-9a3f6b0847d6.html" target="element"> FNC11. Recolecci&#243;n Componente Acreditaci&#243;n y Calidad ETDH </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7801cc13-b589-4fc5-90e0-b8b55b8256c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7801cc13-b589-4fc5-90e0-b8b55b8256c0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-489c53f3-3727-431b-a856-bc6ac5423b17.html" target="element"> FNC14. Recolecci&#243;n Componente Normalizaci&#243;n Competencias </a> </td>
																		<td> <a href="../elements/id-760bd1e4-8654-40a7-9685-65a3d22ad581.html" target="element"> ASRV01. Recolecci&#243;n de fuentes Oferta y Demanda de Cualificaciones </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>