<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fuentes_SNC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Fuentes_SNC</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/id-ce9d70192d5345318dd790ea3dc3fb1b.png" alt="Fuentes_SNC" usemap="#id-ce9d70192d5345318dd790ea3dc3fb1bmap">
			<map name="id-ce9d70192d5345318dd790ea3dc3fb1bmap">
						<area shape="rect" coords="274,218,501,273" href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html"  target="element">
								<area shape="rect" coords="46,142,203,203" href="../elements/id-2757795ffc8a436498fc99a2356a3480.html"  target="element">
								<area shape="rect" coords="46,214,203,263" href="../elements/id-6a42e11002244852a09e5865d27e1896.html"  target="element">
								<area shape="rect" coords="58,286,178,341" href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html"  target="element">

						<area shape="rect" coords="10,82,239,391" href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html"  target="element">
								<area shape="rect" coords="586,70,718,131" href="../elements/id-69e444c4721c454c89e30aa4d317e091.html"  target="element">
								<area shape="rect" coords="586,142,718,203" href="../elements/id-ecf3039589ff4cec8c99c5fb85d32e66.html"  target="element">
								<area shape="rect" coords="586,214,718,275" href="../elements/id-593a8aa6957a4bae8a9113b801a0e7c2.html"  target="element">
								<area shape="rect" coords="586,286,718,359" href="../elements/id-743f91707c9e4eb78ea75528a36836e6.html"  target="element">
								<area shape="rect" coords="586,382,718,443" href="../elements/id-cc22956998024837ae3813e13ef82ee9.html"  target="element">

						<area shape="rect" coords="538,22,753,486" href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html"  target="element">
								<area shape="rect" coords="874,70,995,131" href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html"  target="element">

						<area shape="rect" coords="850,10,1019,143" href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html"  target="element">
						<area shape="rect" coords="730,641,850,696" href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html"  target="element">
						<area shape="rect" coords="382,533,515,568" href="../elements/id-539ae40b3250451d94f071ad38a572db.html"  target="element">
						<area shape="rect" coords="383,593,516,654" href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html"  target="element">
						<area shape="rect" coords="574,533,707,588" href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html"  target="element">
						<area shape="rect" coords="574,605,707,642" href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html"  target="element">
						<area shape="rect" coords="574,653,707,702" href="../elements/id-b916af3b3e724a1a9e0d007d1d6dec9b.html"  target="element">
						<area shape="rect" coords="574,713,707,762" href="../elements/id-5a504dc501594788850576cee36d3572.html"  target="element">
						<area shape="rect" coords="868,156,1001,219" href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html"  target="element">
						<area shape="rect" coords="730,581,850,636" href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html"  target="element">
						<area shape="rect" coords="730,730,850,785" href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html"  target="element">
						<area shape="rect" coords="872,393,1005,430" href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html"  target="element">
						<area shape="rect" coords="872,238,998,299" href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html"  target="element">
						<area shape="rect" coords="1042,346,1175,383" href="../elements/id-264751761385418d94488a4c3dfbe28f.html"  target="element">
						<area shape="rect" coords="872,322,1005,359" href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html"  target="element">
						<area shape="rect" coords="1042,262,1175,299" href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html"  target="element">
						<area shape="rect" coords="882,502,988,534" href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Las dificultades para validar en el mercado de trabajo los aprendizajes o saberes previos (experiencia o auto instrucci&#243;n) adquiridos por fuera del sector educativo</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
											<tr><td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> Dificultades de aseguramiento de la calidad FT </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> Falta de informaci&#243;n recurso humano </a> </td><td class="i18n-elementtype-Driver"></td></tr>
													<tr><td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> Dificultad para validar saberes previos </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											
											<tr><td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/id-69e444c4721c454c89e30aa4d317e091.html" target="element"> Marco Nacional de Cualificaciones </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/id-ecf3039589ff4cec8c99c5fb85d32e66.html" target="element"> Esquema de Certificaci&#243;n de Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/id-593a8aa6957a4bae8a9113b801a0e7c2.html" target="element"> Esquema de Movilidad Educativa y Formativa </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/id-743f91707c9e4eb78ea75528a36836e6.html" target="element"> Esquema Aseguramiento Calidad Educativa y Formativa </a> </td><td class="i18n-elementtype-Product"></td></tr>
													<tr><td> <a href="../elements/id-cc22956998024837ae3813e13ef82ee9.html" target="element"> Esquema de Normalizaci&#243;n de Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
											
											<tr><td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
													<tr><td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											
											<tr><td> <a href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html" target="element"> Saber Pro </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-539ae40b3250451d94f071ad38a572db.html" target="element"> Saber TYT </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html" target="element"> SNIES </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html" target="element"> Seguimiento egresados SENA </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html" target="element"> Mesas sectoriales </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-b916af3b3e724a1a9e0d007d1d6dec9b.html" target="element"> Agencia P&#250;blica de Empleo </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-5a504dc501594788850576cee36d3572.html" target="element"> Servicio Nacional de Empleo </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html" target="element"> PILA </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html" target="element"> RUTEC </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element"> SIACET </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> Tabla intermedia programas SIET-CUOC &#191;?. </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> Estudiantes SIET </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> Programas SIET </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> Instituciones SIET </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
											<tr><td> <a href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html" target="element"> CONACES </a> </td><td class="i18n-elementtype-DataObject"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> Dificultades de aseguramiento de la calidad FT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e5ff6ed79bb4e6b982a4e1fd4b007ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e5ff6ed79bb4e6b982a4e1fd4b007ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> Falta de informaci&#243;n recurso humano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> Dificultad para validar saberes previos </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ac850b9ed96b4b5a83729014052b58a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac850b9ed96b4b5a83729014052b58a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> Dificultades de aseguramiento de la calidad FT </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-14cee81b1b1e4d808abe371067da372f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14cee81b1b1e4d808abe371067da372f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> Falta de informaci&#243;n recurso humano </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0f2196dd9c1b4d44b919d5c08fe7531d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0f2196dd9c1b4d44b919d5c08fe7531d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> Dificultad para validar saberes previos </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b5ec157a4b9f42979f34eb0b29014748.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5ec157a4b9f42979f34eb0b29014748.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae06d4debe3d484e815b97b9d119c7e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae06d4debe3d484e815b97b9d119c7e4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-69e444c4721c454c89e30aa4d317e091.html" target="element"> Marco Nacional de Cualificaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5cd67cf962c4c148d3cfc5451b9dc63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5cd67cf962c4c148d3cfc5451b9dc63.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-ecf3039589ff4cec8c99c5fb85d32e66.html" target="element"> Esquema de Certificaci&#243;n de Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3294a08a090d46248a2904d32326d6fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3294a08a090d46248a2904d32326d6fa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-593a8aa6957a4bae8a9113b801a0e7c2.html" target="element"> Esquema de Movilidad Educativa y Formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce80faf82ef24060bf6323f31773c782.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce80faf82ef24060bf6323f31773c782.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-743f91707c9e4eb78ea75528a36836e6.html" target="element"> Esquema Aseguramiento Calidad Educativa y Formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c68e88a585d84e138dfbbaa88efb24ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c68e88a585d84e138dfbbaa88efb24ab.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-cc22956998024837ae3813e13ef82ee9.html" target="element"> Esquema de Normalizaci&#243;n de Competencias </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-69e444c4721c454c89e30aa4d317e091.html" target="element"> Marco Nacional de Cualificaciones </a> </td>
																				<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-168b817f8cf94d83b46b666711b47178.html" target="element"> ET y CUOC </a> </td>
																				<td> <a href="../elements/id-168b817f8cf94d83b46b666711b47178.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-743f91707c9e4eb78ea75528a36836e6.html" target="element"> Esquema Aseguramiento Calidad Educativa y Formativa </a> </td>
																				<td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> Cat&#225;logo Nacional de Cualificaciones </a> </td>
																		<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> Cat&#225;logos sectoriales de cualificaciones </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9dedc64d14f94a7ba1b18cc3afee4715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dedc64d14f94a7ba1b18cc3afee4715.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> Tabla intermedia programas SIET-CUOC &#191;?. </a> </td>
																		<td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0223e89e84294acdb13b386c40a652dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0223e89e84294acdb13b386c40a652dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> Tabla intermedia programas SIET-CUOC &#191;?. </a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> Programas SIET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ea2cf0c6633048918f9c3bcad5045257.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea2cf0c6633048918f9c3bcad5045257.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> Programas SIET </a> </td>
																		<td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> Estudiantes SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74154bb10e60400185cc2b71cc6a01ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74154bb10e60400185cc2b71cc6a01ba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> Programas SIET </a> </td>
																		<td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element"> SIACET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2bbef83b49524f31a34b47a73183054a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bbef83b49524f31a34b47a73183054a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> Instituciones SIET </a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> Programas SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-941228fdeab84b22b747109c5eb00c5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-941228fdeab84b22b747109c5eb00c5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> Instituciones SIET </a> </td>
																		<td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> Estudiantes SIET </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>