<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>APP. SNC. Fuentes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>APP. SNC. Fuentes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ce9d70192d5345318dd790ea3dc3fb1b.png" alt="APP. SNC. Fuentes" usemap="#id-ce9d70192d5345318dd790ea3dc3fb1bmap"/>
			   <map name="id-ce9d70192d5345318dd790ea3dc3fb1bmap">
				  		<area shape="rect" coords="1146,502,1252,534" href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html"  target="element">
				  		<area shape="rect" coords="1306,262,1439,299" href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html"  target="element">
				  		<area shape="rect" coords="1136,322,1269,359" href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html"  target="element">
				  		<area shape="rect" coords="1306,346,1439,383" href="../elements/id-264751761385418d94488a4c3dfbe28f.html"  target="element">
				  		<area shape="rect" coords="1136,238,1262,299" href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html"  target="element">
				  		<area shape="rect" coords="1136,393,1269,430" href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html"  target="element">
				  		<area shape="rect" coords="861,867,981,922" href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html"  target="element">
				  		<area shape="rect" coords="861,718,981,773" href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html"  target="element">
				  		<area shape="rect" coords="1132,156,1265,219" href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html"  target="element">
				  		<area shape="rect" coords="705,850,838,899" href="../elements/id-5a504dc501594788850576cee36d3572.html"  target="element">
				  		<area shape="rect" coords="705,790,838,839" href="../elements/id-b916af3b3e724a1a9e0d007d1d6dec9b.html"  target="element">
				  		<area shape="rect" coords="705,742,838,779" href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html"  target="element">
				  		<area shape="rect" coords="705,670,838,725" href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html"  target="element">
				  		<area shape="rect" coords="514,730,647,791" href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html"  target="element">
				  		<area shape="rect" coords="513,670,646,705" href="../elements/id-539ae40b3250451d94f071ad38a572db.html"  target="element">
				  		<area shape="rect" coords="861,778,981,833" href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html"  target="element">
				  				<area shape="rect" coords="1138,70,1259,131" href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html"  target="element">

				  		<area shape="rect" coords="1114,10,1283,143" href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html"  target="element">
				  				<area shape="rect" coords="598,382,718,437" href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html"  target="element">
				  				<area shape="rect" coords="598,286,718,341" href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">
				  				<area shape="rect" coords="598,214,718,269" href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html"  target="element">
				  				<area shape="rect" coords="598,142,718,197" href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
				  				<area shape="rect" coords="598,73,718,128" href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html"  target="element">

				  		<area shape="rect" coords="538,22,838,486" href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html"  target="element">
				  				<area shape="rect" coords="46,358,203,413" href="../elements/id-3f9be124f52b49649d20f5658b44c530.html"  target="element">
				  				<area shape="rect" coords="46,286,203,341" href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html"  target="element">
				  				<area shape="rect" coords="46,214,203,263" href="../elements/id-6a42e11002244852a09e5865d27e1896.html"  target="element">
				  				<area shape="rect" coords="46,142,203,203" href="../elements/id-2757795ffc8a436498fc99a2356a3480.html"  target="element">

				  		<area shape="rect" coords="10,82,239,430" href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html"  target="element">
				  		<area shape="rect" coords="274,218,501,273" href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Las dificultades para validar en el mercado de trabajo los aprendizajes o saberes previos (experiencia o auto instrucci&#243;n) adquiridos por fuera del sector educativo</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
											    <td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
											    <td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
													    <td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> DR09. Falta de informaci&#243;n recurso humano </a> </td>
													    <td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
													    <td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3f9be124f52b49649d20f5658b44c530.html" target="element"> DR10. Baja articulaci&#243;n entre oferta y demanda laboral </a> </td>
													    <td> <a href="../elements/id-3f9be124f52b49649d20f5658b44c530.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
											    <td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element" class="i18n-elementtype-Product"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
													    <td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
													    <td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
													    <td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
													    <td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
													    <td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element" class="i18n-elementtype-Product"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones CUOC </a> </td>
											    <td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos sectoriales de cualificaciones </a> </td>
													    <td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html" target="element"> DO11. Saber Pro </a> </td>
											    <td> <a href="../elements/id-0e20b1580e9e4b5582715584e13c1e9b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-539ae40b3250451d94f071ad38a572db.html" target="element"> DO12. Saber TYT </a> </td>
											    <td> <a href="../elements/id-539ae40b3250451d94f071ad38a572db.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html" target="element"> DO10. SNIES </a> </td>
											    <td> <a href="../elements/id-3ea4f3a5b4c542f69ba6f94874d80714.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html" target="element"> DO13. Seguimiento egresados SENA </a> </td>
											    <td> <a href="../elements/id-445c1fd9e32b491caf3709d3357d48b5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html" target="element"> DO05. Mesas sectoriales </a> </td>
											    <td> <a href="../elements/id-6d395fcc88a040fda4772bdeaecc5ffc.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b916af3b3e724a1a9e0d007d1d6dec9b.html" target="element"> DO45. Agencia P&#250;blica de Empleo </a> </td>
											    <td> <a href="../elements/id-b916af3b3e724a1a9e0d007d1d6dec9b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a504dc501594788850576cee36d3572.html" target="element"> DO14. Servicio Nacional de Empleo </a> </td>
											    <td> <a href="../elements/id-5a504dc501594788850576cee36d3572.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> DO02. Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
											    <td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html" target="element"> DO07. Planilla Integrada de Liquidaci&#243;n de Aportes (PILA) </a> </td>
											    <td> <a href="../elements/id-f4579c2e54ff42c08c8ea5589ccea5f2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html" target="element"> DO08. RUTEC </a> </td>
											    <td> <a href="../elements/id-3b8321c62fe748ba9fe22073b459faba.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element"> DO09. SIACET </a> </td>
											    <td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> DO15. Programas SIET-CUOC &#191;?. </a> </td>
											    <td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> DO03. Estudiantes SIET </a> </td>
											    <td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
											    <td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> DO04. Instituciones SIET </a> </td>
											    <td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html" target="element"> DO22. CONACES </a> </td>
											    <td> <a href="../elements/id-2ef748d4f4994576a5e386ff4daa7a81.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75c76a6d9c7947ee96b483b382e1127a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e5ff6ed79bb4e6b982a4e1fd4b007ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e5ff6ed79bb4e6b982a4e1fd4b007ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> DR09. Falta de informaci&#243;n recurso humano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dd93ceaeaa74981b72ec5aa781e0605.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61ce519cca814acdad258ec923db1985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61ce519cca814acdad258ec923db1985.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b562ff6c99c94eae9a785f62d73c8684.html" target="element"> Barreras de empleabilidad </a> </td>
																		<td> <a href="../elements/id-3f9be124f52b49649d20f5658b44c530.html" target="element"> DR10. Baja articulaci&#243;n entre oferta y demanda laboral </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ac850b9ed96b4b5a83729014052b58a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac850b9ed96b4b5a83729014052b58a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-2757795ffc8a436498fc99a2356a3480.html" target="element"> DR08. Dificultades de aseguramiento de la calidad FT </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-14cee81b1b1e4d808abe371067da372f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14cee81b1b1e4d808abe371067da372f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6a42e11002244852a09e5865d27e1896.html" target="element"> DR09. Falta de informaci&#243;n recurso humano </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0f2196dd9c1b4d44b919d5c08fe7531d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0f2196dd9c1b4d44b919d5c08fe7531d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-af0c10de3ece4b7ba81b3f091c12571d.html" target="element"> DR07. Dificultad para validar saberes previos </a> </td>
																				<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b5ec157a4b9f42979f34eb0b29014748.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5ec157a4b9f42979f34eb0b29014748.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Implementar la Plataforma Informaci&#243;n SNC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c22bf4a1-e71e-4441-bc07-5ba59621b94f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c22bf4a1-e71e-4441-bc07-5ba59621b94f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8df670e6-72a9-46d9-a052-1ea2a002c8b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8df670e6-72a9-46d9-a052-1ea2a002c8b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48610a6e-cc0a-4fb3-8038-e6d6aca84142.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48610a6e-cc0a-4fb3-8038-e6d6aca84142.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-453c204b-a8a6-4089-b65c-a0fe594e9413.html" target="element"> PD05. Esquema Movilidad Educativa y Formativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-898521c4-9d8b-4010-9aa9-fcbc7e9e60a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-898521c4-9d8b-4010-9aa9-fcbc7e9e60a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d2eb987-9f06-462b-9232-7fad6e8991b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d2eb987-9f06-462b-9232-7fad6e8991b5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a3b20819140b45b1900914f3e7c5681c.html" target="element"> Plataforma Informaci&#243;n SNC </a> </td>
																		<td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-405dbd9fc2034f928062880cef4dc4d4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-06cfd8fe-9ef3-4a57-9b17-d33c2cd593f1.html" target="element"> PD01. MNC (Marco Nacional Cualificaciones) </a> </td>
																				<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos sectoriales de cualificaciones </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-168b817f8cf94d83b46b666711b47178.html" target="element"> ET y CUOC </a> </td>
																				<td> <a href="../elements/id-168b817f8cf94d83b46b666711b47178.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td>
																				<td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> DO02. Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc0787922ec478b8f0677dbfe5c5ee0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-0c0b600d67f248c8a0ccfbfd6305490c.html" target="element"> DO01. Cat&#225;logo Nacional de Cualificaciones CUOC </a> </td>
																		<td> <a href="../elements/id-02b97ff09dec406dbeaa4e8e64725b31.html" target="element"> DO20. Cat&#225;logos sectoriales de cualificaciones </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9dedc64d14f94a7ba1b18cc3afee4715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dedc64d14f94a7ba1b18cc3afee4715.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> DO15. Programas SIET-CUOC &#191;?. </a> </td>
																		<td> <a href="../elements/id-d4c097ad201c4ade97be1c6c3ed23004.html" target="element"> DO02. Clasificaci&#243;n &#218;nica de Ocupaciones para Colombia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0223e89e84294acdb13b386c40a652dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0223e89e84294acdb13b386c40a652dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-77eeb981c3b441eda3f031d4b8a8fef8.html" target="element"> DO15. Programas SIET-CUOC &#191;?. </a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ea2cf0c6633048918f9c3bcad5045257.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea2cf0c6633048918f9c3bcad5045257.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
																		<td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> DO03. Estudiantes SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74154bb10e60400185cc2b71cc6a01ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74154bb10e60400185cc2b71cc6a01ba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
																		<td> <a href="../elements/id-f265658d4cd74fb38a78273ea43cf555.html" target="element"> DO09. SIACET </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2bbef83b49524f31a34b47a73183054a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bbef83b49524f31a34b47a73183054a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> DO04. Instituciones SIET </a> </td>
																		<td> <a href="../elements/id-59824ba4cb1746edb8f201fee8c6ea3d.html" target="element"> DO06. Programas SIET </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-941228fdeab84b22b747109c5eb00c5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-941228fdeab84b22b747109c5eb00c5e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a92054736b3f4ebd9e4d29128136309d.html" target="element"> DO04. Instituciones SIET </a> </td>
																		<td> <a href="../elements/id-264751761385418d94488a4c3dfbe28f.html" target="element"> DO03. Estudiantes SIET </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>