<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BMM. Fines Acciones Productos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>BMM. Fines Acciones Productos</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/id-fa31fec0-d7ab-4669-ad9f-2f3d599860e0.png" alt="BMM. Fines Acciones Productos" usemap="#id-fa31fec0-d7ab-4669-ad9f-2f3d599860e0map">
			<map name="id-fa31fec0-d7ab-4669-ad9f-2f3d599860e0map">
						<area shape="rect" coords="10,442,237,497" href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html"  target="element">
						<area shape="rect" coords="10,382,237,437" href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html"  target="element">
						<area shape="rect" coords="10,502,237,557" href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html"  target="element">
						<area shape="rect" coords="10,322,237,377" href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html"  target="element">
						<area shape="rect" coords="562,376,742,431" href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html"  target="element">
						<area shape="rect" coords="562,622,742,677" href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html"  target="element">
						<area shape="rect" coords="562,442,742,497" href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html"  target="element">
						<area shape="rect" coords="562,502,742,557" href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html"  target="element">
						<area shape="rect" coords="430,118,617,173" href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html"  target="element">
								<area shape="rect" coords="334,378,486,433" href="../elements/id-8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html"  target="element">
								<area shape="rect" coords="334,450,486,505" href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html"  target="element">
								<area shape="rect" coords="334,522,486,577" href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html"  target="element">
								<area shape="rect" coords="334,594,486,649" href="../elements/id-47a24a51-c69d-4587-828a-b2f049c52373.html"  target="element">

						<area shape="rect" coords="310,222,514,667" href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html"  target="element">
						<area shape="rect" coords="562,562,742,617" href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html"  target="element">
						<area shape="rect" coords="562,222,742,277" href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html"  target="element">
						<area shape="rect" coords="430,10,622,65" href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El programa tiene como objetivo general aumentar la empleabilidad de la fuerza laboral nacional y migrante. 

Para lograrlo, apunta a los objetivos específicos: (i) aumentar la cobertura y efectividad de las políticas de empleo
(ii) fortalecer el sistema que asegura la pertinencia y calidad de la FT y ampliar el alcance de la certificación basada en competencias.

Aciones de los Objetivos
EST03. La implementación del Sistema de Información del Servicio Público de Empleo el cual automatizará el Modelo de Inclusión Laboral con enfoque de cierre de brechas y permitirá la consolidación de una bolsa única de empleo que permita el acceso y gestión a todas las vacantes en toda la red de prestadores del Servicio Público de Empleo, el fortalecimiento de servicios especializados dirigidos a eliminar las barreras de inclusión laboral y facilitar la colocación de la población colombiana, bajo estándares mínimos de calidad en la atención en la ruta básica de empleo y la definición de un nivel de intervención especializado que incluya acciones y/o ajustes a la ruta básica. 

EST05. La consolidación de una plataforma de información para el Sistema Nacional de Cualificaciones (SNC), como instrumento que articulará y generará la interacción de información de demanda laboral (requerimientos y necesidades del sector productivo), oferta laboral (características de quienes ofrecen su fuerza de trabajo) y oferta educativa y formativa (información cuantitativa y cualitativa sobre los programas educativos y formativos y las instituciones que los ofrecen). 

EST03. La implementación del Sistema de Información para la gestión del empleo y la productividad como herramienta tecnológica de información que permitirá integrar, interoperar, coordinar y focalizar los instrumentos de políticas activas y pasivas de empleo para el seguimiento y análisis de las estrategias de inserción laboral y la efectividad de los recursos destinados a la política de empleo, a través de la articulación del sistema del Servicio Público de Empleo, la planilla integrada de liquidación de aportes (PILA), el sistema de seguimiento del mecanismo de protección al cesante (SIMPC), del sistema nacional de cualificaciones (SNC) y otras fuentes de información relevantes que puedan aportar en aspectos como la capacitación, incentivos de cesantías, seguimiento y verificación de requisitos para la oferta laboral colombiana.

EST04. El diseño e implementación del subsistema de aseguramiento de la calidad de la formación para el trabajo a través de la consolidación de un modelo de aseguramiento de calidad de la formación que contempla el desarrollo de estándares, metodologías, indicadores y su implementación a través de pilotos que permitirán al fortalecimiento de la capacidad técnica de los actores competentes y los prestadores del servicio de aprendizaje con lineamientos que se ajusten periódicamente a la demanda del mercado laboral, y la incorporación de estrategias de seguimiento y evaluación que permitan reorientar la oferta de formación para el trabajo.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/id-6529e2b5-81c0-4467-88dd-0a772e76a6fd.html" target="element"> EST02. Plataforma Informaci&#243;n SNC </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/id-2c2a73fb-0dbc-4745-836f-4de1d7f82078.html" target="element"> EST03. Sistema Informaci&#243;n Gesti&#243;n Empleo y Productividad </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/id-daddb2b9-47a6-4af7-a355-4d7dd92d4159.html" target="element"> EST04. Implementaci&#243;n Subsistema Aseguramiento Calidad de la Formaci&#243;n </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/id-37e20aa4-8850-46cd-a8da-41a1da80dc0f.html" target="element"> EST05. Consolidaci&#243;n Lineamientos del Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/id-03b82ef2-a0cc-4e5b-b2be-e31aaeed0688.html" target="element"> PD04. Subsistema Evaluaci&#243;n y Certificaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-ce236631-fc5e-4589-923b-26b8b120c617.html" target="element"> PD03. Subsistema Normalizaci&#243;n Competencias </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-fb3c7359-e61b-4244-b482-768a2f4bd575.html" target="element"> PD06. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-91162640-9e76-4c3b-a1d8-feac0978e168.html" target="element"> PD02.0. Subsistemas Formaci&#243;n Trabajo </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-d1f80a3b-4ecf-4308-a624-43960bac8be0.html" target="element"> GLO. Fortalecer empleo y formaci&#243;n trabajo </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/id-bb617734-3521-4d1e-ab68-1a6e2ff6cb3b.html" target="element"> GLE2. Fortalecer calidad oferta formativa, reconocimiento, valoraci&#243;n aprendizajes </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/id-8476bf70-c6b9-400d-bfc8-9a0d18e7708f.html" target="element"> G01. Dise&#241;ar Subsistema Evaluaci&#243;n y certificaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/id-bae1d7be-3836-4431-b161-89da7e5d34ee.html" target="element"> G04. Plataforma de informaci&#243;n del SNC </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/id-ed3ea9b2-1465-4ed6-9b1f-68fc42bb5a97.html" target="element"> G03. Aseguramiento de la Calidad </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/id-47a24a51-c69d-4587-828a-b2f049c52373.html" target="element"> G02. Normalizaci&#243;n de competencias </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<tr><td> <a href="../elements/id-22660beb-d85c-4eb0-ac04-a5fe2d1555c8.html" target="element"> PD02.1. Subsistemas Aseguramiento Calidad </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/id-d22a24ab-bf8f-44d8-862d-d9c29482f4b9.html" target="element"> GLE1. Mejorar Articulaci&#243;n Demanda Oferta Laboral </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/id-ec3f8784-2ac4-476c-8185-621d8c267693.html" target="element"> (proyecto) Programa para Fortalecer Pol&#237;ticas de Empleo (CO-L1250) </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>